@charset 'utf-8';
#wrap * {box-sizing: border-box;}

.vid-wrap {background: url(http://img.ocean2you.co.kr/renew/intro/intro_titBg.jpg) no-repeat top center; padding-top: 98px; position: relative; width: 100%; height: 350px; 
	-webkit-background-size: cover; background-size: cover;}

.bx-wrapper .bx-controls-direction {margin-top: -25px;}
.bx-wrapper .bx-controls-direction a {width: 57px;}
.bx-wrapper .bx-prev {left: 15px;}
.bx-wrapper .bx-next {right: 15px;}

.event-wrap .fc-list .txt-box .more-a
{color: #fff;}

@media (max-width: 767px) {
	.xs-block {display: block;}
	.xs-hidden {display: none;}
	.vid-wrap {height: 204px;}
	
	.title {position: relative;}
	.title .tit-box {text-align: center; padding-top: 0px; color: #fff;}
	.title .tit-box h2 {font-size: 20px;}
	.title .tit-box .mg- {display: block; height: 1px; width: 30px; margin: 15px auto 15px; background: #fff;}
	.title .tit-box .titTxt img {width: 230px;}
	.title .tit-box .p0 {display: none;}
	
	.event-wrap {padding: 40px 0 100px;}
	.bx-wrapper, .bx-wrapper, .event-wrap .container {width: 360px;}
	#evt-box > section {word-break: keep-all; text-align: center;}
	.event-wrap [class*=facil-] h3 {font-size: 15px; margin: 0px auto 10px; color: #595959; font-weight: 600; letter-spacing: -1px;}
	.event-wrap .bxBox {position: relative;}
	.event-wrap .bxBox .bxS > li {position: relative; width: 360px; height: 183px; background-size: 360px;}
	.event-wrap .bxBox .li-1 {background: url(http://img.ocean2you.co.kr/renew/event/event_01_m.jpg) no-repeat;}
	.event-wrap .bxBox .li-2 {background: url(http://img.ocean2you.co.kr/renew/event/event_02_m.jpg) no-repeat;}
	/* 20180306_이벤트페이지 추가 및 디자인 수정_다솜 */
	.event-wrap .bxBox .li-3 {background: url(http://img.ocean2you.co.kr/renew/event/event_03_m.jpg) no-repeat;}
	.event-wrap .bxBox .li-4 {background: url(http://img.ocean2you.co.kr/renew/event/event_04_m.jpg) no-repeat;}
	.event-wrap .kite .bxBox .li-1 {background: url(http://img.ocean2you.co.kr/renew/event/event_kite01_m.jpg) no-repeat; background-size: cover;}
	.event-wrap .kite .bxBox .li-2 {background: url(http://img.ocean2you.co.kr/renew/event/event_kite02_m.jpg) no-repeat; background-size: cover;}
	.event-wrap .tulip .bxBox .li-1 {background: url(http://img.ocean2you.co.kr/renew/event/event_tulip01_m.jpg) no-repeat; background-size: cover;}
	.event-wrap .tulip .bxBox .li-2 {background: url(http://img.ocean2you.co.kr/renew/event/event_tulip02_m.jpg) no-repeat; background-size: cover;}
	.event-wrap .midnight .bxBox iframe {width: 100%; height: 203px;}
	.event-wrap .midnight .evt01-tb {margin-top: 15px;}
	
	.fac-mt {margin-top: 30px; padding-top: 30px; border-top: 1px solid #ccc;}
	.fac-mt-b {margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #ccc;}
	
	.event-wrap .evt01-tb {position: relative; padding: 0 4px; margin: 0 auto; text-align: left; margin-top: 40px; letter-spacing: -1px; line-height: 1.2;}
	.event-wrap .evt01-tb > li {/*float: left;*/display:table; width: 100%; border: 1px solid #bfbfbf; margin-top: -1px;} 
	.event-wrap .evt01-tb > li:first-child {margin-top: 0;}
	.event-wrap .evt01-tb > li span {display: table-cell;}
	.event-wrap .evt01-tb .l-th, .event-wrap .evt01-tb .s-lbl {background: #eaeaea;}
	.event-wrap .evt01-tb .l-th {text-align: center; color: #414141; font-size: 15px; padding: 10px 0; font-weight: 700;}
	.event-wrap .evt01-tb .l-td {color: #5d5d5d; font-size: 0;}
	.event-wrap .evt01-tb .l-td > span {padding: 10px 0; vertical-align:middle;}
	.event-wrap .evt01-tb .l-td .s-lbl {border-right: 1px solid #bfbfbf; width: 17%; text-align: center; font-size: 13px;}
	.event-wrap .evt01-tb .l-td .s-txt {width: 83%; font-size: 12.5px; padding-left: 5px;}
	
	
	
	.event-wrap .fc-list .txt-box {position: absolute; left: 0; top: 50%; margin-top: -32px; width: 100%; color: #fff; letter-spacing: -1px;}
	.event-wrap .fc-list .txt-box .p1 {font-size: 13px; font-weight: 600; display: none;}
	.event-wrap .fc-list .txt-box .p2 {font-size: 12px; line-height: 1.3;}
	.event-wrap .fc-list .txt-box .more-a {position: relative; width: 102px; height: 24px; font-size: 13px; padding-top: 3px; display: inline-block; margin-top: 8px; border: 1px solid #44a8ff;}
	.event-wrap .fc-list .txt-box .more-a:after {content: " "; display: inline-block; height: 100%; vertical-align: middle;}
	.event-wrap .fc-list .txt-box .more-a .gt {position: relative; width: 6px; margin-left: 2px; left: 5px; top: -1px;}
	
	
	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {position: absolute; width: 100%; 
		bottom: -22px; display: block; text-align: center;}
	.bx-wrapper .bx-pager.bx-default-pager a {background: #fff; width: 8px; height: 8px; margin: 0 2.5px;
		border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; border: 1px solid #8d8d8b;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {background: #44a8ff; border-color: #44a8ff;}
	
	.bx-wrapper {width: 100%;}
	.bx-wrapper .bx-controls-direction {margin-top: -8px;}
	.bx-wrapper .bx-controls-direction a {width: 22px; height: auto;}
	.bx-wrapper .bx-prev {left: 5px;}
	.bx-wrapper .bx-next {right: 5px;}
	
	
}
@media (max-device-width: 320px) {
	.bx-wrapper, .bx-wrapper, .event-wrap .container {width: 320px;}
	.event-wrap .bxBox .bxS > li {width: 320px; height: 162px; background-size: 320px;}
	
	.event-wrap .evt01-tb {width: 320px;}
	.event-wrap .evt01-tb .l-th {letter-spacing: -1.5px;}
	.event-wrap .evt01-tb .l-td .s-txt {font-size: 12px; letter-spacing: -1.5px;}
}


@media (min-width: 768px) and (max-width: 992px) {
	.vid-wrap {height: 320px;}
	
	.title {position: relative;}
	.title .tit-box {text-align: center; padding-top: 50px; color: #fff;}
	.title .tit-box h2 {font-size: 24px;}
	.title .tit-box .mg- {display: block; height: 1px; width: 30px; margin: 18px auto 20px; background: #fff;}
	.title .tit-box .p0 {font-size: 18px; margin-top: 10px;}
	
	.event-wrap {padding: 60px 0 170px;}
	.bx-wrapper, .bx-wrapper, .event-wrap .container {width: 768px;}
	#evt-box > section {word-break: keep-all; text-align: center;}
	.event-wrap [class*=facil-] h3 {font-size: 20px; margin: 0px auto 18px; color: #595959; font-weight: 600;}
	.event-wrap .bxBox {position: relative;}
	.event-wrap .bxBox .bxS > li {width: 768px; height: 326px;}
	.event-wrap .bxBox .li-1 {background: url(http://img.ocean2you.co.kr/renew/event/event_01_t.jpg) no-repeat;}
	.event-wrap .bxBox .li-2 {background: url(http://img.ocean2you.co.kr/renew/event/event_02_t.jpg) no-repeat;}
	/* 20180306_이벤트페이지 배너추가_다솜 */
	.event-wrap .bxBox .li-3 {background: url(http://img.ocean2you.co.kr/renew/event/event_03_t.jpg) no-repeat;}
	.event-wrap .bxBox .li-4 {background: url(http://img.ocean2you.co.kr/renew/event/event_04_t.jpg) no-repeat;}
	.event-wrap .kite .bxBox .li-1 {background: url(http://img.ocean2you.co.kr/renew/event/event_kite01_t.jpg) no-repeat; background-size: cover;}
	.event-wrap .kite .bxBox .li-2 {background: url(http://img.ocean2you.co.kr/renew/event/event_kite02_t.jpg) no-repeat; background-size: cover;}
	.event-wrap .tulip .bxBox .li-1 {background: url(http://img.ocean2you.co.kr/renew/event/event_tulip01_t.jpg) no-repeat; background-size: cover;}
	.event-wrap .tulip .bxBox .li-2 {background: url(http://img.ocean2you.co.kr/renew/event/event_tulip02_t.jpg) no-repeat; background-size: cover;}
	.event-wrap .midnight .bxBox iframe {width: 100%; height: 434px;}
	
	.fac-mt {margin-top: 40px; padding-top: 40px; border-top: 1px solid #ccc;}
	.fac-mt-b {margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #ccc;}
	
	.event-wrap .evt01-tb {position: relative; padding: 0 10px; text-align: left; margin-top: 54px; letter-spacing: -1px; line-height: 1.2;}
	.event-wrap .evt01-tb > li {float: left; width: 100%; border: 1px solid #bfbfbf; margin-top: -1px;} 
	.event-wrap .evt01-tb > li:first-child {margin-top: 0;}
	.event-wrap .evt01-tb > li span {display: inline-block; vertical-align: top;}
	.event-wrap .evt01-tb .l-th, .event-wrap .evt01-tb .s-lbl {background: #eaeaea;}
	.event-wrap .evt01-tb .l-th {text-align: center; color: #414141; font-size: 20px; padding: 15px 0; font-weight: 700;}
	.event-wrap .evt01-tb .l-td {color: #5d5d5d; font-size: 0; width: 50%;}
	.event-wrap .evt01-tb .l-td > span {padding: 12px 0; font-size: 19px;}
	.event-wrap .evt01-tb .l-td.type02 > span  {height: 70px;}
	.event-wrap .evt01-tb .l-td .s-lbl {border-right: 1px solid #bfbfbf; width: 25%; text-align: center;}
	.event-wrap .evt01-tb .l-td .s-txt {padding-left: 10px; width: 75%;}
	.event-wrap .evt01-tb .l-td:nth-child(4)
	, .event-wrap .evt01-tb .l-td:nth-child(5) .s-lbl {line-height: 2.4;}
	.event-wrap .evt01-tb .l-td:nth-child(2)
	, .event-wrap .evt01-tb .l-td:nth-child(4)
	, .event-wrap .evt01-tb .l-td:nth-child(6) {border-right: 0;}
	
	.event-wrap .evt01-tb .l-td.nth-2
	, .event-wrap .evt01-tb .l-td.nth-4
	, .event-wrap .evt01-tb .l-td.nth-6 {border-right: 0;}
	.event-wrap .lh-01 {line-height: 2.4 !important;}
	.event-wrap .lh-02 {line-height: 1.2 !important;}
	.event-wrap .br-r-01 {border-right: 0 !important;}
	
	.event-wrap .kite .l-td.nth-6 .s-txt,
	.event-wrap .kite .l-td.nth-7 .s-txt {font-size: 15px; position: relative; top: 4px;}
	
	.event-wrap .fc-list .txt-box {position: absolute; left: 0; top: 70px; width: 100%; color: #fff;}
	.event-wrap .fc-list .txt-box .p1 {font-size: 22px;}
	.event-wrap .fc-list .txt-box .p2 {font-size: 15px; margin-top: 16px; line-height: 1.6;}
	.event-wrap .fc-list .txt-box .more-a {width: 142px; height: 35px; font-size: 16px; display: inline-block; padding-top: 2px; margin-top: 20px; border: 1px solid #44a8ff;}
	.event-wrap .fc-list .txt-box .more-a:after {content: ""; display: inline-block; height: 100%; vertical-align: middle;}
	.event-wrap .fc-list .txt-box .more-a .gt {position: relative; width: 7px; margin-left: 2px; left: 10px; top: -1px;}

	
	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {position: absolute; width: 100%; 
		bottom: -30px; display: block; text-align: center;}
	.bx-wrapper .bx-pager.bx-default-pager a {background: #fff; width: 11px; height: 11px; margin: 0 2.5px;
		border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; border: 1px solid #8d8d8b;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {background: #44a8ff; border-color: #44a8ff;}
	
	.bx-wrapper {width: 100%;}
	.bx-wrapper .bx-controls-direction {margin-top: -10px;}
	.bx-wrapper .bx-controls-direction a {width: 38px; height: auto;}
	.bx-wrapper .bx-prev {left: 14px;}
	.bx-wrapper .bx-next {right: 14px;}
	
	
	
}

@media (min-width: 992px) and (max-width: 1431px) {
	
	.title {position: relative;}
	.title .tit-box {text-align: center; padding-top: 60px; color: #fff;}
	.title .tit-box h2 {font-size: 24px;}
	.title .tit-box .mg- {display: block; height: 1px; width: 60px; margin: 18px auto 20px; background: #fff;}
	.title .tit-box .p0 {font-size: 18px; margin-top: 10px;}
	
	.event-wrap {padding: 60px 0 170px;}
	.bx-wrapper, .bx-wrapper, .event-wrap .container {width: 992px;}
	#evt-box > section {word-break: keep-all; text-align: center;}
	.event-wrap [class*=facil-] h3 {font-size: 21px; margin: 0px auto 25px; color: #595959; font-weight: 600;}
	.event-wrap .bxBox {position: relative;}
	/*.event-wrap .bxBox .bxS > li {width: 1180px; height: 493px;}*/
	.event-wrap .bxBox .bxS > li {width: 992px; height: 414px; background-size: 992px;}
	.event-wrap .bxBox .li-1 {background: url(http://img.ocean2you.co.kr/renew/event/event_01.jpg) no-repeat;}
	.event-wrap .bxBox .li-2 {background: url(http://img.ocean2you.co.kr/renew/event/event_02.jpg) no-repeat;}
	/* 20180306_이벤트페이지 배너추가_다솜 */
	.event-wrap .bxBox .li-3 {background: url(http://img.ocean2you.co.kr/renew/event/event_03.jpg) no-repeat;}
	.event-wrap .bxBox .li-4 {background: url(http://img.ocean2you.co.kr/renew/event/event_04.jpg) no-repeat;}
	.event-wrap .kite .bxBox .li-1 {background: url(http://img.ocean2you.co.kr/renew/event/event_kite01.jpg) no-repeat; background-size: cover;}
	.event-wrap .kite .bxBox .li-2 {background: url(http://img.ocean2you.co.kr/renew/event/event_kite02.jpg) no-repeat; background-size: cover;}
	.event-wrap .tulip .bxBox .li-1 {background: url(http://img.ocean2you.co.kr/renew/event/event_tulip01.jpg) no-repeat; background-size: cover;}
	.event-wrap .tulip .bxBox .li-2 {background: url(http://img.ocean2you.co.kr/renew/event/event_tulip02.jpg) no-repeat; background-size: cover;}
	.event-wrap .midnight .bxBox iframe {width: 100%; height: 558px;}
	
	.event-wrap .evt01-tb {position: relative; padding: 0 10px; text-align: left; margin-top: 54px; letter-spacing: -1px; line-height: 1.2;}
	.event-wrap .evt01-tb > li {float: left; width: 100%; border: 1px solid #bfbfbf; margin-top: -1px;} 
	.event-wrap .evt01-tb > li:first-child {margin-top: 0;}
	.event-wrap .evt01-tb > li span {display: inline-block; vertical-align: top;}
	.event-wrap .evt01-tb .l-th, .event-wrap .evt01-tb .s-lbl {background: #eaeaea;}
	.event-wrap .evt01-tb .l-th {text-align: center; color: #414141; font-size: 20px; padding: 15px 0; font-weight: 700;}
	.event-wrap .evt01-tb .l-td {color: #5d5d5d; font-size: 0; width: 50%;}
	.event-wrap .evt01-tb .l-td > span {padding: 12px 0; font-size: 19px;}
	.event-wrap .evt01-tb .l-td.type02 > span  {height: 70px;}
	.event-wrap .evt01-tb .l-td .s-lbl {border-right: 1px solid #bfbfbf; width: 25%; text-align: center;}
	.event-wrap .evt01-tb .l-td .s-txt {padding-left: 10px; width: 75%;}
	.event-wrap .evt01-tb .l-td:nth-child(4)
	, .event-wrap .evt01-tb .l-td:nth-child(5) .s-lbl {line-height: 2.4;}
	.event-wrap .evt01-tb .l-td:nth-child(2)
	, .event-wrap .evt01-tb .l-td:nth-child(4)
	, .event-wrap .evt01-tb .l-td:nth-child(6) {border-right: 0;}
	
	.event-wrap .evt01-tb .l-td.nth-2
	, .event-wrap .evt01-tb .l-td.nth-4
	, .event-wrap .evt01-tb .l-td.nth-6 {border-right: 0;}
	.event-wrap .lh-01 {line-height: 2.4 !important;}
	.event-wrap .lh-02 {line-height: 1.2 !important;}
	.event-wrap .br-r-01 {border-right: 0 !important;}
	
	/* 20180306_이벤트페이지 추가 및 디자인 수정_다솜 */
	.fac-mt {margin-top: 50px; padding-top: 50px; border-top: 1px solid #ccc;}
	.fac-mt-b {margin-bottom: 50px; padding-bottom: 50px; border-bottom: 1px solid #ccc;}
	.event-wrap .evt02-tb .l-td {color: #5d5d5d; font-size: 0; width: 33.33%;}
	.event-wrap .evt02-tb .l-td:nth-child(4) {line-height:1.2; border-right:1px solid #bfbfbf;}
	.event-wrap .evt02-tb .l-td:nth-child(2), .event-wrap .evt02-tb .l-td:nth-child(3), .event-wrap .evt02-tb .l-td:nth-child(5), .event-wrap .evt02-tb .l-td:nth-child(6) {border-right:0;}
	.event-wrap .evt02-tb .l-td.type03, .event-wrap .evt01-tb .l-td:nth-child(5) .s-lbl {line-height:2.4;}
	.event-wrap .evt02-tb .l-td.type02, .event-wrap .evt02-tb .l-td:nth-child(5) .s-txt {line-height:1.2;}
	.event-wrap .evt02-tb .l-td > span {font-size: 18px;}
	.event-wrap .evt02-tb .l-td.type02 > span {height:auto;}
	
	
	.event-wrap .fc-list .txt-box {position: absolute; left: 0; top: 105px; width: 100%; color: #fff;}
	.event-wrap .fc-list .txt-box .p1 {font-size: 30px;}
	.event-wrap .fc-list .txt-box .p2 {font-size: 18px; margin-top: 16px; line-height: 1.6;}
	.event-wrap .fc-list .txt-box .more-a > * {vertical-align: middle;}
	.event-wrap .fc-list .txt-box .more-a {width: 142px; height: 35px; font-size: 17px; display: inline-block; margin-top: 20px; border: 1px solid #44a8ff;}
	.event-wrap .fc-list .txt-box .more-a:after {content: ""; display: inline-block; height: 91%; vertical-align: middle;}
	.event-wrap .fc-list .txt-box .more-a .gt {position: relative; top: 2px; width: 8px; margin-left: 2px; left: 10px;}

	
	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {position: absolute; width: 100%; bottom: -30px; display: block; text-align: center;}
	.bx-wrapper .bx-pager.bx-default-pager a {background: #fff; width: 11px; height: 11px; margin: 0 2.5px;
		border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; border: 1px solid #8d8d8b;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {background: #44a8ff; border-color: #44a8ff;}
	
	
}


@media (min-width: 1432px) {
	

	.title {position: relative;}
	.title .tit-box {text-align: center; padding-top: 60px; color: #fff;}
	.title .tit-box h2 {font-size: 27px;}
	.title .tit-box .mg- {display: block; height: 1px; width: 60px; margin: 18px auto 20px; background: #fff;}
	.title .tit-box .p0 {font-size: 20px; margin-top: 10px;}
	
	.event-wrap {padding: 60px 0 170px;}
	.bx-wrapper, .bx-wrapper, .event-wrap .container {width: 1180px;}
	#evt-box > section {word-break: keep-all; text-align: center;}
	.event-wrap [class*=facil-] h3 {font-size: 21px; margin: 0px auto 25px; color: #595959; font-weight: 600;}
	.event-wrap .bxBox {position: relative;}
	.event-wrap .bxBox .bxS > li {width: 1180px; height: 493px;}
	.event-wrap .bxBox .li-1 {background: url(http://img.ocean2you.co.kr/renew/event/event_01.jpg) no-repeat;}
	.event-wrap .bxBox .li-2 {background: url(http://img.ocean2you.co.kr/renew/event/event_02.jpg) no-repeat;}
	/* 20180306_이벤트페이지 배너추가_다솜 */
	.event-wrap .bxBox .li-3 {background: url(http://img.ocean2you.co.kr/renew/event/event_03.jpg) no-repeat;}
	.event-wrap .bxBox .li-4 {background: url(http://img.ocean2you.co.kr/renew/event/event_04.jpg) no-repeat;}
	.event-wrap .kite .bxBox .li-1 {background: url(http://img.ocean2you.co.kr/renew/event/event_kite01.jpg) no-repeat; background-size: cover;}
	.event-wrap .kite .bxBox .li-2 {background: url(http://img.ocean2you.co.kr/renew/event/event_kite02.jpg) no-repeat; background-size: cover;}
	.event-wrap .tulip .bxBox .li-1 {background: url(http://img.ocean2you.co.kr/renew/event/event_tulip01.jpg) no-repeat; background-size: cover;}
	.event-wrap .tulip .bxBox .li-2 {background: url(http://img.ocean2you.co.kr/renew/event/event_tulip02.jpg) no-repeat; background-size: cover;}
	.event-wrap .midnight .bxBox iframe {width: 100%; height: 664px;}
	
	
	.event-wrap .evt01-tb {position: relative; text-align: left; margin-top: 54px; letter-spacing: -1px; line-height: 1.2;}
	.event-wrap .evt01-tb > li {float: left; width: 100%; border: 1px solid #bfbfbf; margin-top: -1px;}
	.event-wrap .evt01-tb > li:first-child {margin-top: 0;}
	.event-wrap .evt01-tb > li span {display: inline-block; vertical-align: top;}
	.event-wrap .evt01-tb .l-th, .event-wrap .evt01-tb .s-lbl {background: #eaeaea;}
	.event-wrap .evt01-tb .l-th {text-align: center; color: #414141; font-size: 20px; padding: 15px 0; font-weight: 700;}
	.event-wrap .evt01-tb .l-td {color: #5d5d5d; font-size: 0; width: 33.33%;}
	.event-wrap .evt01-tb .l-td > span {padding: 12px 0; font-size: 19px;}
	.event-wrap .evt01-tb .l-td .s-lbl {border-right: 1px solid #bfbfbf; width: 25%; text-align: center;}
	.event-wrap .evt01-tb .l-td .s-txt {padding-left: 10px; width: 75%;}
	 .event-wrap .evt01-tb .l-td:nth-child(5) .s-lbl
	, .event-wrap .evt01-tb .l-td:nth-child(6)
	, .event-wrap .evt01-tb .l-td:nth-child(7){line-height: 2.4;}
	.event-wrap .evt01-tb .l-td:nth-child(2)
	, .event-wrap .evt01-tb .l-td:nth-child(3)
	, .event-wrap .evt01-tb .l-td:nth-child(5)
	, .event-wrap .evt01-tb .l-td:nth-child(6) {border-right: 0;}
	
	.event-wrap .evt01-tb .l-td.nth-2
	, .event-wrap .evt01-tb .l-td.nth-3
	, .event-wrap .evt01-tb .l-td.nth-5
	, .event-wrap .evt01-tb .l-td.nth-6 {border-right: 0;}
	.event-wrap .lh-01 {line-height: 2.4 !important;}
	.event-wrap .lh-02 {line-height: 1.2 !important;}
	.event-wrap .br-r-01 {border-right: 0 !important;}
	
	.event-wrap .kite .l-td.nth-6 .s-txt {font-size: 16px; position: relative; top: 4px;}
	
	/* 20180306_이벤트페이지 추가 및 디자인 수정_다솜 */
	.fac-mt {margin-top: 60px; padding-top: 60px; border-top: 1px solid #ccc;}
	.fac-mt-b {margin-bottom: 60px; padding-bottom: 60px; border-bottom: 1px solid #ccc;}
	.event-wrap .evt02-tb .l-td {color: #5d5d5d; font-size: 0; width: 33.33%;}
	.event-wrap .evt02-tb .l-td:nth-child(4) {line-height:1.2; border-right:1px solid #bfbfbf;}
	.event-wrap .evt02-tb .l-td:nth-child(2), .event-wrap .evt02-tb .l-td:nth-child(3), .event-wrap .evt02-tb .l-td:nth-child(5), .event-wrap .evt02-tb .l-td:nth-child(6) {border-right:0;}
	.event-wrap .evt02-tb .l-td.type03, .event-wrap .evt01-tb .l-td:nth-child(5) .s-lbl {line-height:2.4;}
	.event-wrap .evt02-tb .l-td.type02, .event-wrap .evt02-tb .l-td:nth-child(5) .s-txt {line-height:1.2;}
	.event-wrap .evt02-tb .l-td > span {font-size: 18px;}
	.event-wrap .evt02-tb .l-td.type02 > span {height:auto;}

	.event-wrap .fc-list .txt-box {position: absolute; left: 0; top: 140px; width: 100%; color: #fff;}
	.event-wrap .fc-list .txt-box .p1 {font-size: 30px;}
	.event-wrap .fc-list .txt-box .p2 {font-size: 18px; margin-top: 16px; line-height: 1.6;}
	.event-wrap .fc-list .txt-box .more-a > * {vertical-align: middle;}
	.event-wrap .fc-list .txt-box .more-a {width: 142px; height: 35px; font-size: 17px; display: inline-block; margin-top: 20px; border: 1px solid #44a8ff;}
	.event-wrap .fc-list .txt-box .more-a:after {content: ""; display: inline-block; height: 91%; vertical-align: middle;}
	.event-wrap .fc-list .txt-box .more-a .gt {position: relative; top: 2px; width: 8px; margin-left: 2px; left: 10px;}
		
	
	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {position: absolute; width: 100%; bottom: -30px; display: block; text-align: center;}
	.bx-wrapper .bx-pager.bx-default-pager a {background: #fff; width: 11px; height: 11px; margin: 0 2.5px;
		border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; border: 1px solid #8d8d8b;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {background: #44a8ff; border-color: #44a8ff;}
	
	
}

