@charset 'utf-8';
#wrap * {box-sizing: border-box;}

.vid-wrap {background: url(http://img.ocean2you.co.kr/renew/intro/intro_titBg.jpg) no-repeat top center; padding-top: 98px; position: relative; width: 100%; height: 400px;
	-webkit-background-size: cover; background-size: cover;}


@media (max-width: 767px) {
	.xs-block {display: block;}
	
	.title {position: relative;}
	.title .tit-box {text-align: center; padding-top: 86px; color: #fff;}
	.title .tit-box h2 {font-size: 20px;}
	.title .tit-box .mg- {display: block; height: 1px; width: 30px; margin: 15px auto; background: #fff;}
	.title .titTxt img {width: 310px;}
	.title .tit-box .p0 {font-size: 15px; margin-top: 5px; line-height: 1.4; word-break: keep-all; letter-spacing: -1px;}
	.title .p0.under {display: inline-block; padding-bottom: 1px; border-bottom: 1px solid #fff;}
	
	.login {padding: 45px 0 100px;}
	.login .container {width: 100%; width: 310px;}
	.login h3, .login .lgn-box {font-family: "Nanum Gothic", sans-serif;}
	.login h3 {font-size: 24px; color: #44a8ff; text-align: center; font-weight: 600;}
	.login .mg- {display: block; height: 1px; width: 30px; margin: 12px auto 18px; background: #44a8ff;}
	.login .lgn-box {border: 1px solid #e5e5e5; padding: 5px;}
	.login .lgn-box .lgnBtn-list {position: relative;}
	.login .lgn-box .lgnBtn-list > li {position: relative; margin-top: 10px;}
	.login .lgn-box .lgnBtn-list > li:first-child {position: relative; margin-top: 0px;}
	.login .lgn-box .lgnBtn-list > li > a {display: block; height: 50px; color: #fff; text-align: center; font-size: 14px; padding-left: 40px;}
	.login .lgn-box .lgnBtn-list > li > a:after {content: ""; height: 110%; display: inline-block; vertical-align: middle;}
	.login .lgn-box .lgnBtn-list > li.f > a {background: #3b5999;}
	.login .lgn-box .lgnBtn-list > li.k > a {background: #ffeb00; color: #3b1e12;}
	.login .lgn-box .lgnBtn-list > li.n > a {background: #1ec800;}
	.login .lgn-box .lgnBtn-list > li.d > a {background: #fff; color: #707070; border: 1px solid #cbcbcb;}
	.login .lgn-box .lgnBtn-list > li.g > a {background: #d34837;}
	.login .lgn-box .lgnBtn-list > li .i-logo {position: absolute; top: 14px; left: 62px;}
	.login .lgn-box .lgnBtn-list > li.f .i-logo {height: 24px;}
	.login .lgn-box .lgnBtn-list > li.k .i-logo {height: 25px; top: 14px; left: 58px;}
	.login .lgn-box .lgnBtn-list > li.n .i-logo {height: 18px; top: 18px;}
	.login .lgn-box .lgnBtn-list > li.d .i-logo {height: 30px; top: 10px; left: 42px;}
	.login .lgn-box .lgnBtn-list > li.g .i-logo {height: 22px; top: 16px;}
	.login .lgn-box .p0 {position: relative; font-size: 13px; padding: 0 8px 0 15px; margin-top: 15px; line-height: 1.4; word-break: keep-all;}
	.login .lgn-box .p0:before {position: absolute; content: "※"; left: 0px;}
	
	
	#customer {position: relative; margin-top: 0px; padding: 15px 20px 35px; width: 310px; margin: 0 auto; background:#fff; border:1px solid #dedede; letter-spacing:-0.1px; font-family: "Nanum Gothic", sans-serif;}
	#customer .Login {}
	#customer .Login .naverLogin h4 {font-size:18px; color:#5a2400; font-weight: 400; margin-bottom: 25px; text-align: center;}
	#customer .Login .naverLogin .snsLarge {margin:auto; width:268px}
	#customer .Login .naverLogin .snsLarge ul {margin:auto; width:268px}
	#customer .Login .naverLogin .snsLarge li {text-align:center; letter-spacing:-0.3px; font-weight:600; line-height:55px; font-size:15px; margin-bottom: 10px;}
	#customer .Login .naverLogin .snsLarge li a {position: relative; display:block; width:268px; height:55px; border-radius: 5px; box-sizing: border-box;}
	#customer .Login .naverLogin .snsLarge li a img {position: absolute; top: 19px; left: 19px;}
	#customer .Login .naverLogin .snsLarge li a span {position: relative; display: inline-block; width: 210px;
		float:right; border-left: 1px solid; text-align: center; border-left: 1px solid rgba(0,0,0,.196);}
	#customer .Login .naverLogin .snsLarge li.daum a span {width: 207px;}
	#customer .Login .naverLogin .snsLarge .naver a {color:#fff; background:#1ec800;}
	#customer .Login .naverLogin .snsLarge .kakao a {color:#3b1e1e; background:#ffeb00;}
	#customer .Login .naverLogin .snsLarge .facebook a {color:#fff; background:#3b5998;}
	#customer .Login .naverLogin .snsLarge .daum a {color:#4681bd; border:3px solid #4681bd; line-height:50px;}
	#customer .Login .naverLogin .snsLarge .twitter a {color:#fff; background:#32ccfe;}
	#customer .Login .naverLogin .snsLarge .google a {color:#fff; background:#d34837;}
	#customer .Login .naverLogin .snsLarge .naver a img {width: 20px;}
	#customer .Login .naverLogin .snsLarge .daum a img {width: 25px; top: 12px; left: 15px;}
	#customer .Login .naverLogin .snsLarge .facebook a img {width: 25px; top: 13px; left: 16px;}
	#customer .Login .naverLogin .snsLarge .kakao a img {top: 17px; left: 17px;}

	#customer .Login .naverLogin .alert {margin-top: 30px; text-align: center;}
	#customer .Login .naverLogin .alert .img, #customer .Login .naverLogin .alert .text {display: inline-block; vertical-align: top;}
	#customer .Login .naverLogin .alert .img {width:42px; display: none;}
	#customer .Login .naverLogin .alert .text {padding-left:10px;line-height:18px; font-size: 13px; text-align: left; word-break: keep-all;}
	#customer .Login .naverLogin .alert .text span {color:#ff610a;}
	
}

@media (min-width: 768px) {
	.login {padding: 75px 0 120px;}
	.login .container {width: 768px;}
	.login h3, .login .lgn-box {font-family: "Nanum Gothic", sans-serif;}
	.login h3 {font-size: 27px; color: #44a8ff; text-align: center; font-weight: 600;}
	.login .mg- {display: block; height: 1px; width: 30px; margin: 18px auto 28px; background: #44a8ff;}
	.login .lgn-box {border: 1px solid #e5e5e5; padding: 50px 100px;}
	.login .lgn-box .lgnBtn-list {position: relative;}
	.login .lgn-box .lgnBtn-list > li {position: relative; margin-top: 10px;}
	.login .lgn-box .lgnBtn-list > li:first-child {position: relative; margin-top: 0px;}
	.login .lgn-box .lgnBtn-list > li > a {display: block; height: 50px; color: #fff; text-align: center; font-size: 15px; padding-left: 40px;}
	.login .lgn-box .lgnBtn-list > li > a:after {content: ""; height: 110%; display: inline-block; vertical-align: middle;}
	.login .lgn-box .lgnBtn-list > li.f > a {background: #3b5999;}
	.login .lgn-box .lgnBtn-list > li.k > a {background: #ffeb00; color: #3b1e12;}
	.login .lgn-box .lgnBtn-list > li.n > a {background: #1ec800;}
	.login .lgn-box .lgnBtn-list > li.d > a {background: #fff; color: #707070; border: 1px solid #cbcbcb;}
	.login .lgn-box .lgnBtn-list > li.g > a {background: #d34837;}
	.login .lgn-box .lgnBtn-list > li .i-logo {position: absolute; top: 14px; left: 182px;}
	.login .lgn-box .lgnBtn-list > li.f .i-logo {height: 24px;}
	.login .lgn-box .lgnBtn-list > li.k .i-logo {height: 25px; top: 14px; left: 178px;}
	.login .lgn-box .lgnBtn-list > li.n .i-logo {height: 18px; top: 18px;}
	.login .lgn-box .lgnBtn-list > li.d .i-logo {height: 30px; top: 10px; left: 162px;}
	.login .lgn-box .lgnBtn-list > li.g .i-logo {height: 22px; top: 16px;}
	.login .lgn-box .p0 {position: relative; font-size: 15px; padding: 0 8px 0 26px; margin-top: 30px; line-height: 1.4; word-break: keep-all;}
	.login .lgn-box .p0:before {position: absolute; content: "※"; left: 8px;}
	
	
	#customer {position: relative; margin-top: 0px; padding: 15px 25px 35px; width:740px; margin: 0 auto; background:#fff; border:1px solid #dedede; letter-spacing:-0.1px; font-family: "Nanum Gothic", sans-serif;}
	#customer .Login {}
	#customer .Login .naverLogin h4 {font-size:18px; color:#5a2400; font-weight: 400; margin-bottom: 25px;}
	#customer .Login .naverLogin .snsLarge {margin:auto; width:268px}
	#customer .Login .naverLogin .snsLarge ul {margin:auto; width:268px}
	#customer .Login .naverLogin .snsLarge li {text-align:center; letter-spacing:-0.3px; font-weight:600; line-height:55px; font-size:15px; margin-bottom: 10px;}
	#customer .Login .naverLogin .snsLarge li a {position: relative; display:block; width:268px; height:55px; border-radius: 5px; box-sizing: border-box;}
	#customer .Login .naverLogin .snsLarge li a img {position: absolute; top: 19px; left: 19px;}
	#customer .Login .naverLogin .snsLarge li a span {position: relative; display: inline-block; width: 210px;
		float:right; border-left: 1px solid; text-align: center; border-left: 1px solid rgba(0,0,0,.196);}
	#customer .Login .naverLogin .snsLarge li.daum a span {width: 207px;}
	#customer .Login .naverLogin .snsLarge .naver a {color:#fff; background:#1ec800;}
	#customer .Login .naverLogin .snsLarge .kakao a {color:#3b1e1e; background:#ffeb00;}
	#customer .Login .naverLogin .snsLarge .facebook a {color:#fff; background:#3b5998;}
	#customer .Login .naverLogin .snsLarge .daum a {color:#4681bd; border:3px solid #4681bd; line-height:50px;}
	#customer .Login .naverLogin .snsLarge .twitter a {color:#fff; background:#32ccfe;}
	#customer .Login .naverLogin .snsLarge .google a {color:#fff; background:#d34837;}
	#customer .Login .naverLogin .snsLarge .naver a img {width: 20px;}
	#customer .Login .naverLogin .snsLarge .daum a img {width: 25px; top: 12px; left: 15px;}
	#customer .Login .naverLogin .snsLarge .facebook a img {width: 25px; top: 13px; left: 16px;}
	#customer .Login .naverLogin .snsLarge .kakao a img {top: 17px; left: 17px;}

	#customer .Login .naverLogin .alert {margin-top: 30px; text-align: center;}
	#customer .Login .naverLogin .alert .img, #customer .Login .naverLogin .alert .text {display: inline-block; vertical-align: top;}
	#customer .Login .naverLogin .alert .img {width:42px}
	#customer .Login .naverLogin .alert .text {padding-left:10px;line-height:18px; font-size: 13px; text-align: left;}
	#customer .Login .naverLogin .alert .text span {color:#ff610a}	
}

@media (min-width: 768px) and (max-width: 992px) {
	
	
	.title {position: relative;}
	.title .tit-box {text-align: center; padding-top: 76px; color: #fff;}
	.title .tit-box h2 {font-size: 24px;}
	.title .tit-box .mg- {display: block; height: 1px; width: 30px; margin: 18px auto 20px; background: #fff;}
	.title .tit-box .titTxt img {width: 450px;}
	.title .tit-box .p0 {font-size: 18px; margin-top: 10px;}
	.title .p0.under {display: inline-block; padding-bottom: 5px; border-bottom: 1px solid #fff;}
	
	
}

@media (min-width: 992px) and (max-width: 1431px) {
	
	.title {position: relative;}
	.title .tit-box {text-align: center; padding-top: 76px; color: #fff;}
	.title .tit-box h2 {font-size: 24px;}
	.title .tit-box .mg- {display: block; height: 1px; width: 60px; margin: 18px auto 20px; background: #fff;}
	.title .titTxt img {width: 450px;}
	.title .tit-box .p0 {font-size: 18px; margin-top: 10px;}
	.title .p0.under {display: inline-block; padding-bottom: 5px; border-bottom: 1px solid #fff;}
	
}


@media (min-width: 1432px) {
	

	.title {position: relative;}
	.title .tit-box {text-align: center; padding-top: 76px; color: #fff;}
	.title .tit-box h2 {font-size: 27px;}
	.title .tit-box .mg- {display: block; height: 1px; width: 60px; margin: 18px auto 20px; background: #fff;}
	.title .p0 {position: relative; font-size: 18px; margin-top: 10px;}
	.title .p0.under {display: inline-block; padding-bottom: 5px; border-bottom: 1px solid #fff;}
	
	
}

