<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
	<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<title>오션투유리조트</title>
	
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유리조트">
	<meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="오션투유리조트">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta name="twitter:title" content="오션투유리조트">
	<!--<link rel="canonical" href="도메인">-->
	
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css"> 
	
	
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common.css">-->
	<link rel="stylesheet" href="../../src/css/common.css">
	<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/event/init.css">-->
	<link rel="stylesheet" href="../../src/css/event/init.css">
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/jquery.easing.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/common_ocean.js"></script>
	<!--<script src="http://static.ocean2you.co.kr/js/renew/facil/init.js"></script>-->
	<script src="../../src/js/event/init.js"></script>
	
		<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/event/init_ie8.css">-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common_ie8.css">
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>

	<h1 class="hidden">오션투유리조트</h1>
	<div id="wrap">

		
		<div class="vid-wrap">
			<header class="header" id="gnb-header">
				<div class="container">
					<a href="" class="logo-box">
						<img class="logo" src="http://img.ocean2you.co.kr/renew/logo.png" alt="오션투유리조트">
					</a>
					
					<button class="mNav-btn" id="mNav-btn" type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="nav-bar">
						<div class="d1">
							<a class="faq-a" id="faq-a" href="#">고코투어 이벤트 당첨안내</a>
							<a class="mFaq-a" id="mFaq-a" href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
						</div>
						<ul class="nav clr">
							<li class="fst"><a href="">오션투유소개</a></li>
							<li><a href="">패키지안내</a></li>
							<li><a href="">시설안내</a></li>
							<!--171114 이벤트/축제 추가-->
							<li><a href="">이벤트/축제</a></li>
							<li><a href="">주변관광지</a></li>
							<li><a href="">오시는길</a></li>
							<li class="lst"><a href="">예약/예약조회</a></li>
						</ul>
					</nav>
				</div>
				<nav class="mNav-box" id="mNav-box">
					<h2><a href="">HOME</a></h2>
					<ul class="mNav">
						<li class="fst"><a href="">오션투유소개</a></li>
						<li><a href="">패키지안내</a></li>
						<li><a href="">시설안내</a></li>
						<!--171114 이벤트/축제 추가-->
						<li><a href="">이벤트/축제</a></li>
						<li><a href="">주변관광지</a></li>
						<li><a href="">오시는길</a></li>
						<li class="lst"><a href="">예약/예약조회</a></li>
					</ul>
				</nav>
			</header>
			
			<section class="title">
			
				<div class="container tit-box">
					<h2>오션투유리조트 이벤트 / 축제</h2>
					<div class="mg-"></div>
					<div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/event/event_title.png" alt="예약하기"></div>
					<p class="p0">반짝이는 백사장 위로 쏟아지는 별빛을 볼 수 있는 오션투유 리조트로 초대합니다.</p>
				</div>
								
			</section>
		</div>
		
		
		<div class="event-wrap" id="setTop">
			<div class="container" id="evt-box">
				
				<section class="facil-1">
					
					<ul class="fc-list">
						<li class="nth-1">
							<h3 class="ftfm-mg">12월 31일 주민과 함께하는 캠프파이어 불꽃축제</h3>
							<div class="bxBox" id="bxBox-1">
								<ul class="bxS">
									<li class="li-1"></li>
									<li class="li-2"></li>
								</ul>
								
							</div>
						</li>
					</ul>
					
					<ul class="evt01-tb clr">
						<li class="l-th ftfm-mg">
							12월31일 주민과 함께하는 캠프파이어 불꽃축제
						</li>
						<li class="l-td">
							<span class="s-lbl">기간</span>
							<span class="s-txt">2017년 12월 31일 하루</span>
						</li>
						<li class="l-td">
							<span class="s-lbl">주최</span>
							<span class="s-txt">오션투유리조트</span>
						</li>
						<li class="l-td type02">
							<span class="s-lbl">요금</span>
							<span class="s-txt">무료</span>
						</li>
						<li class="l-td type02">
							<span class="s-lbl">시간</span>
							<span class="s-txt">일몰 이후 캠프파이어 / 23:30 새해맞이 불꽃놀이 진행</span>
						</li>
						<li class="l-td">
							<span class="s-lbl">위치</span>
							<span class="s-txt">강원도 고성 삼포해수욕장</span>
						</li>
						<li class="l-td">
							<span class="s-lbl">홈페이지</span>
							<span class="s-txt">http://www.ocean2you.co.kr</span>
						</li>
					</ul>
					
				</section>
				
			</div>
		
		</div>


		<footer class="footer">
			<div class="container">
				
				<div class="flt-1 clr">
					<img class="f-logo" src="http://img.ocean2you.co.kr/renew/f_logo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							오션투유리조트 설악비치 호텔앤콘도<br>
							주소 : 강원 고성군 죽왕면 삼포해변길 9<span class="i-l"></span>TEL. 070-7688-2438<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호						
						</p>
					</address>
					<a class="callFor cf1" href="tel:1600-1867">
						<img class="pic-call" src="http://img.ocean2you.co.kr/renew/pic_callW.png" alt="전화아이">
						<span class="s1">예약문의</span>
						<span class="mgl"></span>
						<span class="s3">1600-1867</span>
					</a>
					<a class="callFor cf2" href="tel:010-8844-0409">
						<img class="pic-call" src="http://img.ocean2you.co.kr/renew/pic_call.png" alt="전화아이">
						<span class="s1">단체예약문의</span>
						<span class="mgl"></span>
						<span class="s3">010.8844.0409</span>
					</a>
				</div>
				<div class="clr"></div>
				<div class="flt-1 clr">
					<img class="f-gcLogo" src="http://img.ocean2you.co.kr/renew/f_gcLogo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1 mt">
							(주)바로네트웍스<br>
							주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호<br>
							여행업등록번호 : 제2015-02호<span class="i-l"></span>여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
						</p>
						* 바로네트웍스는 오션투유리조트의 공식 온라인 총판사 입니다. 
						<br><br>
						<p class="nth-2">
							Copyright 2016 OCEAN2YOU CONE. ALL RIGHTS RESERVED
						</p>

					</address>
				</div>
			</div>
		</footer>
		
		<a href="javascript:;" id="goTop"><img src="http://img.ocean2you.co.kr/renew/goTop.jpg" alt="위로"></a>
	</div>
	
</body>
</html>