<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
	<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<title>오션투유리조트</title>
	
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유리조트">
	<meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="오션투유리조트">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta name="twitter:title" content="오션투유리조트">
	<!--<link rel="canonical" href="도메인">-->
	
<!--	<link rel="stylesheet" href="http://static.ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css"> -->
<!--	<link rel="stylesheet" href="../../static/fonts/nanumbarungothic/nanumbarungothic.css"> -->
	<link rel="stylesheet" href="http://ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css"> 
	
	
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common.css">
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/event/init.css">

<!--
	<link rel="stylesheet" href="../../static/css/common.css">
	<link rel="stylesheet" href="../../static/css/event/init.css">
-->
	<!--<link rel="stylesheet" href="../../static/css/renew/event/init.css">-->

	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/jquery.easing.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/common_ocean.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/event/init.js"></script>
	<!--<script src="../../static/js/event/init.js"></script>-->
	
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common_ie8.css">
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/event/init_ie8.css">
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>

	<h1 class="hidden">오션투유리조트</h1>
	<div id="wrap">

		<div class="vid-wrap">
			<section class="vid" data-property="{videoURL:'3sUzvwZXH-8',containment:'self', showControls:false, autoPlay:true, loop:false, mute:false, startAt:0, opacity:1, addRaster:true, quality:'default'}">
			</section>
			
			<header class="header" id="gnb-header">
				<div class="container">
					<a href="http://ocean2you.co.kr" class="logo-box">
						<img class="logo" src="http://img.ocean2you.co.kr/renew/logo.png" alt="오션투유 리조트">
						<!--
						<span class="mg-l"></span>
						<img class="gcLogo" src="http://img.ocean2you.co.kr/renew/oc2_gcLogo.png" alt="고코투어">
						-->
					</a>
					
					<button class="mNav-btn" id="mNav-btn" type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="nav-bar">						
						<div class="d1">
							<a class="faq-a" id="faq-a" href="#">고코투어 이벤트 당첨안내</a>
							<a class="mFaq-a" id="mFaq-a" href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
						</div>
						<ul class="nav clr">
							<li class="fst"><a href="http://ocean2you.co.kr/intro/">오션투유소개</a></li>
							<li><a href="http://ocean2you.co.kr/facil/">객실안내</a></li>
							<li><a href="http://ocean2you.co.kr/amenities/">부대시설안내</a></li>
							<li><a href="http://ocean2you.co.kr/event/">이벤트/축제</a></li>
							<li><a href="http://ocean2you.co.kr/?go_scroll=tourist">관광지</a></li>
							<li><a href="http://ocean2you.co.kr/?go_scroll=wayto">오시는길</a></li>
							<li><a href="http://ocean2you.co.kr/group/">단체문의</a></li>
							<li class="lst" onclick="location.href='http://ocean2you.co.kr/view/';" style="cursor:pointer"><a href="javascript:;">예약/예약확인</a></li>
						</ul>
					</nav>
				</div>
				<nav class="mNav-box" id="mNav-box">
					<h2><a href="http://ocean2you.co.kr">HOME</a></h2>
					<ul class="mNav">
						<li class="fst"><a href="http://ocean2you.co.kr/intro/">오션투유소개</a></li>
						<li><a href="http://ocean2you.co.kr/facil/">객실안내</a></li>
						<li><a href="http://ocean2you.co.kr/amenities/">부대시설안내</a></li>
						<li><a href="http://ocean2you.co.kr/event/">이벤트/축제</a></li>
						<li><a href="http://ocean2you.co.kr/?go_scroll=tourist">주변관광지</a></li>
						<li><a href="http://ocean2you.co.kr/?go_scroll=wayto">오시는길</a></li>
						<li><a href="http://ocean2you.co.kr/group/">단체행사문의</a></li>
						<li class="lst" onclick="location.href='http://ocean2you.co.kr/view/';" style="cursor:pointer"><a href="javascript:;">예약/예약확인</a></li>
					</ul>
				</nav>
			</header>


						
		<section class="title">
			
			<div class="container tit-box">
				<h2>오션투유리조트 이벤트 / 축제</h2>
				<div class="mg-"></div>
				<div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/event/event_title.png" alt="예약하기"></div>
				<p class="p0">반짝이는 백사장 위로 쏟아지는 별빛을 볼 수 있는 오션투유 리조트로 초대합니다.</p>
			</div>
							
		</section>
		</div>
		
		<div class="event-wrap" id="setTop">
			<div class="container" id="evt-box">
				
				<!--180621 오션투유연나리기-->
				<section class="facil-1 ocKite fac-mt-b">
					<ul class="fc-list">
						<li class="nth-1">
							<h3 class="ftfm-mg">2018 가족여행과 함께하는 <br class="show-xs">고성 오션투유 삼포해수욕장 연날리기 축제</h3>
							<div class="bxBox" id="bxBox-3">
								<ul class="bxS">
									<li class="li-1"></li>
									<li class="li-2"></li>
								</ul>
								
							</div>
						</li>
					</ul>
					
					<ul class="evt01-tb clr">
						<li class="l-th ftfm-mg nth-1">
							 2018 가족여행과 함께하는 고성 오션투유 삼포해수욕장 연날리기 축제
						</li>
						<li class="l-td nth-2">
							<span class="s-lbl">기간</span>
							<span class="s-txt">매주 일요일</span>
						</li>
						<li class="l-td nth-3">
							<span class="s-lbl">주최</span>
							<span class="s-txt">오션투유리조트</span>
						</li>
						<li class="l-td nth-4">
							<span class="s-lbl">요금</span>
							<span class="s-txt">무료</span>
						</li>
						<li class="l-td nth-5 lh-01">
							<span class="s-lbl">시간</span>
							<span class="s-txt">12:00 ~ 16:00</span>
						</li>
						<li class="l-td nth-6 lh-02">
							<span class="s-lbl lh-01">위치</span>
							<span class="s-txt">
								※연 세트 프론트에서 제공<br>
								※소망연날리기체험장: 삼포해수욕장
							</span>
						</li>
						<li class="l-td nth-7 lh-01">
							<span class="s-lbl">상세보기</span>
							<span class="s-txt" style="cursor:pointer;" onclick="">▷소망 연날리기 축제</span>
						</li>
					</ul>
					
				</section>
				
				<!-- 라벤더 축제 -->
				<section class="facil-1 lavender">
					<ul class="fc-list">
						<li class="nth-1">
							<h3 class="ftfm-mg">2018 고성 라벤더 축제</h3>
							<div class="bxBox" id="bxBox-2">
								<ul class="bxS">
									<li class="li-1"></li>
									<li class="li-2"></li>
								</ul>
								
							</div>
						</li>
					</ul>
					
					<ul class="evt01-tb clr">
						<li class="l-th ftfm-mg nth-1">
							2018 고성 라벤더 축제
						</li>
						<li class="l-td nth-2 lh-01">
							<span class="s-lbl">기간</span>
							<span class="s-txt">2018.06.01(금)~2018.06.21(목)</span>
						</li>
						<li class="l-td nth-3 lh-02">
							<span class="s-lbl lh-01">주최</span>
							<span class="s-txt">하늬라벤더팜,<span class="hidden-xs"></span>꽃내마루 라벤더 연구회</span>
						</li>
						<li class="l-td nth-4 lh-01">
							<span class="s-lbl">요금</span>
							<span class="s-txt">무료</span>
						</li>
						<li class="l-td nth-5 lh-01">
							<span class="s-lbl">시간</span>
							<span class="s-txt">09:00 ~ 19:00</span>
						</li>
						<li class="l-td nth-6 lh-02">
							<span class="s-lbl lh-01">위치</span>
							<span class="s-txt">강원도 고성군 간성읍 꽃대마을길 <span class="hidden-xs"></span>175</span>
						</li>
						<li class="l-td nth-7 lh-01">
							<span class="s-lbl">상세보기</span>
							<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.lavenderfarm.co.kr/src/contents/onepage.php?design_one_pages_id=3','_blank');">▷고성 라벤더 축제</span>
						</li>
					</ul>
					
				</section>
				
				<!-- 180515 fac-mt 멀티클래스 추가 -->
				<section class="facil-1 kite fac-mt">
					<ul class="fc-list">
						<li class="nth-1">
							<h3 class="ftfm-mg"> 2018 삼포해수욕장 소망 연날리기 축제</h3>
							<div class="bxBox" id="bxBox-1">
								<ul class="bxS">
									<li class="li-1"></li>
									<li class="li-2"></li>
								</ul>
								
							</div>
						</li>
					</ul>
					
					<!-- 180406 수정 -->
					<ul class="evt01-tb clr">
						<li class="l-th ftfm-mg nth-1">
							 2018 삼포해수욕장 소망 연날리기 축제
						</li>
						<li class="l-td nth-2">
							<span class="s-lbl">기간</span>
							<span class="s-txt">2018년 5월 6일 하루</span>
						</li>
						<li class="l-td nth-3">
							<span class="s-lbl">주최</span>
							<span class="s-txt">오션투유리조트</span>
						</li>
						<li class="l-td nth-4">
							<span class="s-lbl">요금</span>
							<span class="s-txt">무료</span>
						</li>
						<li class="l-td nth-5 lh-01">
							<span class="s-lbl">시간</span>
							<span class="s-txt">12:00 ~ 16:00</span>
						</li>
						<li class="l-td nth-6 lh-02">
							<span class="s-lbl lh-01">위치</span>
							<span class="s-txt">
								※연 세트 프론트에서 제공<br>
								※소망연날리기체험장: 삼포해수욕장
							</span>
						</li>
						<li class="l-td nth-7 lh-01">
							<span class="s-lbl">상세보기</span>
							<span class="s-txt" style="cursor:pointer;" onclick="">▷소망 연날리기 축제</span>
						</li>
					</ul>
					
				</section>
				
				<!-- 180425 미드나잇 이벤트 추가-->
				<section class="facil-1 midnight fac-mt">
					<ul class="fc-list">
						<li class="nth-1">
							<h3 class="ftfm-mg">2018 Midnight Picnic Festival</h3>
							<div class="bxBox">
								<!--<iframe src="https://www.youtube.com/embed/n0foR1sU99Y?autoplay=1" frameborder="0" allowfullscreen></iframe>-->
								<div id="ytplayer"></div>
								<script>
									var tag = document.createElement('script');
									tag.src = "https://www.youtube.com/player_api";
									var firstScriptTag = document.getElementsByTagName('script')[0];
									firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

									var player;

									function onYouTubePlayerAPIReady() {
										player = new YT.Player('ytplayer', {
											height: '360',
											width: '640',
											videoId: 'n0foR1sU99Y',
											events: {
												'onReady': onPlayerReady
											}
										});
									}
									function onPlayerReady(event) {
										event.target.setVolume(20);
										event.target.playVideo();
									}
								</script>
							</div>
						</li>
					</ul>
					
					<ul class="evt01-tb clr">
						<li class="l-th ftfm-mg nth-1">
							2018 Midnight Picnic Festival
						</li>
						<li class="l-td nth-2">
							<span class="s-lbl">기간</span>
							<span class="s-txt">2018년 7월 13일(금)~15일(일)</span>
						</li>
						<li class="l-td nth-3">
							<span class="s-lbl">주최</span>
							<span class="s-txt">reve</span>
						</li>
						<li class="l-td nth-4">
							<span class="s-lbl">요금</span>
							<span class="s-txt">-</span>
						</li>
						<li class="l-td nth-5 lh-01">
							<span class="s-lbl">시간</span>
							<span class="s-txt">10:00 ~ 23:00</span>
						</li>
						<li class="l-td nth-6 lh-02">
							<span class="s-lbl lh-01">위치</span>
							<span class="s-txt">
								강원도 고성 삼포해수욕장
							</span>
						</li>
						<li class="l-td nth-7 lh-01">
							<span class="s-lbl">상세보기</span>
							<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.mipic.co.kr/','_blank');">http://www.mipic.co.kr/</span>
						</li>
					</ul>
				</section>
				<!-- // -->
				
				<section class="facil-1 fac-mt">
					<ul class="fc-list">
						<li class="nth-1">
							<h3 class="ftfm-mg">삼포해수욕장 불꽃놀이 및 캠프파이어</h3>
							<div class="bxBox" id="bxBox-2">
								<ul class="bxS">
									<li class="li-1"></li>
									<li class="li-2"></li>
								</ul>
								
							</div>
						</li>
					</ul>
					
					<ul class="evt01-tb evt02-tb clr">
						<li class="l-th ftfm-mg">
							삼포해수욕장 불꽃놀이 및 캠프파이어
						</li>
						<li class="l-td">
							<span class="s-lbl">기간</span>
							<span class="s-txt">2017년 12월 31일 하루</span>
						</li>
						<li class="l-td">
							<span class="s-lbl">주최</span>
							<span class="s-txt">오션투유리조트</span>
						</li>
						<li class="l-td type02">
							<span class="s-lbl">요금</span>
							<span class="s-txt">무료</span>
						</li>
						<li class="l-td type02 type03">
							<span class="s-lbl">시간</span>
							<span class="s-txt">일몰 이후 캠프파이어 / 23:30 새해맞이 불꽃놀이 진행</span>
						</li>
						<li class="l-td type03">
							<span class="s-lbl">위치</span>
							<span class="s-txt">강원도 고성 삼포해수욕장</span>
						</li>
						<li class="l-td type03">
							<span class="s-lbl">상세보기</span>
							<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://korean.visitkorea.or.kr/kor/bz15/where/festival/festival.jsp?cid=2525641','_blank');">▷불꽃 캠프파이어 축제 2017</span>
						</li>
					</ul>
					
				</section>
				
				<!-- 180413 튤립축제 수정 -->
<!--
				<section class="facil-1 tulip fac-mt">
					<ul class="fc-list">
						<li class="nth-1">
							<h3 class="ftfm-mg">2018 삼포해변 튤립축제</h3>
							<div class="bxBox">
								<ul class="bxS">
									<li class="li-2"></li>
								</ul>
							</div>
						</li>
					</ul>
					<ul class="evt01-tb clr">
						<li class="l-th ftfm-mg nth-1">
							 2018 삼포해변 튤립축제
						</li>
						<li class="l-td nth-2">
							<span class="s-lbl">기간</span>
							<span class="s-txt">2018년 4월 21일 ~ 5월 23일</span>
						</li>
						<li class="l-td nth-3">
							<span class="s-lbl">주최</span>
							<span class="s-txt">오션투유리조트</span>
						</li>
						<li class="l-td nth-4 lh-02">
							<span class="s-lbl">요금</span>
							<span class="s-txt">무료</span>
						</li>
						<li class="l-td nth-5 lh-02">
							<span class="s-lbl lh-02">시간</span>
							<span class="s-txt lh-02">10:00 ~ 19:00</span>
						</li>
						<li class="l-td nth-6 lh-02">
							<span class="s-lbl">위치</span>
							<span class="s-txt">강원도 고성 삼포해수욕장</span>
						</li>
						<li class="l-td nth-7 lh-02">
							<span class="s-lbl">상세보기</span>
							<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.ocean2you.co.kr/','_blank');">http://www.ocean2you.co.kr/</span>
						</li>
					</ul>
				</section>
-->
				<!-- // -->
				
			</div>
		
		</div>


		<div class="clr"></div>
		<footer class="footer">
			<div class="container">

				<ul class="f_menu">
					<!--171218 레이어팝업노출-->
					<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .term-wrap').show(); $('body').css('overflow', 'hidden');">이용약관</a></li>
					<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .privacy-wrap').show(); $('body').css('overflow', 'hidden');">개인정보처리방침</a></li>
				</ul>

				<div class="flt-1 clr">
					<img class="f-logo" src="http://img.ocean2you.co.kr/renew/f_logo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							오션투유리조트 설악비치 호텔앤콘도<br>
							주소 : 강원 고성군 죽왕면 삼포해변길 9
							<!-- <span class="i-l"></span>TEL. 070-7688-2438 -->
							<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호
						</p>
					</address>
					<div class="cf-box">
						<p class="p-0">&lt;고객센터 안내&gt;</p>
						<div class="cf-in">
							<div class="callFor cf0">
								<span class="f-bd">고객센터 안내</span>
								문의에 따라 해당 고객센터로<br>
								전화주시면,문의사항을<br>
								해결해 드리겠습니다.
							</div>
							<a class="callFor cf1" href="tel:1666-1243">
								<span class="s1">예약문의</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">&#40;</span>확정, 변경, 취소<span class="xs-hidden">&#41;</span><span class="xs-block"></span>/이벤트 문의</span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 1666-1243</span>
								<span class="s1-2">주중 09~18시<span class="hidden-xs"> </span>/<span class="hidden-xs"> </span>주말 09~17시</span>
							</a>
							<a class="callFor cf2" href="tel:010-8844-0409">
								<span class="s1">프론트</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">&#40;</span>체크인, 체크아웃<span class="xs-block"></span>시설이용문의<span class="xs-hidden">&#41;</span></span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 033-631-3811</span>
								<span class="s1-2">주중/주말 06시 ~ 02시</span>
							</a>
							<a class="callFor cf3" href="tel:010-8844-0409">
								<span class="s1">단체문의</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">&#40;</span>워크샵, 학생단체,<span class="xs-block"></span> 산업단체 등<span class="xs-hidden">&#41;</span></span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 010-8844-0409</span>
								<span class="s1-2">주중/주말 24시간 상담가능</span>
							</a>
						</div>
					</div>
				</div>
				<div class="clr"></div>
				<div class="flt-1 clr">
					<img class="f-gcLogo" src="http://img.ocean2you.co.kr/renew/f_gcLogo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1 mt">
							(주)바로네트웍스<br>
							주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호<br>
							여행업등록번호 : 제2015-02호<span class="i-l"></span>여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
						</p>
						* 바로네트웍스는 오션투유리조트의 공식 온라인 총판사 입니다.
						<br><br>
						<p class="nth-2">
							Copyright 2016 OCEAN2YOU CONE. ALL RIGHTS RESERVED
						</p>

					</address>
				</div>
			</div>
		</footer>

		<a href="javascript:;" id="goTop"><img src="http://img.ocean2you.co.kr/renew/goTop.jpg" alt="위로"></a>
		<!-- 모바일 등장 -->
		<!--<a href="#" class="rtBookingBn" id="rtBookingBn">
			<img src="http://img.ocean2you.co.kr/renew/i_cal_2.png" alt="달력"><br>
			실시간<br>예약
		</a>-->
		
	</div>
</body>
</html>