@charset 'utf-8';

.title {position: relative;}
.title .tit-box {text-align: center; padding-top: 76px; color: #fff;}
.title .tit-box h2 {font-size: 27px;}
.title .tit-box .mg- {display: block; height: 1px; width: 60px; margin: 18px auto 20px; background: #fff;}
.title .pkg-tab {position: relative; margin: 22px auto 0; width: 826px; left: 1.5px;}
.title .pkg-tab > li {position: relative; float: left; top: 0; width: 25%; border: 2px solid transparent; border-left: 1px solid #a8a6a4; margin-left: -1px; padding-left: 1px;}
.title .pkg-tab > li.nth-1 {border-left: none; margin-left: 0;}
.title .pkg-tab > li.on {border: 2px solid #fff; z-index: 1; padding-left: 0;}
.title .pkg-tab > li.nth-1.on {padding-right: 1px;}
.title .pkg-tab > li a {display: block; width: 100%; height: 45px; font-size: 16px; font-weight: 400; color: #fff;}
.title .pkg-tab > li a:after {content: ""; display: inline-block; height: 108%; vertical-align: middle;}

.pkg-wrap {padding: 100px 0 90px;}
.bx-wrapper, .bx-wrapper, .pkg-wrap .container, .vari-wrap .container {width: 1280px;}
#pkg-box > section {opacity: 0; visibility: hidden; word-break: keep-all; height: 0; overflow: hidden;}
#pkg-box > section.on {opacity: 1; visibility: visible;  height: auto; overflow: visible;}
.pkg-wrap [class*=pkg-] h3, .pkg-wrap [class*=pkg-] .p0 {text-align: center;}
.pkg-wrap [class*=pkg-] h3 {font-size: 35px; color: #44a8ff; font-weight: 600;}
.pkg-wrap [class*=pkg-] .p0, .pkg-wrap [class*=pkg-] .p1, .pkg-wrap .ul0 > li h5 {color: #373737;}
.pkg-wrap [class*=pkg-] .p0 {margin-top: 34px; font-size: 18px;}
.pkg-wrap [class*=pkg-] .mg- {display: block; height: 1px; width: 60px; margin: 18px auto 50px; background: #44a8ff;}
.pkg-wrap [class*=pkg-] h4 {margin-top: 35px; font-size: 22px;}
.pkg-wrap [class*=pkg-] .p1, .pkg-wrap .ul0 > li .p-txt {color: #7c7c7c;}
.pkg-wrap [class*=pkg-] .p1 {margin-top: 30px; font-size: 18px; line-height: 1.5;}
.pkg-wrap .ul0 {position: relative; margin-top: 80px;}
.pkg-wrap .ul0 > li {float: left; width: 386px; border-top: 1px solid #44a8ff; margin-left: 60px;}
.pkg-wrap .ul0 > li:first-child {margin-left: 0;}
.pkg-wrap .ul0 > li h5 {margin-top: 21px; font-size: 18px; font-weight: 600;}
.pkg-wrap .ul0 > li h5 + .p-txt {margin-top: 12px;}
.pkg-wrap .ul0 > li .p-txt {position: relative; line-height: 1.6; word-break: keep-all; letter-spacing: -0.5px;}
.pkg-wrap .ul0 > li .p-txt.i-s {padding-left: 15px;}
.pkg-wrap .ul0 > li .p-txt.i-s:before {content: "※"; display: inline-block; position: absolute; left: 0;}
.pkg-wrap .ul0 > li .p-txt.i-d {padding-left: 10px;}
.pkg-wrap .ul0 > li .p-txt.i-d:before {content: "-"; display: inline-block; position: absolute; left: 0;}


.pkg-wrap .rv-a {display: block; margin: 65px auto 0; width: 306px; height: 64px; font-size: 24px; font-family: "Nanum Gothic", sans-serif; text-align: center; background: #44a8ff; color: #fff; line-height: 62px; border-radius: 4px; font-weight: 600;}
.pkg-wrap .rv-a > * {vertical-align: middle;}
.pkg-wrap .rv-a .gt {position: relative; left: 80px;}


.pkg-wrap .sltMenu-intro .ul1 > li .p-txt {color: #7c7c7c;}
.pkg-wrap .sltMenu-intro .ul1 > li .p-txt {position: relative; line-height: 1.6; word-break: keep-all; letter-spacing: -0.5px;}
.pkg-wrap .sltMenu-intro .ul1 > li .p-txt.i-s {padding-left: 15px;}
.pkg-wrap .sltMenu-intro .ul1 > li .p-txt.i-s:before {content: "※"; display: inline-block; position: absolute; left: 0;}
.pkg-wrap .sltMenu-intro .ul1 > li .p-txt.i-d {padding-left: 10px;}
.pkg-wrap .sltMenu-intro .ul1 > li .p-txt.i-d:before {content: "-"; display: inline-block; position: absolute; left: 0;}

.pkg-wrap .sltMenu-intro {position: relative; margin-top: 50px; border-top: 1px solid #44a8ff;}
.pkg-wrap .sltMenu-intro h5 {font-size: 18px; font-weight: 700; margin-top: 12px;}
.pkg-wrap .sltMenu-intro .ul1 {margin-top: 24px;}
.pkg-wrap .sltMenu-intro .ul1 > li {position: relative; padding: 20px; border: 1px solid #ebebeb; margin-top: 20px;}
.pkg-wrap .sltMenu-intro .ul1 > li > div {float: left;}
.pkg-wrap .sltMenu-intro .ul1 > li .d1 {width: 471px;}
.pkg-wrap .sltMenu-intro .ul1 > li .d2 {position: relative; margin-left: 50px; width: 716px; height: 254px;}
.pkg-wrap .sltMenu-intro .ul1 > li .d2 .s-w {display: inline-block; width: 22px; height: 22px; border-radius: 50%; background: #4e4e4e; color: #fff; text-align: center; font-size: 14px; vertical-align: middle; text-indent: 1.2px;}
.pkg-wrap .sltMenu-intro .ul1 > li .d2 .usePrc {position: absolute; bottom: 0;}
.pkg-wrap .sltMenu-intro .ul1 > li .d2 .usePrc .p-txt .s-txt {/* display: inline-block; */}
.pkg-wrap .sltMenu-intro .ul1 > li .d2 .usePrc .p-txt .s-txt:before {content: " / ";}
.pkg-wrap .sltMenu-intro .ul1 > li .d2 .usePrc .p-txt .s-txt:first-child:before {display: none;}
.pkg-wrap .sltMenu-intro .ul1 > li .d2 .usePrc .p1 {margin-bottom: 5px;}
.pkg-wrap .sltMenu-intro .ul1 > li strong {font-weight: 700; display: block; margin-bottom: 20px;}

.pkg-wrap .pkg-3 .p-row {font-size: 24px; text-align: center; padding-top: 40px; margin: 40px auto -50px; line-height: 1.5; border-top: 1px solid #e1e1e1;}

.vari-wrap {padding: 0px 0 130px; letter-spacing: -1px;}
.vari-wrap .container {padding-top: 60px; border-top: 1px solid #e1e1e1;}
.vari-wrap h3 {font-size: 24px; font-weight: 700;}
.vari-wrap .ul1 {margin-top: 27px;}
.vari-wrap .ul1 > li {position: relative; float: left; margin-left: 16px;}
.vari-wrap .ul1 > li:first-child {margin-left: 0;}
.vari-wrap .ul1 > li a {position: relative; display: block; width: 308px; min-height: 300px; padding: 28px 15px 15px 15px; border: 1px solid #e2e2e2; color: #222;}
.vari-wrap .ul1 > li a .i-scut {display: block; position: absolute; right: 0; top: 0; color: #fff; width: 66px; height: 74px; background: url(http://img.ocean2you.co.kr/renew/i-scut.png) no-repeat; text-align: right; padding: 6px 4px 0 0;}
.vari-wrap .ul1 > li a h4 {font-size: 23px;}
.vari-wrap .ul1 > li a .p1 {font-size: 17px;line-height: 1.5; margin-top: 12px;}
.vari-wrap .ul1 > li a .variImg {display: block; margin-top: 13px;}