@charset 'utf-8';

.vid-wrap {background: url(../../img/package/pkg_titBg.jpg) no-repeat top center; padding-top: 98px; position: relative; width: 100%; height: 400px;}

.bx-controls {margin-top: -22.15px;}
.bx-wrapper .bx-controls-direction a {width: 22px; height: 43px;}
.bx-wrapper .bx-prev {left: 30px;}
.bx-wrapper .bx-next {right: 30px;}

@media (max-width: 767px) {
	.xs-block {display: block;}
	
	.title {position: relative;}
	.title .tit-box {text-align: center; padding-top: 46px; color: #fff;}
	.title .tit-box h2 {font-size: 20px;}
	.title .tit-box .mg- {display: block; height: 1px; width: 30px; margin: 18px auto 20px; background: #fff;}
	.title .tit-box .titTxt img {width: 310px;}
	.title .pkg-tab {position: relative; margin: 22px auto 0; width: 310px; left: 1.5px;}
	.title .pkg-tab > li {position: relative; float: left; top: 0; width: 48%; margin: 1%;}
	.title .pkg-tab > li a {display: block; width: 100%; padding-top: 12px; height: 45px; letter-spacing: -1px; font-size: 16px; border: 2px solid #a8a6a4;}
	.title .pkg-tab > li.on a {border: 2px solid #fff; padding-left: 0;}
	
	
	.pkg-wrap {padding: 40px 0 50px;}
	.pkg-wrap .container {width: 94%;}
	#pkg-box > section {opacity: 0; visibility: hidden; word-break: keep-all; height: 0; overflow: hidden;}
	#pkg-box > section.on {opacity: 1; visibility: visible;  height: auto; overflow: visible;}
	.pkg-wrap [class*=pkg-] h3, .pkg-wrap [class*=pkg-] .p0 {text-align: center;}
	.pkg-wrap [class*=pkg-] h3 {font-size: 28px; color: #44a8ff; font-weight: 600;}
	.pkg-wrap [class*=pkg-] .p0, .pkg-wrap [class*=pkg-] .p1, .pkg-wrap .ul0 > li h5 {color: #373737;}
	.pkg-wrap [class*=pkg-] .p0 {margin-top: 14px; font-size: 15px; line-height: 1.4; letter-spacing: -1px;}
	.pkg-wrap [class*=pkg-] .mg- {display: block; height: 1px; width: 46px; margin: 10px auto 20px; background: #44a8ff;}
	.pkg-wrap [class*=pkg-] h4 {margin-top: 20px; font-size: 16px;}
	.pkg-wrap [class*=pkg-] .p1, .pkg-wrap .ul0 > li .p-txt {color: #7c7c7c;}
	.pkg-wrap [class*=pkg-] .p1 {margin-top: 10px; font-size: 14px; line-height: 1.4; letter-spacing: -1px;}
	.pkg-wrap .ul0 {position: relative; margin-top: 40px;}
	.pkg-wrap .ul0 > li {width: 100%; border-top: 1px solid #44a8ff; margin: 25px auto 0;}
	.pkg-wrap .ul0 > li:first-child {margin-top: 0;}
	.pkg-wrap .ul0 > li h5 {margin-top: 10px; font-size: 14px; font-weight: 600;}
	.pkg-wrap .ul0 > li h5 + .p-txt {margin-top: 6px;}
	.pkg-wrap .ul0 > li .p-txt {position: relative; line-height: 1.4; word-break: keep-all; letter-spacing: -0.5px; font-size: 13px;}
	.pkg-wrap .ul0 > li .p-txt.i-s {padding-left: 13px;}
	.pkg-wrap .ul0 > li .p-txt.i-s:before {content: "※"; display: inline-block; position: absolute; left: 0;}
	.pkg-wrap .ul0 > li .p-txt.i-d {padding-left: 8px;}
	.pkg-wrap .ul0 > li .p-txt.i-d:before {content: "-"; display: inline-block; position: absolute; left: 0;}
	
	.pkg-wrap .rv-a {display: block; margin: 55px auto 0; width: 206px; height: 46px; font-size: 16px; font-family: "Nanum Gothic", sans-serif; text-align: center; background: #44a8ff; color: #fff; line-height: 46px; border-radius: 4px;}
	.pkg-wrap .rv-a > * {vertical-align: middle;}
	.pkg-wrap .rv-a .gt {position: relative; left: 45px; width: 7px;}
	
	
	.bx-wrapper {width: 100%;}
	.bx-controls {margin-top: -4.15px;}
	.bx-wrapper .bx-controls-direction a {width: 10px; height: auto;}
	.bx-wrapper .bx-prev {left: 8px;}
	.bx-wrapper .bx-next {right: 8px;}
	
	
}
@media (max-device-width: 320px) {
	.pkg-wrap [class*=pkg-] .p0 {font-size: 14.5px;}
}


@media (min-width: 768px) and (max-width: 992px) {
	.title {position: relative;}
	.title .tit-box {text-align: center; padding-top: 76px; color: #fff;}
	.title .tit-box h2 {font-size: 24px;}
	.title .tit-box .mg- {display: block; height: 1px; width: 30px; margin: 18px auto 20px; background: #fff;}
	.title .tit-box .titTxt img {width: 500px;}
	.title .pkg-tab {position: relative; margin: 22px auto 0; width: 700px; left: 1.5px;}
	.title .pkg-tab > li {position: relative; float: left; top: 0; width: 25%; border: 2px solid transparent; border-left: 1px solid #a8a6a4; margin-left: -1px; padding-left: 1px;}
	.title .pkg-tab > li.nth-1 {border-left: none; margin-left: 0;}
	.title .pkg-tab > li.on {border: 2px solid #fff; z-index: 1; padding-left: 0;}
	.title .pkg-tab > li.nth-1.on {padding-right: 1px;}
	.title .pkg-tab > li a {display: block; width: 100%; padding-top: 14px; height: 45px;}
	
	.pkg-wrap {padding: 60px 0;}
	.bx-wrapper, .pkg-wrap .container {width: 768px;}
	#pkg-box > section {opacity: 0; visibility: hidden; word-break: keep-all; height: 0; overflow: hidden;}
	#pkg-box > section.on {opacity: 1; visibility: visible;  height: auto; overflow: visible;}
	.pkg-wrap [class*=pkg-] h3, .pkg-wrap [class*=pkg-] .p0 {text-align: center;}
	.pkg-wrap [class*=pkg-] h3 {font-size: 32px; color: #44a8ff; font-weight: 600;}
	.pkg-wrap [class*=pkg-] .p0, .pkg-wrap [class*=pkg-] .p1, .pkg-wrap .ul0 > li h5 {color: #373737;}
	.pkg-wrap [class*=pkg-] .p0 {margin-top: 24px; font-size: 17px;}
	.pkg-wrap [class*=pkg-] .mg- {display: block; height: 1px; width: 46px; margin: 18px auto 35px; background: #44a8ff;}
	.pkg-wrap [class*=pkg-] h4 {margin-top: 30px; font-size: 17px;}
	.pkg-wrap [class*=pkg-] .p1, .pkg-wrap .ul0 > li .p-txt {color: #7c7c7c;}
	.pkg-wrap [class*=pkg-] .p1 {margin-top: 15px; font-size: 15px; line-height: 1.5; letter-spacing: -1px;}
	.pkg-wrap .ul0 {position: relative; margin-top: 70px;}
	.pkg-wrap .ul0 > li {float: left; width: 31%; border-top: 1px solid #44a8ff; margin-left: 3%;}
	.pkg-wrap .ul0 > li:first-child {margin-left: 0;}
	.pkg-wrap .ul0 > li h5 {margin-top: 15px; font-size: 15px; font-weight: 600;}
	.pkg-wrap .ul0 > li h5 + .p-txt {margin-top: 10px;}
	.pkg-wrap .ul0 > li .p-txt {position: relative; line-height: 1.6; word-break: keep-all; letter-spacing: -0.5px; font-size: 14px;}
	.pkg-wrap .ul0 > li .p-txt.i-s {padding-left: 13px;}
	.pkg-wrap .ul0 > li .p-txt.i-s:before {content: "※"; display: inline-block; position: absolute; left: 0;}
	.pkg-wrap .ul0 > li .p-txt.i-d {padding-left: 8px;}
	.pkg-wrap .ul0 > li .p-txt.i-d:before {content: "-"; display: inline-block; position: absolute; left: 0;}
	
	.pkg-wrap .rv-a {display: block; margin: 55px auto 0; width: 206px; height: 46px; font-size: 16px; font-family: "Nanum Gothic", sans-serif; text-align: center; background: #44a8ff; color: #fff; line-height: 46px; border-radius: 4px;}
	.pkg-wrap .rv-a > * {vertical-align: middle;}
	.pkg-wrap .rv-a .gt {position: relative; left: 45px; width: 7px;}
	
	
	
}

@media (min-width: 992px) and (max-width: 1431px) {
	
	.title {position: relative;}
	.title .tit-box {text-align: center; padding-top: 76px; color: #fff;}
	.title .tit-box h2 {font-size: 27px;}
	.title .tit-box .mg- {display: block; height: 1px; width: 60px; margin: 18px auto 20px; background: #fff;}
	.title .pkg-tab {position: relative; margin: 22px auto 0; width: 826px; left: 1.5px;}
	.title .pkg-tab > li {position: relative; float: left; top: 0; width: 25%; border: 2px solid transparent; border-left: 1px solid #a8a6a4; margin-left: -1px; padding-left: 1px;}
	.title .pkg-tab > li.nth-1 {border-left: none; margin-left: 0;}
	.title .pkg-tab > li.on {border: 2px solid #fff; z-index: 1; padding-left: 0;}
	.title .pkg-tab > li.nth-1.on {padding-right: 1px;}
	.title .pkg-tab > li a {display: block; width: 100%; padding-top: 14px; height: 45px;}
	
	.pkg-wrap {padding: 100px 0 90px;}
	.bx-wrapper, .pkg-wrap .container {width: 992px;}
	#pkg-box > section {opacity: 0; visibility: hidden; word-break: keep-all; height: 0; overflow: hidden;}
	#pkg-box > section.on {opacity: 1; visibility: visible;  height: auto; overflow: visible;}
	.pkg-wrap [class*=pkg-] h3, .pkg-wrap [class*=pkg-] .p0 {text-align: center;}
	.pkg-wrap [class*=pkg-] h3 {font-size: 35px; color: #44a8ff; font-weight: 600;}
	.pkg-wrap [class*=pkg-] .p0, .pkg-wrap [class*=pkg-] .p1, .pkg-wrap .ul0 > li h5 {color: #373737;}
	.pkg-wrap [class*=pkg-] .p0 {margin-top: 34px; font-size: 18px;}
	.pkg-wrap [class*=pkg-] .mg- {display: block; height: 1px; width: 60px; margin: 18px auto 50px; background: #44a8ff;}
	.pkg-wrap [class*=pkg-] h4 {margin-top: 35px; font-size: 22px;}
	.pkg-wrap [class*=pkg-] .p1, .pkg-wrap .ul0 > li .p-txt {color: #7c7c7c;}
	.pkg-wrap [class*=pkg-] .p1 {margin-top: 30px; font-size: 18px; line-height: 1.5;}
	.pkg-wrap .ul0 {position: relative; margin-top: 80px;}
	.pkg-wrap .ul0 > li {float: left; width: 31%; border-top: 1px solid #44a8ff; margin-left: 3%;}
	.pkg-wrap .ul0 > li:first-child {margin-left: 0;}
	.pkg-wrap .ul0 > li h5 {margin-top: 21px; font-size: 18px; font-weight: 600;}
	.pkg-wrap .ul0 > li h5 + .p-txt {margin-top: 12px;}
	.pkg-wrap .ul0 > li .p-txt {position: relative; line-height: 1.6; word-break: keep-all; letter-spacing: -0.5px;}
	.pkg-wrap .ul0 > li .p-txt.i-s {padding-left: 15px;}
	.pkg-wrap .ul0 > li .p-txt.i-s:before {content: "※"; display: inline-block; position: absolute; left: 0;}
	.pkg-wrap .ul0 > li .p-txt.i-d {padding-left: 10px;}
	.pkg-wrap .ul0 > li .p-txt.i-d:before {content: "-"; display: inline-block; position: absolute; left: 0;}
	
	
	.pkg-wrap .rv-a {display: block; margin: 65px auto 0; width: 306px; height: 64px; font-size: 24px; font-family: "Nanum Gothic", sans-serif; text-align: center; background: #44a8ff; color: #fff; line-height: 62px; border-radius: 4px; font-weight: 600;}
	.pkg-wrap .rv-a > * {vertical-align: middle;}
	.pkg-wrap .rv-a .gt {position: relative; left: 80px;}
	
	
	
}


@media (min-width: 1432px) {
	

	.title {position: relative;}
	.title .tit-box {text-align: center; padding-top: 76px; color: #fff;}
	.title .tit-box h2 {font-size: 27px;}
	.title .tit-box .mg- {display: block; height: 1px; width: 60px; margin: 18px auto 20px; background: #fff;}
	.title .pkg-tab {position: relative; margin: 22px auto 0; width: 826px; left: 1.5px;}
	.title .pkg-tab > li {position: relative; float: left; top: 0; width: 25%; border: 2px solid transparent; border-left: 1px solid #a8a6a4; margin-left: -1px; padding-left: 1px;}
	.title .pkg-tab > li.nth-1 {border-left: none; margin-left: 0;}
	.title .pkg-tab > li.on {border: 2px solid #fff; z-index: 1; padding-left: 0;}
	.title .pkg-tab > li.nth-1.on {padding-right: 1px;}
	.title .pkg-tab > li a {display: block; width: 100%; padding-top: 14px; height: 45px;}
	
	.pkg-wrap {padding: 100px 0 90px;}
	.bx-wrapper, .bx-wrapper, .pkg-wrap .container {width: 1280px;}
	#pkg-box > section {opacity: 0; visibility: hidden; word-break: keep-all; height: 0; overflow: hidden;}
	#pkg-box > section.on {opacity: 1; visibility: visible;  height: auto; overflow: visible;}
	.pkg-wrap [class*=pkg-] h3, .pkg-wrap [class*=pkg-] .p0 {text-align: center;}
	.pkg-wrap [class*=pkg-] h3 {font-size: 35px; color: #44a8ff; font-weight: 600;}
	.pkg-wrap [class*=pkg-] .p0, .pkg-wrap [class*=pkg-] .p1, .pkg-wrap .ul0 > li h5 {color: #373737;}
	.pkg-wrap [class*=pkg-] .p0 {margin-top: 34px; font-size: 18px;}
	.pkg-wrap [class*=pkg-] .mg- {display: block; height: 1px; width: 60px; margin: 18px auto 50px; background: #44a8ff;}
	.pkg-wrap [class*=pkg-] h4 {margin-top: 35px; font-size: 22px;}
	.pkg-wrap [class*=pkg-] .p1, .pkg-wrap .ul0 > li .p-txt {color: #7c7c7c;}
	.pkg-wrap [class*=pkg-] .p1 {margin-top: 30px; font-size: 18px; line-height: 1.5;}
	.pkg-wrap .ul0 {position: relative; margin-top: 80px;}
	.pkg-wrap .ul0 > li {float: left; width: 386px; border-top: 1px solid #44a8ff; margin-left: 60px;}
	.pkg-wrap .ul0 > li:first-child {margin-left: 0;}
	.pkg-wrap .ul0 > li h5 {margin-top: 21px; font-size: 18px; font-weight: 600;}
	.pkg-wrap .ul0 > li h5 + .p-txt {margin-top: 12px;}
	.pkg-wrap .ul0 > li .p-txt {position: relative; line-height: 1.6; word-break: keep-all; letter-spacing: -0.5px;}
	.pkg-wrap .ul0 > li .p-txt.i-s {padding-left: 15px;}
	.pkg-wrap .ul0 > li .p-txt.i-s:before {content: "※"; display: inline-block; position: absolute; left: 0;}
	.pkg-wrap .ul0 > li .p-txt.i-d {padding-left: 10px;}
	.pkg-wrap .ul0 > li .p-txt.i-d:before {content: "-"; display: inline-block; position: absolute; left: 0;}
	
	
	.pkg-wrap .rv-a {display: block; margin: 65px auto 0; width: 306px; height: 64px; font-size: 24px; font-family: "Nanum Gothic", sans-serif; text-align: center; background: #44a8ff; color: #fff; line-height: 62px; border-radius: 4px; font-weight: 600;}
	.pkg-wrap .rv-a > * {vertical-align: middle;}
	.pkg-wrap .rv-a .gt {position: relative; left: 80px;}
	
	
}

