<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>코레스코삼포(오션투유)</title>
  
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/m/swiper.min.css">
  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/m/jquery.bxslider.css">
  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/m/override.css">
  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/m/ocean2_kor_com.css">
  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/m/ocean2_kor.css">
  <!--<link rel="stylesheet" href="../../src/css/jquery.bxslider.css">-->
  <!-- <link rel="stylesheet" href="../../src/css/m/override.css"> -->
  <!-- <link rel="stylesheet" href="../../src/css/m/ocean2_kor.css"> -->

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="http://static.ocean2you.co.kr/js/m/jquery.easing.min.js"></script>
  <script type="text/javascript" src="http://static.ocean2you.co.kr/js/m/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="http://static.ocean2you.co.kr/js/m/ocean2_kor.js"></script>
  <!--<script type="text/javascript" src="../../src/js/m/jquery.bxslider.min.js"></script>-->
  <!--<script type="text/javascript" src="../../src/js/m/ocean2_kor.js"></script>-->
  
</head>
<body>
  
  <h1 class="skip">코레스코삼포(오션투유)</h1>
  <div id="wrap">
    
    <header class="header">
      <h2 class="wd-300">코레스코삼포(오션투유)</h2>
      <nav class="nav" id="nav">
        <ul class="wd-300 clearfix">
          <li class="on"><a href="#intro-sec">소개</a></li>
          <li><a href="#pyeong-sec">평형안내</a></li>
          <li><a href="#question-sec">숙박문의</a></li>
        </ul>
      </nav>
    </header>
    
    <div class="container">
      <section class="intro-sec" id="intro-sec">
        <h2><strong>코레스코삼포(오션투유) 소개</strong></h2>
        <img class="intro-img" src="http://img.ocean2you.co.kr/koresco_rent-business/intro_title_img.jpg" alt="오션투유사진">
        <p class="is-p1">바다와 산의 낭만이 있는<br><em>코레스코삼포(오션투유)</em></p>
        <p class="is-p2">앞에는 푸른 동해바다,<br>뒤에는 웅장한 국립공원 설악한이 자리잡고 있습니다.</p>
        
        <h3>단지정보</h3>
        <div class="table-box clearfis">
          <ul class="table-u1">
            <li class="table-l1">준공년월</li>
            <li class="table-l2">1992.07</li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">총객실수</li>
            <li class="table-l2">250객실</li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">총주차대수</li>
            <li class="table-l2">166객실</li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">용적율</li>
            <li class="table-l2">89.62%</li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">건폐율</li>
            <li class="table-l2">17.19%</li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">건설사</li>
            <li class="table-l2">실버종합건설(주)</li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">난방방식/난방연료</li>
            <li class="table-l2">개별난방/도시가스</li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">총동수</li>
            <li class="table-l2">2개동</li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">방실/욕실수</li>
            <li class="table-l2">23평 방 2개, 욕실 1개, 베란다 1개</li>
          </ul>
        </div>
        
        <h3>객실정보</h3>
        <div class="table-box clearfix">
          <ul class="table-u1">
            <li class="table-l1 th">타입</li>
            <li class="table-l2 th">23평(76/03㎡)</li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">객실수</li>
            <li class="table-l2">250</li>
          </ul>
        </div>
        
        <h3>위치정보</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3130.362046984376!2d128.52880395101582!3d38.31744607956444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5fd894b74d5ee2c3%3A0xd7d9890ba31040e1!2z6rCV7JuQ64-EIOqzoOyEseq1sCDso73smZXrqbQg7IK87Y-s7ZW067OA6ri4IDk!5e0!3m2!1sko!2skr!4v1491270897111" width="300" height="240" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="map-info-box">
          <p class="nth-1">네비게이션 이용시<br>아래주소를 입력해 주세요.</p>
          <p class="nth-2">강원도 고성군 죽왕면 삼포해변길 9</p>
          <p class="nth-3">임대문의 : 010-4429-3017</p>
          <a href="" class="btn nth-1">약도 출력</a>
          <a href="https://www.google.co.kr/maps/place/%EA%B0%95%EC%9B%90%EB%8F%84+%EA%B3%A0%EC%84%B1%EA%B5%B0+%EC%A3%BD%EC%99%95%EB%A9%B4+%EC%82%BC%ED%8F%AC%ED%95%B4%EB%B3%80%EA%B8%B8+9/@38.3174461,128.528804,17z/data=!3m1!4b1!4m5!3m4!1s0x5fd894b74d5ee2c3:0xd7d9890ba31040e1!8m2!3d38.3174461!4d128.530998" class="btn nth-2">구글 지도 바로가기</a>
        </div>
      </section>
      
      <section class="pyeong-sec" id="pyeong-sec">
        <h2><strong>코레스코삼포(오션투유) 평형안내</strong></h2>
        <div class="bx-wrap">
          <ul class="bx-box">
            <li><img src="http://img.ocean2you.co.kr/koresco_rent-business/silde_interior_01.jpg" alt="인테리어사진1" title="인테리어"></li>
            <li><img src="http://img.ocean2you.co.kr/koresco_rent-business/silde_interior_02.jpg" alt="인테리어사진2" title="인테리어"></li>
            <li><img src="http://img.ocean2you.co.kr/koresco_rent-business/silde_interior_03.jpg" alt="인테리어사진3" title="인테리어"></li>
            <li><img src="http://img.ocean2you.co.kr/koresco_rent-business/silde_interior_04.jpg" alt="인테리어사진4" title="인테리어"></li>
            <li><img src="http://img.ocean2you.co.kr/koresco_rent-business/silde_interior_05.jpg" alt="인테리어사진5" title="인테리어"></li>
            <li><img src="http://img.ocean2you.co.kr/koresco_rent-business/silde_kitchen-bath_01.jpg" alt="주방1" title="주방"></li>
            <li><img src="http://img.ocean2you.co.kr/koresco_rent-business/silde_kitchen-bath_03.jpg" alt="주방3" title="주방"></li>
            <li><img src="http://img.ocean2you.co.kr/koresco_rent-business/silde_kitchen-bath_02.jpg" alt="주방2" title="주방"></li>
            <li><img src="http://img.ocean2you.co.kr/koresco_rent-business/silde_kitchen-bath_04.jpg" alt="주방4" title="주방"></li>
            <li><img src="http://img.ocean2you.co.kr/koresco_rent-business/silde_kitchen-bath_05.jpg" alt="주방5" title="주방"></li>
          </ul>
        </div>
        
        <h3>숙박요금</h3>
        <div class="table-box clearfix">
          <ul class="table-u1">
            <li class="table-l1 th">평형</li>
            <li class="table-l2 th">23평(76/03㎡)</li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">분류</li>
            <li class="table-l2">단기숙박</li>
            <li class="table-l3">장기숙박</li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">예치금</li>
            <li class="table-l2 bor-0"><a href="" class="btn c-white bg-blue">바로가기 <br>Tel. 010.4429.3017</a></li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">월숙박료</li>
            <li class="table-l2 bor-0"></li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">숙박문의</li>
            <li class="table-l2"></li>
            <li class="table-l3"></li>
          </ul>
        </div>
      </section>
      
      <section class="question-sec" id="question-sec">
        <h2>코레스코삼포(오션투유) 숙박문의</h2>
        <div class="table-box clearfix">
          <ul class="table-u1">
            <li class="table-l1">구분</li>
            <li class="table-l2">
              <input type="radio" id="term1" name="term">
              <label for="term1">단기숙박</label>
              <input type="radio" id="term2" name="term">
              <label for="term2">장기숙박</label>
            </li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">가격</li>
            <li class="table-l2"><input class="in-txt" type="text"></li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">상담내용</li>
            <li class="table-l2"><textarea name="" id="" cols="23" rows="10"></textarea></li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">성명</li>
            <li class="table-l2"><input class="in-txt" type="text"></li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">연락처</li>
            <li class="table-l2"><input class="in-txt" type="text" placeholder="'-'없이 입력해주세요"></li>
          </ul>
          <ul class="table-u1">
            <li class="table-l1">이메일</li>
            <li class="table-l2"><input class="in-txt" type="text"></li>
          </ul>
        </div>
        <p class="qs-p1"><a href="" class="btn-1 bg-blue c-white">등록</a><a href="" class="btn-2">취소</a></p>
      </section>
      
    </div>
    
    <footer class="footer">
      <div class="footer-box clearfix">
        <p class="f-logo">
          <img src="http://img.ocean2you.co.kr/koresco_rent-business/m/m_footer_enasset.jpg" alt="푸터로고">
        </p>
        <address>
          <p>(주)이스턴월드ㅣ대표이사: 김흥기ㅣ서울특별시 서초구 남부순환로 2646, 4층 402호</p>
          <p>사업자번호 120-88-03537 ㅣ Tel ) 02.6255.3017</p>
          <small>Copyright ⓒ Easternworld. All Rights Reserved.</small>
        </address>
      </div>
    </footer>
    
  </div>
  
</body>
</html>