<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
	<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<title>오션투유리조트</title>
	
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유리조트">
	<meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="오션투유리조트">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta name="twitter:title" content="오션투유리조트">
	<!--<link rel="canonical" href="도메인">-->
	
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link href="https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css" rel="stylesheet" type="text/css">
	
	
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">
	<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common.css">-->
	<link rel="stylesheet" href="../../src/css/common.css">
	<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/intro/init.css">-->
	<link rel="stylesheet" href="../../src/css/intro/init.css">
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/jquery.easing.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/common_ocean.js"></script>
	
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common_ie8.css">
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/intro/init_ie8.css">
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>

	<h1 class="hidden">오션투유리조트 소개</h1>
	<div id="wrap">

		
		<div class="vid-wrap">
			<header class="header" id="gnb-header">
				<div class="container">
					<a href="" class="logo-box">
						<img class="logo" src="http://img.ocean2you.co.kr/renew/logo.png" alt="오션투유리조트">
					</a>
					
					<button class="mNav-btn" id="mNav-btn" type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="nav-bar">
						<ul class="nav clr">
							<li class="fst"><a href="">오션투유소개</a></li>
							<li><a href="">패키지안내</a></li>
							<li><a href="">시설안내</a></li>
							<li><a href="">주변관광지</a></li>
							<li><a href="">오시는길</a></li>
							<li class="lst"><a href="">예약/예약조회</a></li>
						</ul>
					</nav>
				</div>
				<nav class="mNav-box" id="mNav-box">
					<h2><a href="">HOME</a></h2>
					<ul class="mNav">
						<li class="fst"><a href="">오션투유소개</a></li>
						<li><a href="">패키지안내</a></li>
						<li><a href="">시설안내</a></li>
						<li><a href="">주변관광지</a></li>
						<li><a href="">오시는길</a></li>
						<li class="lst"><a href="">예약/예약조회</a></li>
					</ul>
				</nav>
			</header>
			
			<section class="title">
			
				<div class="container tit-box">
					<h2>오션투유 리조트 소개</h2>
					<div class="mg-"></div>
					<div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/intro/intro_title.png" alt="오션투유리조트소개"></div>
					<p class="p0">반짝이는 백사장 위로 쏟아지는 별빛을 볼 수 있는 오션투유 리조트로 초대합니다.</p>
				</div>
								
			</section>
		</div>
		
		
		<section class="resort" id="setTop">
				<div class="container">
					<figure class="resortImg"><img src="http://img.ocean2you.co.kr/renew/intro/resort.jpg" alt="리조트사진"></figure>
					
					<h3 class="p0">해변의 명물인 호미섬의 낭만이 있는곳 오션투유 리조트 속초설악비치 호텔앤콘도</h3>
					<div class="mg-"></div>
					<p class="p1">
						천혜의 절경, 삼포해수욕장을 배경으로 한 우리 오션투유는<br>
						전 객실 23평형의 250객실로 수련회, 단합대회, 야유회 등 학교 및 기업의 단체 숙박에 최적의 장소입니다.
					</p>
					<p class="p2">
						오션투유리조트에는 워크숍, 세미나, 교육연수 등 단체 활동을 위한 다양한 부대시설이 준비되어 있습니다.<br>
						지하 1층 125평의 소 연회장, 지상 2층 145평의 대 연회장, 지상1층에 마련된 200명이 앉을 수 있는 255평의 바비큐장 뿐 아니라<br>
						특급호텔 30년 근무 경력의 조리장 3명이 근무하는 품격 있는 뷔페 서비스를 저렴한 가격으로 이용 할 수 있습니다.
					</p>
				
					<!--171020 버튼추가-->
					<div class="btn-area">
						<a href="#" class="rv-a a1"><img class="i_user" src="http://img.ocean2you.co.kr/renew/i_user.png" alt=""><span class="s0">단체예약 문의 하기</span><img src="http://img.ocean2you.co.kr/renew/i_gtB.png" alt="" class="gt"></a>
						<a href="#" class="rv-a"><span class="s0">예약하기</span><img src="http://img.ocean2you.co.kr/renew/i_gt.png" alt="" class="gt"></a>
					</div>
				</div>
			</section>
			
			<section class="oc2point">
				<div class="container">
					<ul class="ul0 clr">
						<li class="nth-1"><img src="http://img.ocean2you.co.kr/renew/intro/clam.jpg" alt="은빛모래"></li>
						<li class="l-1 nth-2">
							<div class="txt-box">
								<p class="p0">Oceantoyou Resort Point 1.</p>
								<h3>반짝이는 은빛 모래 속 가득한 보물</h3>
								<p class="p1">
									<span class="xs-inline">오션투유 리조트 앞에 펼쳐진 삼포해변은 반짝거리는 아름다운</span>
									모래사장으로 유명합니다.
								</p>
								<p class="p1">
									이 삼포해변에는 숨은 보물을 찾는 재미로 가득합니다.
								</p>
								<p class="p1">
									<span class="xs-inline">삼포 해변의 고운 백사장이 숨겨놓은 보물, 조개를 잡으며 즐거운</span>
									하루를 만들어보세요.
								</p>
							</div>
						</li>
						<li class="nth-3-0 xs-visible"><img src="http://img.ocean2you.co.kr/renew/intro/coast.jpg" alt="탁트인해안선"></li>
						<li class="l-1 nth-3">
							<div class="txt-box">
								<p class="p0">Oceantoyou Resort Point 2.</p>
								<h3>별빛이 쏟아지는 환상적인 뷰</h3>
								<p class="p1">
									오션투유 리조트 오션뷰에서 바라본, 탁트인 해안선은<br>
									꽉막힌 가슴을 시원하게 만들어 줍니다.
								</p>
								<p class="p1">
									하얀 백사장 위로 매일밤 쏟아지는 별빛을 볼 수 있는<br>
									<span class="xs-inline">오션투유 리조트는 매일밤 당신을 환상적인 한폭의 그림 속으로</span>
									초대합니다.
								</p>
							</div>
						</li>
						<li class="nth-4 xs-hidden"><img src="http://img.ocean2you.co.kr/renew/intro/coast.jpg" alt="탁트인해안선"></li>
					</ul>
				</div>
			</section>

		

		<footer class="footer">
			<div class="container">
				
				<!--171017 footer수정-->
				<div class="flt-1 clr">
					<img class="f-logo" src="http://img.ocean2you.co.kr/renew/f_logo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							오션투유리조트 설악비치 호텔앤콘도<br>
							주소 : 강원 고성군 죽왕면 삼포해변길 9<span class="i-l"></span>TEL. 070-7688-2438<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호						
						</p>
					</address>
					<!--171020 예약문의 추가-->
					<a class="callFor cf1" href="tel:1600-1867">
						<img class="pic-call" src="http://img.ocean2you.co.kr/renew/pic_callW.png" alt="전화아이">
						<span class="s1">예약문의</span>
						<span class="mgl"></span>
						<span class="s3">1600-1867</span>
					</a>
					<a class="callFor cf2" href="tel:010-8844-0409">
						<img class="pic-call" src="http://img.ocean2you.co.kr/renew/pic_call.png" alt="전화아이">
						<span class="s1">단체예약문의</span>
						<span class="mgl"></span>
						<span class="s3">010.8844.0409</span>
					</a>
				</div>
				<div class="clr"></div>
				<div class="flt-1 clr">
					<img class="f-gcLogo" src="http://img.ocean2you.co.kr/renew/f_gcLogo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1 mt">
							(주)바로네트웍스<br>
							주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호<br>
							여행업등록번호 : 제2015-02호<span class="i-l"></span>여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
						</p>
						* 바로네트웍스는 오션투유리조트의 공식 온라인 총판사 입니다. 
						<br><br>
						<p class="nth-2">
							Copyright 2016 OCEAN2YOU CONE. ALL RIGHTS RESERVED
						</p>

					</address>
				</div>
			</div>
		</footer>
		
		<a href="javascript:;" id="goTop"><img src="http://img.ocean2you.co.kr/renew/goTop.jpg" alt="위로"></a>
	</div>
	
	
</body>
</html>