<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
	<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<title>오션투유리조트</title>
	
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유리조트">
	<meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="오션투유리조트">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta name="twitter:title" content="오션투유리조트">
	<!--<link rel="canonical" href="도메인">-->
	
	<!-- <link href="https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css" rel="stylesheet" type="text/css"> -->
	<link rel="stylesheet" href="../src/fonts/nanumbarungothic/nanumbarungothic.css">
	<!-- <link rel="stylesheet" href="http://static.ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css">  -->
	

	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/jquery.mb.YTPlayer.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common.css">-->
	<link rel="stylesheet" href="../../src/css/common.css">
	<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/index.css">-->
	<link rel="stylesheet" href="../../src/css/faq/init.css">
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/jquery.easing.min.js"></script>
	<!--<script src="http://static.ocean2you.co.kr/js/renew/common_ocean.js"></script>-->
	<script src="../../src/js/common_ocean.js"></script>
	<!--[if gte IE 9]><!--> 
	<script src="http://static.ocean2you.co.kr/js/renew/jquery.mb.YTPlayer.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/index_player.js"></script>
	<!--<![endif]-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common_ie8.css">
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/index_ie8.css">
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>

<body>

	<h1 class="hidden">오션투유리조트</h1>

	<div id="wrap">

		
		<div class="vid-wrap">
			<header class="header" id="gnb-header">
				<div class="container">
					<a href="" class="logo-box">
						<img class="logo" src="http://img.ocean2you.co.kr/renew/logo.png" alt="오션투유리조트">
					</a>
					
					<button class="mNav-btn" id="mNav-btn" type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>
					
					
					<nav class="nav-bar">
						<div class="d1">
							<a class="faq-a" id="faq-a" href="#">고코투어 이벤트 당첨안내</a>
							<a class="mFaq-a" id="mFaq-a" href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
						</div>
						<ul class="nav clr">
							<li class="fst"><a href="">오션투유소개</a></li>
							<li><a href="">패키지안내</a></li>
							<li><a href="">시설안내</a></li>
							<li><a href="">주변관광지</a></li>
							<li><a href="">오시는길</a></li>
							<li class="lst"><a href="">예약/예약조회</a></li>
						</ul>
					</nav>
				</div>
				<nav class="mNav-box" id="mNav-box">
					<h2><a href="">HOME</a></h2>
					<ul class="mNav">
						<li class="fst"><a href="">오션투유소개</a></li>
						<li><a href="">패키지안내</a></li>
						<li><a href="">시설안내</a></li>
						<li><a href="">주변관광지</a></li>
						<li><a href="">오시는길</a></li>
						<li><a href="">예약/예약조회</a></li>
						<li><a href="">이벤트 당첨안내</a></li>
					</ul>
				</nav>
			</header>
			
			<section class="title">
			
				<div class="container tit-box">
					<h2>고코투어 이벤트 당첨 자주 묻는 질문</h2>
					<div class="mg-"></div>
				</div>
								
			</section>
		</div>
		
		<div class="wrapperin">
			<ul class="fqa_wrap"  id="faq">
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>고코투어에서 이벤트 당첨 문자를 받았는데 실제 진행하는 이벤트가 맞나요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p> 네. 맞습니다.<br>저희 오션투유리조트 호텔앤콘도 설악비치 에서는 고코투어와 함께 '무료숙박권' 이벤트를 진행하고 있습니다.<br>
						해당 문자를 수신하신 고객님들은 고코투어에서 안내된 대로 진행해주시면 저희 오션투유리조트 호텔앤콘도 설악비치를 이용하실수 있습니다.</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>무료숙박권인데 결제창이 뜨는데 결제를 해야하나요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p>경품지급에 따른 제세공과금 및 봉사료가 포함된 금액을 결제 하셔야 이용하실수 있습니다.</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>무료숙박권 이벤트는 왜 하는건가요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<!-- <p>저희 오션투유리조트 호텔앤콘도 설악비치는 수려한 삼포해수욕장을 끼고 있으며 27년의 전통을 자랑하는 리조트입니다.<br>그동안 회사경영난으로 5년간 일시적 운영중단을 했었다가 현재 재개장하여 2년째 운영중에 있습니다.<br>이에 보다 많은 분들이 찾으실수 있도록 저희 오션투유리조트 호텔앤콘도 설악비치의 홍보를 위해 고코투어와 제휴를 맺어 고코투어 회원들에게 저렴한 요금으로 이용하실수 있도록 이벤트를 진행중입니다.</p> -->
						<p>
							오션투유리조트 호텔앤콘도 설악비치는 수려한 삼포해수욕장을 끼고 있으며 27년의 전통을 자랑하는 리조트입니다.<br>
							이에 보다 많은 분들이 찾으실수 있도록 저희 오션투유리조트 호텔앤콘도 설악비치의 홍보를 위해 고코투어와 제휴를 맺어 고코투어 회원들에게 저렴한 요금으로 이용하실수 있도록 이벤트를 진행중입니다.
						</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>주말에도 예약이 가능한가요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p>무료숙박권 사용기한은 2018년 1월 31일까지이며, 해당기간내 주말 사용이 가능합니다만, 이벤트 객실은 한정되어 주말이용을 원하신다면 되도록 미리 예약을 해주셔야함을 양해 부탁드립니다.</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>객실은 어디로 배정이 되는건가요?</p>
					</div>	
					<div class="f_a">
						<span class="a_con">A</span>
						<p>저희 오션투유리조트 호텔앤콘도 설악비치는 현재 리노베이션 진행중이며, 우선적으로 리노베이션콘도-오션뷰 객실부터 배정하고 있으나, 소진시 마운티뷰로 제공하고 있습니다.</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>인원은 몇 명까지 투숙가능한가요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p>정원은 4명이며 최대 7명까지 투숙이 가능합니다만, 추가인원 발생시 인당 2만원(엑스트라베드포함)의 추가비용을 현장에서 결제해주시면 됩니다.</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>오션투유리조트 호텔앤콘도 설악비치는 객실이 몇 개인가요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p>저희 오션투유리조트 호텔앤콘도 설악비치는 27년의 역사를 자랑하는 250객실을 보유한 대형 리조트 입니다.<br>약 160개방이 현재 리노베이션 되어 있으며 90개의 방은 계속해서 리노베이션 중입니다.<br>일부 수선 중인 객실 컨디션을 보완을 위해 50여명에 이르는 룸메이드가 청결에 특히 신경 쓰고 있습니다.<br>빠른시간내에 모든 객실을 깔끔하게 수선해 불편함이 없도록 최선을 다하고 있습니다.</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>조식뷔페도 하나요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p>네 맞습니다. 저희 오션투유리조트 호텔앤콘도 설악비치는 주말에 조식뷔페 운영중에 있으며, 객실예약후 투숙일전까지 성인 9,900원 소인 7,900원(36개월이상) 에 이용 가능합니다.<br>(현장결제시 성인12,000원 소인 9,000원(36개월이상)) 평일에는 퀄리티 높은 한정식메뉴를 저렴한 가격으로 이용하실수 있습니다. (광어미역국 12,000원 / 우거지갈비탕 8,000원 / 황태해장국 8,000원)</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>부대시설은 어떤게 있나요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p> 1층 한식당 다연에서는 조식뷔페 외에도 수준높은 한정식메뉴를 저렴한 가격으로 이용하실수 있으며 (광어미역국 12,000원 / 우거지갈비탕 8,000원 / 황태해장국 8,000원), 커피셥 라바짜속초설악비치점, 편의점, 노래방, 바베큐장등을 겸비하고 있습니다.</p>
					</div>
				</li>	
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>궁금한건 어디로 전화하면 되나요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p>
							오션투유 리조트 예약실 02-6255-3155 로 문의주시면 됩니다. 현재 무료숙박권 이벤트로 인해 전화통화가 폭주상태입니다.<br>
 							이점 널리 양해 부탁 드리며, 궁금하신 사항은 가급적 1대1문의를 남겨 주시면 평균 1000타가 넘는 전담 직원이 빠르게 답변을 해드리고 있습니다.
 						</p>
					</div>
				</li>	
			</ul>
			
			<div class="btn-area"><a href="javascript:;" class="btn-a">더보기</a></div>
		</div>

		
		<footer class="footer">
			<div class="container">
				
				<div class="flt-1 clr">
					<img class="f-logo" src="http://img.ocean2you.co.kr/renew/f_logo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							오션투유리조트 설악비치 호텔앤콘도<br>
							주소 : 강원 고성군 죽왕면 삼포해변길 9<span class="i-l"></span>TEL. 070-7688-2438<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호						
						</p>
					</address>
					<a class="callFor cf1" href="tel:1600-1867">
						<img class="pic-call" src="http://img.ocean2you.co.kr/renew/pic_callW.png" alt="전화아이">
						<span class="s1">예약문의</span>
						<span class="mgl"></span>
						<span class="s3">1600-1867</span>
					</a>
					<a class="callFor cf2" href="tel:010-8844-0409">
						<img class="pic-call" src="http://img.ocean2you.co.kr/renew/pic_call.png" alt="전화아이">
						<span class="s1">단체예약문의</span>
						<span class="mgl"></span>
						<span class="s3">010.8844.0409</span>
					</a>
				</div>
				<div class="clr"></div>
				<div class="flt-1 clr">
					<img class="f-gcLogo" src="http://img.ocean2you.co.kr/renew/f_gcLogo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1 mt">
							(주)바로네트웍스<br>
							주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호<br>
							여행업등록번호 : 제2015-02호<span class="i-l"></span>여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
						</p>
						* 바로네트웍스는 오션투유리조트의 공식 온라인 총판사 입니다. 
						<br><br>
						<p class="nth-2">
							Copyright 2016 OCEAN2YOU CONE. ALL RIGHTS RESERVED
						</p>

					</address>
				</div>
			</div>
		</footer>
		
		<a href="javascript:;" id="goTop"><img src="http://img.ocean2you.co.kr/renew/goTop.jpg" alt="위로"></a>
	</div>
		
	<!--<div class="m_header">
		<a href="" class="logo-box">
			<img class="logo" src="http://img.ocean2you.co.kr/renew/logo.png" alt="오션투유리조트">
		</a>
		<div class="m_faq_wrap">
			<a href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
		</div>
			<button class="mNav-btn" id="mNav-btn" type="button">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>	
		<h3>고코투어 이벤트 당첨 자주 묻는 질문<br><br><span class="bar"></span></h3>
	<div class="M_contents">
	
		<div class="wrapperin">
			<ul class="fqa_wrap"  id="faq">
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>고코투어에서 이벤트 당첨 문자를 받았는데 실제 진행하는 이벤트가 맞나요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p> 네. 맞습니다.<br>저희 오션투유리조트 호텔앤콘도 설악비치 에서는 고코투어와 함께 '무료숙박권' 이벤트를 진행하고 있습니다.<br>
						해당 문자를 수신하신 고객님들은 고코투어에서 안내된 대로 진행해주시면 저희 오션투유리조트 호텔앤콘도 설악비치를 이용하실수 있습니다.</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>무료숙박권인데 결제창이 뜨는데 결제를 해야하나요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p>경품지급에 따른 제세공과금 및 봉사료가 포함된 금액을 결제 하셔야 이용하실수 있습니다.</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>무료숙박권 이벤트는 왜 하는건가요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p>저희 오션투유리조트 호텔앤콘도 설악비치는 수려한 삼포해수욕장을 끼고 있으며 27년의 전통을 자랑하는 리조트입니다.<br>그동안 회사경영난으로 5년간 일시적 운영중단을 했었다가 현재 재개장하여 2년째 운영중에 있습니다.<br>이에 보다 많은 분들이 찾으실수 있도록 저희 오션투유리조트 호텔앤콘도 설악비치의 홍보를 위해 고코투어와 제휴를 맺어 고코투어 회원들에게 저렴한 요금으로 이용하실수 있도록 이벤트를 진행중입니다.</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>주말에도 예약이 가능한가요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p>무료숙박권 사용기한은 2018년 1월 31일까지이며, 해당기간내 주말 사용이 가능합니다만, 이벤트 객실은 한정되어 주말이용을 원하신다면 되도록 미리 예약을 해주셔야함을 양해 부탁드립니다.</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>객실은 어디로 배정이 되는건가요?</p>
					</div>	
					<div class="f_a">
						<span class="a_con">A</span>
						<p>저희 오션투유리조트 호텔앤콘도 설악비치는 현재 리노베이션 진행중이며, 우선적으로 리노베이션콘도-오션뷰 객실부터 배정하고 있으나, 소진시 마운티뷰로 제공하고 있습니다.</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>인원은 몇 명까지 투숙가능한가요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p>정원은 4명이며 최대 7명까지 투숙이 가능합니다만, 추가인원 발생시 인당 2만원(엑스트라베드포함)의 추가비용을 현장에서 결제해주시면 됩니다.</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>오션투유리조트 호텔앤콘도 설악비치는 객실이 몇 개인가요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p>저희 오션투유리조트 호텔앤콘도 설악비치는 27년의 역사를 자랑하는 250객실을 보유한 대형 리조트 입니다.<br>약 160개방이 현재 리노베이션 되어 있으며 90개의 방은 계속해서 리노베이션 중입니다.<br>일부 수선 중인 객실 컨디션을 보완을 위해 50여명에 이르는 룸메이드가 청결에 특히 신경 쓰고 있습니다.<br>빠른시간내에 모든 객실을 깔끔하게 수선해 불편함이 없도록 최선을 다하고 있습니다.</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>조식뷔페도 하나요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p>네 맞습니다. 저희 오션투유리조트 호텔앤콘도 설악비치는 주말에 조식뷔페 운영중에 있으며, 객실예약후 투숙일전까지 성인 9,900원 소인 7,900원(36개월이상) 에 이용 가능합니다.<br>(현장결제시 성인12,000원 소인 9,000원(36개월이상)) 평일에는 퀄리티 높은 한정식메뉴를 저렴한 가격으로 이용하실수 있습니다. (광어미역국 12,000원 / 우거지갈비탕 8,000원 / 황태해장국 8,000원)</p>
					</div>
				</li>
				
				<li>
					<div class="f_q">
						<span class="q_con">Q</span>
						<p>부대시설은 어떤게 있나요?</p>
					</div>
					<div class="f_a">
						<span class="a_con">A</span>
						<p> 1층 한식당 다연에서는 조식뷔페 외에도 수준높은 한정식메뉴를 저렴한 가격으로 이용하실수 있으며 (광어미역국 12,000원 / 우거지갈비탕 8,000원 / 황태해장국 8,000원), 커피셥 라바짜속초설악비치점, 편의점, 노래방, 바베큐장등을 겸비하고 있습니다.</p>
					</div>
				</li>	
			</ul>
			
			<a href="#" class="btn-a">더보기</a>
		</div>
	</div>-->
	
</body>
</html>