<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
	<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<title>오션투유리조트</title>
	
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유리조트">
	<meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="오션투유리조트">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta name="twitter:title" content="오션투유리조트">
	<!--<link rel="canonical" href="도메인">-->
	
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css"> 
	<!--<link href="https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css" rel="stylesheet" type="text/css">-->
	
	
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common.css">-->
	<link rel="stylesheet" href="../../src/css/common.css">
	<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/package/init.css">-->
	<link rel="stylesheet" href="../../src/css/package/init.css">
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/jquery.easing.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/common_ocean.js"></script>
	<!--<script src="http://static.ocean2you.co.kr/js/renew/package/init.js"></script>-->
	<script src="../../src/js/package/init.js"></script>
	
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common_ie8.css">
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/package/init_ie8.css">
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>

	<h1 class="hidden">오션투유리조트</h1>
	<div id="wrap">

		
		<div class="vid-wrap">
			<header class="header" id="gnb-header">
				<div class="container">
					<a href="" class="logo-box">
						<img class="logo" src="http://img.ocean2you.co.kr/renew/logo.png" alt="오션투유리조트">
					</a>
					
					<button class="mNav-btn" id="mNav-btn" type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="nav-bar">
						<ul class="nav clr">
							<li class="fst"><a href="">오션투유소개</a></li>
							<li><a href="">패키지안내</a></li>
							<li><a href="">시설안내</a></li>
							<li><a href="">이벤트/축제</a></li>
							<li><a href="">주변관광지</a></li>
							<li><a href="">주변관광지</a></li>
							<li><a href="">오시는길</a></li>
							<li class="lst"><a href="">예약/예약조회</a></li>
						</ul>
					</nav>
				</div>
				<nav class="mNav-box" id="mNav-box">
					<h2><a href="">HOME</a></h2>
					<ul class="mNav">
						<li class="fst"><a href="">오션투유소개</a></li>
						<li><a href="">패키지안내</a></li>
						<li><a href="">시설안내</a></li>
						<li><a href="">이벤트/축제</a></li>
						<li><a href="">주변관광지</a></li>
						<li><a href="">주변관광지</a></li>
						<li><a href="">오시는길</a></li>
						<li class="lst"><a href="">예약/예약조회</a></li>
					</ul>
				</nav>
			</header>
			
			<section class="title">
			
				<div class="container tit-box">
					<h2>오션투유 리조트 패키지 안내</h2>
					<div class="mg-"></div>
					<div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/package/pkg_title.png" alt="오션투유리조트소개"></div>
					<ul class="pkg-tab clr" id="pkg-tab">
						<li class="nth-1"><a href="javascript:;">조식 패키지</a></li>
						<li class="nth-2"><a href="javascript:;">바베큐 패키지</a></li>
						<li class="nth-3"><a href="javascript:;">전동바이크 패키지</a></li>
						<!--171122 룸서비스로 변경-->
						<li class="nth-4 on"><a href="javascript:;">룸서비스</a></li>
					</ul>
					
				</div>
								
			</section>
		</div>
		
		
		<!--171020 패키지안내 순서 변경 조식, 바베큐, 바이크, 조개잡기-->
		<div class="pkg-wrap" id="setTop">
			<div class="container" id="pkg-box">
				<section class="pkg-1">
					
					<h3>조식 패키지</h3>
					<p class="p0">다채로운 전채요리부터 달콤한 디저트 코너까지 한자리에서 만끽할 수 있는 조식 뷔페 패키지 안내</p>
					<div class="mg-"></div>
					<!--171012 조식패키지 이미지 추가, 회 물회(10, 11) 추가-->
					<div class="bxBox" id="bxBox-2">
						<ul class="bxS">
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_01.jpg" alt="조식 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_02.jpg" alt="조식 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_03.jpg" alt="조식 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_04.jpg" alt="조식 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_05.jpg" alt="조식 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_06.jpg" alt="조식 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_07.jpg" alt="조식 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_08.jpg" alt="조식 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_09.jpg" alt="조식 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_10.jpg" alt="조식 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_11.jpg" alt="조식 패키지"></li>
						</ul>
					</div>
					
					<h4>한식당 다연 조식 패키지 상세안내</h4>
					
					<p class="p1">
						오션투유리조트 설악비치 호텔앤콘도에서는 소시지, 스크램블, 베이컨, 감자튀김, 샐러드, 시리얼 등 25종의 메뉴로 구성된 아메리칸 뷔페를 운영하고있습니다.<br>
						특급호텔 30년 근무 경력의 조리장들이 질 좋은 제철 식재료를 선별하여 요리 하나하나 최고의 맛을 자랑합니다.<br>
						오션투유리조트 한식당 다연에서 맛의 향연을 만끽해보세요.<br>
					</p>
					
					
					<ul class="ul0 clr">
						<li class="nth-1 clr">
							<h5>운영시간</h5>
							<p class="p-txt">조식운영시간: 07:30~10:30</p>
							<p class="p-txt">조식운영시간: 07:30~10:30</p>
							<p class="p-txt i-d">주중: 07:30 ~ 20:00</p>
							<p class="p-txt i-d">주말: 07:30 ~ 21:00</p>
							<p class="p-txt i-s">추가 메뉴 선택 가능하며, 추가비용이 발생합니다.</p>
						</li>
						<li class="nth-2">
							<h5>위치안내</h5>
							<p class="p-txt i-d">오션투유리조트 내 1층</p>
						</li>
						<li class="nth-3">
							<h5>선택메뉴 및 가격 안내</h5>
							<p class="p-txt i-d">광어미역국 12,000 원</p>
							<p class="p-txt i-d">우거지갈비탕 8,000원</p>
							<p class="p-txt i-d">황태해장국 8,000원</p>
							<p style="border-top: 1px solid #EAEAEA;margin-top:10px;margin-bottom:10px"></p>
							<p class="p-txt i-d">계절 모둠 회 大 70,000원</p>
							<p class="p-txt i-d">계절 모둠 회 中 50,000원</p>
							<p class="p-txt i-d">계절 모둠 회 小 30,000원</p>
							<p style="border-top: 1px solid #EAEAEA;margin-top:10px;margin-bottom:10px"></p>
							<p class="p-txt i-d">계절 모둠 물회 2인 20,000원</p>
							<p class="p-txt i-d">계절 모둠 물회 3인 30,000원</p>
							<p class="p-txt i-d">계절 모둠 물회 4인 40,000원</p>
						</li>
					</ul>
					<!--171020 선택메뉴 추가-->
					<div class="sltMenu-intro">
						<h5>선택 메뉴 안내</h5>
						<ul class="ul1">
							<li class="li1 clr">
								<div class="d1"><img src="http://img.ocean2you.co.kr/renew/package/brfMenu_01.jpg" alt="시카코바베큐플레이츠"></div>
								<div class="d2">
									<strong>시카고바베큐플레이츠 <span class="s1">(다연 또는 바베큐장에서 이용 및 룸서비스 가능)</span></strong>
									<p class="p-txt">
										폭립, 삼겹살을 특급호텔 30년 경력의 주방장의 지위하에 정통 차콜 그릴에서  
										약 2시간 동안, 약 200도의 온도로 쿠킹하며 사과나무로 훈연하여 만들어낸 바베큐입니다.<br>
										( 모닝빵, 코오슬로, 바베큐 소스, 파인애플 조림 등이 같이 곁들여져 있습니다.)
									</p>
									<p class="p-txt i-s">바베큐 장 및 한식당 다연에서 주문 가능 합니다.</p>
									<div class="usePrc">
										<p class="p1"><span class="s-w">￦</span> 이용가격</p>
										<p class="p-txt"><span class="s-txt">시카코 바베큐플레이츠 <span class="f-bd">19,000</span>원</span></p>
									</div>
								</div>
							</li>
							<li class="li2 clr">
								<div class="d1"><img src="http://img.ocean2you.co.kr/renew/package/brfMenu_02.jpg" alt="계절 모둠 회"></div>
								<div class="d2">
									<strong>계절 모둠 회 <span class="s1">(다연 또는 바베큐장에서 이용 및 룸서비스 가능)</span></strong>
									<p class="p-txt">
										특급호텔 30년 경력의 주방장이 직접 싱싱한 제철 활어를 공수해 제공하는 회 메뉴 입니다.<br>
										오션투유 리조트에서 신선함이 살아있는 최상의 맛을 느껴보세요.
									</p>
									<div class="usePrc">
										<p class="p1"><s class="s-w">￦</s> 이용가격</p>
										<p class="p-txt"><span class="s-txt">계절 모둠 회 大 <span class="f-bd">70,000</span>원</span> <span class="s-txt">계절 모둠 회 中 <span class="f-bd">50,000</span>원</span> <span class="s-txt">계절 모둠 회 小 <span class="f-bd">30,000</span>원</span></p>
									</div>
								</div>
							</li>
							<li class="li3 clr">
								<div class="d1"><img src="http://img.ocean2you.co.kr/renew/package/brfMenu_03.jpg" alt="계절 모둠 물회"></div>
								<div class="d2">
									<strong>계절 모둠 물회 <span class="s1">(다연 또는 바베큐장에서 이용 및 룸서비스 가능)</span></strong>
									<p class="p-txt">
										특급호텔 30년 경력의 주방장의 특급 비법소스와 싱싱한 제철 활어를 공수하여 주문 즉시
										조리하며, 신선함은 물론, 감칠맛이 더욱 뛰어난 물회 메뉴입니다. 
									</p>
									<div class="usePrc">
										<p class="p1"><span class="s-w">￦</span> 이용가격</p>
										<p class="p-txt"><span class="s-txt">계절 모둠 물회 2인 <span class="f-bd">20,000</span>원</span> <span class="s-txt">계절 모둠 물회 3인 <span class="f-bd">30,000</span>원</span> <span class="s-txt">계절 모둠 물회 4인 <span class="f-bd">40,000</span>원</span> </p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					
					<!--171204 예약하기 버튼 위치 변경-->
					<a href="javascript:;" class="rv-a"><span class="s0">예약하기</span><img src="http://img.ocean2you.co.kr/renew/i_gt.png" alt="" class="gt"></a>
				</section>
				<section class="pkg-2">
					<h3>바베큐 패키지</h3>	
					<p class="p0"><span class="xs-block">아름다운 삼포해변을 바라보며 시원하게 즐기는</span> 바베큐 패키지 안내</p>
					<div class="mg-"></div>
					<!--171012 슬라이드배너로 변경-->
					<div class="bxBox" id="bxBox-3">
						<ul class="bxS">
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bbq_01.jpg" alt="전동바이크 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bbq_02.jpg" alt="전동바이크 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bbq_03.jpg" alt="전동바이크 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bbq_04.jpg" alt="전동바이크 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bbq_05.jpg" alt="전동바이크 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bbq_06.jpg" alt="전동바이크 패키지"></li>
						</ul>
					</div>
					
					<h4>바베큐 패키지 상세안내</h4>
					<p class="p1">
						오션투유리조트 속초설악비치 호텔앤콘도에서는 시원한 바닷바람을 느끼며 즐기실 수 있는 바베큐 패키지를 운영하고 있습니다.<br>
						오션투유 리조트 숙박 예약 시 함께 바베큐 페키지 예약을 진행하실 수 있으며,
						해안선을 따라 쏟아지는 별빛이 반짝거리는 오션 투유 리조트에서 즐기는 특별한 바베큐 패키지로 잊지 못할 즐거운 추억을 만들어 드립니다.
					</p>
					
					
					<ul class="ul0 clr">
						<li class="nth-1 clr">
							<h5>운영시간</h5>
							<p class="p-txt">평일/주말 공통</p>
							<p class="p-txt">1부 : 16:00~18:00 / 2부: 18:00~20:00 / 3부: 20:00~22:00</p>
							<p class="p-txt i-s">바베큐장은 시간제로 4회에 걸쳐 진행됩니다.</p>
							<p class="p-txt i-s">마감시간은 24시까지 이용가능합니다.</p>
							
						</li>
						<li class="nth-2">
							<h5>이용요금</h5>
							<p class="p-txt i-d">타임당 이용요금 : 30,000원</p>
							<p class="p-txt i-d">무료제공 : 테이블+그릴+숯+집게+가위</p>
							<p class="p-txt i-s">별도 음식은 제공되지 않습니다.</p>
						</li>
						<li class="nth-3">
							<h5>주의사항</h5>
							<p class="p-txt i-d">
								자리가 많지 않아, 꼭 예약 후 이용해주셔야 합니다.<br>
   								(예약시간이 지난 후 입장 시, 입장이 불가합니다.)
							</p>
							<p class="p-txt i-d">
								바베큐장은 날씨, 계절 등에 따라 운영이 불가할 수
							    있으므로, 사전 이용 여부 체크 부탁드립니다.
							</p>
							<p class="p-txt i-d">추가 이용에 관한 문의는 사전 프론트 문의 바랍니다.</p>
						</li>
					</ul>
					<!--171020 선택메뉴 추가-->
					<div class="sltMenu-intro">
						<h5>선택 메뉴 안내</h5>
						<ul class="ul1">
							<li class="li1 clr">
								<div class="d1"><img src="http://img.ocean2you.co.kr/renew/package/brfMenu_01.jpg" alt="시카코바베큐플레이츠"></div>
								<div class="d2">
									<strong>시카고바베큐플레이츠 <span class="s1">(다연 또는 바베큐장에서 이용 및 룸서비스 가능)</span></strong>
									<p class="p-txt">
										폭립, 삼겹살을 특급호텔 30년 경력의 주방장의 지위하에 정통 차콜 그릴에서  
										약 2시간 동안, 약 200도의 온도로 쿠킹하며 사과나무로 훈연하여 만들어낸 바베큐입니다.<br>
										( 모닝빵, 코오슬로, 바베큐 소스, 파인애플 조림 등이 같이 곁들여져 있습니다.)
									</p>
									<p class="p-txt i-s">바베큐 장 및 한식당 다연에서 주문 가능 합니다.</p>
									<div class="usePrc">
										<p class="p1"><span class="s-w">￦</span> 이용가격</p>
										<p class="p-txt"><span class="s-txt">시카코 바베큐플레이츠 <span class="f-bd">19,000</span>원</span></p>
									</div>
								</div>
							</li>
							<li class="li2 clr">
								<div class="d1"><img src="http://img.ocean2you.co.kr/renew/package/brfMenu_02.jpg" alt="계절 모둠 회"></div>
								<div class="d2">
									<strong>계절 모둠 회 <span class="s1">(다연 또는 바베큐장에서 이용 및 룸서비스 가능)</span></strong>
									<p class="p-txt">
										특급호텔 30년 경력의 주방장이 직접 싱싱한 제철 활어를 공수해 제공하는 회 메뉴 입니다.<br>
										오션투유 리조트에서 신선함이 살아있는 최상의 맛을 느껴보세요.
									</p>
									<div class="usePrc">
										<p class="p1"><s class="s-w">￦</s> 이용가격</p>
										<p class="p-txt"><span class="s-txt">계절 모둠 회 大 <span class="f-bd">70,000</span>원</span> <span class="s-txt">계절 모둠 회 中 <span class="f-bd">50,000</span>원</span> <span class="s-txt">계절 모둠 회 小 <span class="f-bd">30,000</span>원</span></p>
									</div>
								</div>
							</li>
							<li class="li3 clr">
								<div class="d1"><img src="http://img.ocean2you.co.kr/renew/package/brfMenu_03.jpg" alt="계절 모둠 물회"></div>
								<div class="d2">
									<strong>계절 모둠 물회 <span class="s1">(다연 또는 바베큐장에서 이용 및 룸서비스 가능)</span></strong>
									<p class="p-txt">
										특급호텔 30년 경력의 주방장의 특급 비법소스와 싱싱한 제철 활어를 공수하여 주문 즉시
										조리하며, 신선함은 물론, 감칠맛이 더욱 뛰어난 물회 메뉴입니다. 
									</p>
									<div class="usePrc">
										<p class="p1"><span class="s-w">￦</span> 이용가격</p>
										<p class="p-txt"><span class="s-txt">계절 모둠 물회 2인 <span class="f-bd">20,000</span>원</span> <span class="s-txt">계절 모둠 물회 3인 <span class="f-bd">30,000</span>원</span> <span class="s-txt">계절 모둠 물회 4인 <span class="f-bd">40,000</span>원</span> </p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					
					<!--171204 예약하기 버튼 위치 변경-->
					<!--<a href="javascript:;" class="rv-a"><span class="s0">예약하기</span><img src="http://img.ocean2you.co.kr/renew/i_gt.png" alt="" class="gt"></a>-->
					
					<!--171218 바베큐패키지 운영 중단 -->
					<p class="p-row">
						2월까지 동절기로 인하여 운영을 중단합니다.<br>
						<span class="f-bd">바베큐패키지 3월부터 이용가능</span>합니다.
					</p>
					
				</section>
				<section class="pkg-3">
					<h3>전동바이크 패키지</h3>	
					<p class="p0"><span class="xs-block">탁 트인 삼포 해변 해안가를 따라 시원하게 즐기는</span> 전동바이크 패키지 안내</p>
					<div class="mg-"></div>
					<div class="bxBox" id="bxBox-1">
						<ul class="bxS">
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bike_01.jpg" alt="전동바이크 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bike_02.jpg" alt="전동바이크 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bike_03.jpg" alt="전동바이크 패키지"></li>
						</ul>
					</div>
					
					<h4>전동바이크 패키지 상세안내</h4>
					<p class="p1">
						오션투유리조트 설악비치 호텔앤콘도에서는 탁 트인 해안가를 따라 가슴까지 시원하게 즐길 수 있는 전동 바이크 패키지를 운영하고 있습니다.<br>
						다양한 코스와 강원도 고성의 아름다운 풍경을 눈과 마음에 담으며 연인, 친구, 가족과 더욱 즐거운 여행을 즐길 수 있습니다.<br>
						두 단계 보안장치로 더욱 안전하게 즐길 수 있는 전동 바이크 패키지로 잊지 못할 즐거운 추억을 만들어 드립니다.
					</p>
					
					
					<ul class="ul0 clr">
						<li class="nth-1 clr">
							<h5>운영시간</h5>
							<p class="p-txt">평일/주말 공통 09:00~20:00</p>
							<p class="p-txt i-s">20:00시 까지 반납</p>
						</li>
						<li class="nth-2">
							<h5>이용요금</h5>
							<p class="p-txt i-d">시간별로 상이하며, 예약 페이지를 참고해주세요</p>
							<p class="p-txt i-d">보호장비 무상대여</p>
						</li>
						<li class="nth-3">
							<h5>주의사항</h5>
							<p class="p-txt i-d">
								전동 바이크 탑승 전, 운전면허증 확인은 필수입니다.<br>
								(현장 확인, 미 소지시 이용불가) 
							</p>
							<p class="p-txt i-d">
								보호장비 착용시에만 이용 가능합니다.(무상 대여)
							</p>
							<p class="p-txt i-d">
								국도 및 백사장 방향은 주행 불가합니다.
							</p>
							<p class="p-txt i-d">
								대여자 본인 이외에, 제 3자의 운행은 불가합니다.
							</p>
							<p class="p-txt i-d">
								우천 시 이용 불가하며, 결제금액은 전액 환불 처리 됩니다. 
							</p>
							<p class="p-txt i-d">
								사고 및 분실, 파손에 따른 책임은, 대여자 100% 본인 
								부담 처리됩니다.
							</p>
							<p class="p-txt i-d">
								사고 및 고장시에는 사무실로 전화 바랍니다.<br>
								(문의 : 010-4429-0250) 
							</p>
						</li>
					</ul>
					<!--171204 전동바이크 운영 중단 -->
					<p class="p-row">
						2월까지 동절기로 인하여 운영을 중단합니다.<br>
						<span class="f-bd">전동바이크 3월부터 이용가능</span>합니다.
					</p>
				</section>
				<!--171122 룸서비스로 변경-->
				<section class="pkg-4 on">
				
					<h3>룸서비스</h3>	
					<p class="p0">빠르고 신선한 음식을 바로 즐길 수 있는 오션투유 리조트 만의 독보적인 룸서비스 안내</p>
					<div class="mg-"></div>
					<div class="bxBox" id="bxBox-4">
						<ul class="bxS">
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_10.jpg" alt="회"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_11.jpg" alt="물회"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bbq_05.jpg" alt="바베큐"></li>
						</ul>
					</div>
					
					<h4>룸서비스 상세안내</h4>
					<p class="p1">
						오션투유리조트 설악비치 호텔앤콘도에서는 고객님들이 조금 더 편안한 휴식을 즐기실 수 있도록 룸서비스를 운영하고 있습니다.<br>
						훈연의 향부터 다른 전통 시카고 바베큐 부터 특급 호텔 30년 경력의 셰프가 직접 싱싱한 활어를 공수하여 제공하는 모듬 회, 주문 즉시 조리하는 비법 소스로 맛을 낸 모듬 물회까지! 오션투유 리조트 내에, 고객님의 원하는 장소롤 배달하여 드립니다.<br>
						편안한 휴식을 즐기며 오션투유 리조트만의 격이 다른 서비스를 경험 해보세요.
					</p>
					
					<div class="sltMenu-intro">
						<h5>메뉴 안내</h5>
						<ul class="ul1">
							<li class="li1 clr">
								<div class="d1"><img src="http://img.ocean2you.co.kr/renew/package/brfMenu_01.jpg" alt="시카코바베큐플레이츠"></div>
								<div class="d2">
									<strong>시카고바베큐플레이츠 <span class="s1">(다연 또는 바베큐장에서 이용 및 룸서비스 가능)</span></strong>
									<p class="p-txt">
										폭립, 삼겹살을 특급호텔 30년 경력의 주방장의 지위하에 정통 차콜 그릴에서  
										약 2시간 동안, 약 200도의 온도로 쿠킹하며 사과나무로 훈연하여 만들어낸 바베큐입니다.<br>
										( 모닝빵, 코오슬로, 바베큐 소스, 파인애플 조림 등이 같이 곁들여져 있습니다.)
									</p>
									<p class="p-txt i-s">바베큐 장 및 한식당 다연에서 주문 가능 합니다.</p>
									<div class="usePrc">
										<p class="p1"><span class="s-w">￦</span> 이용가격</p>
										<p class="p-txt"><span class="s-txt">시카코 바베큐플레이츠 <span class="f-bd">19,000</span>원</span></p>
									</div>
								</div>
							</li>
							<li class="li2 clr">
								<div class="d1"><img src="http://img.ocean2you.co.kr/renew/package/brfMenu_02.jpg" alt="계절 모둠 회"></div>
								<div class="d2">
									<strong>계절 모둠 회 <span class="s1">(다연 또는 바베큐장에서 이용 및 룸서비스 가능)</span></strong>
									<p class="p-txt">
										특급호텔 30년 경력의 주방장이 직접 싱싱한 제철 활어를 공수해 제공하는 회 메뉴 입니다.<br>
										오션투유 리조트에서 신선함이 살아있는 최상의 맛을 느껴보세요.
									</p>
									<div class="usePrc">
										<p class="p1"><s class="s-w">￦</s> 이용가격</p>
										<p class="p-txt"><span class="s-txt">계절 모둠 회 大 <span class="f-bd">70,000</span>원</span> <span class="s-txt">계절 모둠 회 中 <span class="f-bd">50,000</span>원</span> <span class="s-txt">계절 모둠 회 小 <span class="f-bd">30,000</span>원</span></p>
									</div>
								</div>
							</li>
							<li class="li3 clr">
								<div class="d1"><img src="http://img.ocean2you.co.kr/renew/package/brfMenu_03.jpg" alt="계절 모둠 물회"></div>
								<div class="d2">
									<strong>계절 모둠 물회 <span class="s1">(다연 또는 바베큐장에서 이용 및 룸서비스 가능)</span></strong>
									<p class="p-txt">
										특급호텔 30년 경력의 주방장의 특급 비법소스와 싱싱한 제철 활어를 공수하여 주문 즉시
										조리하며, 신선함은 물론, 감칠맛이 더욱 뛰어난 물회 메뉴입니다. 
									</p>
									<div class="usePrc">
										<p class="p1"><span class="s-w">￦</span> 이용가격</p>
										<p class="p-txt"><span class="s-txt">계절 모둠 물회 2인 <span class="f-bd">20,000</span>원</span> <span class="s-txt">계절 모둠 물회 3인 <span class="f-bd">30,000</span>원</span> <span class="s-txt">계절 모둠 물회 4인 <span class="f-bd">40,000</span>원</span> </p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					
					<!--171204 예약하기 버튼 위치 변경-->
					<a href="javascript:;" class="rv-a"><span class="s0">예약하기</span><img src="http://img.ocean2you.co.kr/renew/i_gt.png" alt="" class="gt"></a>
				</section>
			</div>
		
		</div>
		
		<!--171020 다양한 패키지 상품-->
		<div class="vari-wrap">
			<div class="container">
				<h3>오션투유 리조트만 즐길 수 있는 <span class="thColor2">다양한 패키지 상품!</span></h3>
				<ul class="ul1 clr">
					<li>
						<a href="#">
							<span class="i-scut">바로<br>가기</span>
							<h4>조식 패키지</h4>
							<p class="p1">특급호텔 30년 근무 경력의 조리장들이 선사하는 품질높은 아메리칸뷔페</p>
							<img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_01.jpg" alt="조식패키지">
						</a>
					</li> 
					<li>
						<a href="#">
							<span class="i-scut">바로<br>가기</span>
							<h4>바베큐 패키지</h4>
							<!--<p class="p1">소나무숲 향과 파도소리에 낭만이 가득한 아외에서 즐기는 바베큐파티</p>-->
							<p class="p1">소나무숲 향과 파도소리에 낭만이 가득한 <span class="show-md show-sm show-xs"></span>바베큐파티</p>
							<img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_02.jpg" alt="바베큐패키지">
						</a>
					</li>
					<li>
						<a href="#">
							<span class="i-scut">바로<br>가기</span>
							<h4>전동바이크 패키지</h4>
							<p class="p1">탁 트인 해안도로를 따라 달릴때 보이고 들리는 아름다운 풍경</p>
							<img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_03.jpg" alt="전동바이크">
						</a>
					</li>
					<!--171122 룸서비스로 변경-->
					<li>
						<a href="#">
							<span class="i-scut">바로<br>가기</span>
							<h4>룸서비스</h4>
							<p class="p1">특급 호텔 30년 경력의 셰프가 선사하는 격이 다른 룸서비스</p>
							<img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_05.jpg" alt="조개잡기패키지">
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		<!--171122 룸서비스로 변경-->
		<aside class="rWing" id="rWing">
			<div class="q-menu">
				<ul>
					<li><a href="#"><img src="http://img.ocean2you.co.kr/renew/i_quick_01.png" alt="조식"><span class="s-txt">조식 패키지<br>바로보기</span></a></li>
					<li><a href="#"><img src="http://img.ocean2you.co.kr/renew/i_quick_02.png" alt="BBQ"><span class="s-txt">BBQ 패키지<br>바로보기</span></a></li>
					<li><a href="#"><img src="http://img.ocean2you.co.kr/renew/i_quick_03.png" alt="전동바이크"><span class="s-txt">전동바이크<br>바로보기</span></a></li>
					<li><a href="#"><img src="http://img.ocean2you.co.kr/renew/i_quick_05.png" alt="조개잡기"><span class="s-txt">룸서비스<br>바로보기</span></a></li>
				</ul>
				<a class="a-top" href="#">TOP<span class="s-i">▲</span></a>
			</div>
		</aside>


		<footer class="footer">
			<div class="container">
				
				<div class="flt-1 clr">
					<img class="f-logo" src="http://img.ocean2you.co.kr/renew/f_logo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							오션투유리조트 설악비치 호텔앤콘도<br>
							주소 : 강원 고성군 죽왕면 삼포해변길 9<span class="i-l"></span>TEL. 070-7688-2438<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호						
						</p>
					</address>
					<div class="cf-box">
						<p class="p-0">&lt;고객센터 안내&gt;</p>
						<div class="cf-in">
							<div class="callFor cf0">
								<span class="f-bd">고객센터 안내</span>
								문의에 따라 해당 고객센터로<br>
								전화주시면,문의사항을<br>
								해결해 드리겠습니다.
							</div>
							<a class="callFor cf1" href="tel:1666-1243">
								<span class="s1">예약문의</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">&#40;</span>확정, 변경, 취소<span class="xs-hidden">&#41;</span><span class="xs-block"></span>/이벤트 문의</span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 1666-1243</span>
								<span class="s1-2">주중 09~18시<span class="hidden-xs"> </span>/<span class="hidden-xs"> </span>주말 09~17시</span>
							</a>
							<a class="callFor cf2" href="tel:010-8844-0409">
								<span class="s1">프론트</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">&#40;</span>체크인, 체크아웃<span class="xs-block"></span>시설이용문의<span class="xs-hidden">&#41;</span></span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 033-631-3811</span>
								<span class="s1-2">주중/주말 06시 ~ 02시</span>
							</a>
							<a class="callFor cf3" href="tel:010-8844-0409">
								<span class="s1">단체문의</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">&#40;</span>워크샵, 학생단체,<span class="xs-block"></span> 산업단체 등<span class="xs-hidden">&#41;</span></span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 010-8844-0409</span>
								<span class="s1-2">주중/주말 24시간 상담가능</span>
							</a>
						</div>
					</div>
				</div>
				<div class="clr"></div>
				<div class="flt-1 clr">
					<img class="f-gcLogo" src="http://img.ocean2you.co.kr/renew/f_gcLogo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1 mt">
							(주)바로네트웍스<br>
							주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호<br>
							여행업등록번호 : 제2015-02호<span class="i-l"></span>여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
						</p>
						* 바로네트웍스는 오션투유리조트의 공식 온라인 총판사 입니다. 
						<br><br>
						<p class="nth-2">
							Copyright 2016 OCEAN2YOU CONE. ALL RIGHTS RESERVED
						</p>

					</address>
				</div>
			</div>
		</footer>
		
		<a href="javascript:;" id="goTop"><img src="http://img.ocean2you.co.kr/renew/goTop.jpg" alt="위로"></a>
	</div>
	
	
</body>
</html>