@charset 'utf-8';
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {position: relative; color: #2b2b2b; letter-spacing: -0.2px;}
* {box-sizing: border-box; font-family: "Nanum Barun Gothic", "Nanum Gothic", "Malgun Gothic", sans-serif;}
a {color: inherit;}
.thColor {color: #00c6ff;}
.f-bd {font-weight: bold;}

#wrap {width: 100%; position: relative;}


/*--- bxSlider 재정의 ---*/
.bx-wrapper {position: relative; margin: 0 auto; border: none; width: 1000px; box-shadow: none;}
.bx-wrapper .bx-viewport {border: none; box-shadow: none; left: 0; background: none;}
.bx-controls {position: absolute; width: 100%; left: 0; top: 50%; margin-top: -22.5px;}
.bx-wrapper .bx-controls-direction {position: absolute; width: 100%;}
.bx-wrapper .bx-controls-direction a {background: none; width: 45px; height: 45px; top: 0; margin-top: 0;}
.bx-wrapper .bx-prev {left: 20px;}
.bx-wrapper .bx-next {right: 20px;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto
, .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {display: none;}



/*반응형 너비*/
.container {width: 100%; margin: 0 auto; position: relative;}

@media (max-width: 767px) {
	.header {}
	.header {position: absolute; z-index: 1; top:0; width: 100%; height: 98px;}
	.header .logo-box .mg-l {display: inline-block; margin: 0 5px; width: 1px; height: 48px;
		background: rgba(255,255,255, 0.5); vertical-align: middle;
	}
	.header .logo-box {position: absolute; left: 10px; top: 30px; width: 302px;}

	.header .nav-bar {position: absolute; right: 0; display: none;}
	.header .nav-bar .nav {}
	.header .nav-bar .nav > li {float: left; height: 97px; padding: 50px 40px 0;}
	.header .nav-bar .nav > li > a {position: relative; font-size: 20px; display: block; color: #fff;}
	.header .nav-bar .nav > li > a:hover {color: #00c6ff;}
	.header .nav-bar .nav > li.lst {background: #44a8ff; padding-left: 15px; padding-right: 15px;}
	.header .nav-bar .nav > li.lst > a:before {position: absolute; content: "";
	display: block; width: 22px; height: 20px; background: url(../img/i_cal.png) no-repeat;
	left: 50%; margin-left: -11px; top: -23px;}
	.header .nav-bar .nav > li.lst > a:hover {color: #fff;}

	.header .mNav-btn {
		z-index: 2;
		position: absolute; right: 30px; top: 30px;
		-webkit-appearance: none; -moz-appearance: none; appearance: none;
		border: none; background: #44a8ff;
		width: 50px; height: 46px;
		cursor: pointer;
	}
	.header .mNav-btn span {display: block;
		width: 28px; margin: 6px auto; height: 3px; background: #fff;
	}
	.header .mNav-btn.on span {position: absolute; top: 16px; left: 10.5px;}
	.header .mNav-btn.on span:nth-child(1) {
		-webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg); transform: rotate(-45deg);
	}
	.header .mNav-btn.on span:nth-child(2) {
		transform-origin: center;
		-webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);
		-o-transform: rotate(45deg); transform: rotate(45deg);
	}
	.header .mNav-btn.on span:nth-child(3) {display: none;}

	.mNav-box {
		position: fixed; right: -260px; top: 0;
		height: 100%; width: 260px; background: url(../img/intro_bg.jpg) right;
		z-index: 1; 
		color: #fff;
		-webkit-transition: right 0.7s; -o-transition: right 0.7s; transition: right 0.7s;
	}
	.mNav-box.on {right: 0;}
	.mNav-box h2 {padding: 39.5px 20px; font-size: 18px; border-bottom: 1px solid #fff;}
	.mNav-box .mNav {}
	.mNav-box .mNav > li {padding: 10px 20px;}
	.mNav-box .mNav > li:first-child {padding-top: 20px;}
	.mNav-box h2 a:hover, .mNav-box .mNav > li a:hover {color: #44a8ff;}
	
	
	.header .logo-box .logo {width: 114px;}
	.header .logo-box .mg-l {height: 32px;}
	.header .logo-box .gcLogo {width: 82px;}
	.header .mNav-btn {right: 10px; height: 36px; top: 29px; width: 43px; width: 40px;}
	.header .mNav-btn span {width: 22px;}
	.header .mNav-btn.on span {top: 10px; left: 9px;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header {}
	.header {position: absolute; z-index: 1; top:0; width: 100%; height: 98px;}
	.header .logo-box .mg-l {display: inline-block; margin: 0 5px; width: 1px; height: 48px;
		background: rgba(255,255,255, 0.5); vertical-align: middle;
	}
	.header .logo-box {position: absolute; left: 30px; top: 30px; width: 302px;}

	.header .nav-bar {position: absolute; right: 0; display: none;}
	.header .nav-bar .nav {}
	.header .nav-bar .nav > li {float: left; height: 97px; padding: 50px 40px 0;}
	.header .nav-bar .nav > li > a {position: relative; font-size: 20px; display: block; color: #fff;}
	.header .nav-bar .nav > li > a:hover {color: #00c6ff;}
	.header .nav-bar .nav > li.lst {background: #44a8ff; padding-left: 15px; padding-right: 15px;}
	.header .nav-bar .nav > li.lst > a:before {position: absolute; content: "";
	display: block; width: 22px; height: 20px; background: url(../img/i_cal.png) no-repeat;
	left: 50%; margin-left: -11px; top: -23px;}
	.header .nav-bar .nav > li.lst > a:hover {color: #fff;}

	.header .mNav-btn {
	z-index: 2;
	position: absolute; right: 30px; top: 30px;
	-webkit-appearance: none; -moz-appearance: none; appearance: none;
	border: none; background: #44a8ff;
	width: 50px; height: 46px;
	cursor: pointer;
	}
	.header .mNav-btn span {display: block;
		width: 28px; margin: 6px auto; height: 3px; background: #fff;
	}
	.header .mNav-btn.on span {position: absolute; top: 16px; left: 10.5px;}
	.header .mNav-btn.on span:nth-child(1) {
		-webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg); transform: rotate(-45deg);
	}
	.header .mNav-btn.on span:nth-child(2) {
		transform-origin: center;
		-webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);
		-o-transform: rotate(45deg); transform: rotate(45deg);
	}
	.header .mNav-btn.on span:nth-child(3) {display: none;}

	.mNav-box {
		position: fixed; right: -260px; top: 0;
		height: 100%; width: 260px; background: url(../img/intro_bg.jpg) right;
		z-index: 1;
		color: #fff;
		-webkit-transition: right 0.7s; -o-transition: right 0.7s; transition: right 0.7s;
	}
	.mNav-box.on {right: 0;}
	
	.mNav-box h2 {padding: 40px 20px; font-size: 18px; border-bottom: 1px solid #fff;}
	.mNav-box .mNav {}
	.mNav-box .mNav > li {padding: 10px 20px;}
	.mNav-box .mNav > li:first-child {padding-top: 20px;}
	.mNav-box h2 a:hover, .mNav-box .mNav > li a:hover {color: #44a8ff;}
}


@media (min-width: 992px) {
	.header {}
	.header {position: absolute; z-index: 1; top:0; width: 100%; height: 98px; 
		border-bottom: 1px solid rgba(255,255,255, 0.5);}
	.header .logo-box .mg-l {display: inline-block; margin: 0 5px; width: 1px; height: 48px;
		background: rgba(255,255,255, 0.5); vertical-align: middle;
	}
	.header .logo-box {position: absolute; left: 10px; top: 30px; width: 302px;}

	.header .nav-bar {position: absolute; right: 0;}
	.header .nav-bar .nav {}
	.header .nav-bar .nav > li {float: left; height: 97px; padding: 50px 15px 0;}
	.header .nav-bar .nav > li > a {position: relative; font-size: 16px; display: block; color: #fff;}
	.header .nav-bar .nav > li > a:hover {color: #00c6ff;}
	.header .nav-bar .nav > li.lst {background: #44a8ff; padding-left: 15px; padding-right: 15px;}
	.header .nav-bar .nav > li.lst > a:before {position: absolute; content: "";
	display: block; width: 22px; height: 20px; background: url(../img/i_cal.png) no-repeat;
	left: 50%; margin-left: -11px; top: -23px;}
	.header .nav-bar .nav > li.lst > a:hover {color: #fff;}

	.header .mNav-btn {
		display: none;
		z-index: 2;
		position: absolute; right: 30px; top: 30px;
		-webkit-appearance: none; -moz-appearance: none; appearance: none;
		border: none; background: #44a8ff;
		width: 50px; height: 46px;
		cursor: pointer;
	}
	.header .mNav-btn span {display: block;
		width: 28px; margin: 6px auto; height: 3px; background: #fff;
	}
	.header .mNav-btn.on span {position: absolute; top: 16px; left: 10.5px;}
	.header .mNav-btn.on span:nth-child(1) {
		-webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg); transform: rotate(-45deg);
	}
	.header .mNav-btn.on span:nth-child(2) {
		transform-origin: center;
		-webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);
		-o-transform: rotate(45deg); transform: rotate(45deg);
	}
	.header .mNav-btn.on span:nth-child(3) {display: none;}

	.mNav-box {
		position: fixed; right: -260px; top: 0;
		height: 100%; width: 260px; background: url(../img/intro_bg.jpg) right;
		z-index: 1;
		color: #fff;
		-webkit-transition: right 0.7s; -o-transition: right 0.7s; transition: right 0.7s;
	}
	.mNav-box.on {right: 0;}
	.mNav-box h2 {padding: 40px 20px; font-size: 18px; border-bottom: 1px solid #fff;}
	.mNav-box .mNav {}
	.mNav-box .mNav > li {padding: 10px 20px;}
	.mNav-box .mNav > li:first-child {padding-top: 20px;}
	.mNav-box h2 a:hover, .mNav-box .mNav > li a:hover {color: #44a8ff;}

	.header .mNav-btn, .mNav-box {display: none;}
	
}
@media (min-width: 1432px) {
	.container {width: 1432px;}
	
	.header .container {width: 100%;}
	.header .logo-box {left: 5%;}
	.header .nav-bar .nav > li {padding: 50px 40px 0;}
	.header .nav-bar .nav > li > a {font-size: 20px;}
}
