@charset 'utf-8';

.vid-wrap {position: relative; width: 100%; height: 100%; background: url('http://img.ocean2you.b.go.co.kr/main_bg.jpg') no-repeat center center; background-size: cover;}

.vid {position: absolute; width: 100%; height: 100%; display: none;}

.main {position: relative;}
.main:before {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(http://img.ocean2you.b.go.co.kr/main_ptBg.png) repeat;}

.ie8 .vid {display: none;}

.main > * {position: relative;}

.main .txt-box {position: absolute; display: block; width: 100%; text-align: center;
	top: 50%; margin-top: -168px;}
.main .txt-box {color: #fff;}
.main .txt-box .p0 {font-size: 26px; line-height: 1.5;}
.main .txt-box .mg- {display: block; height: 1px; width: 98px; margin: 35px auto; background: #fff;}
.main .txt-box .p1 {margin: 45px auto 50px;}
.main .txt-box .more-a {display: block; margin: 0 auto; 
	font-size: 24px; border: 4px solid #fff;
	width: 208px; height: 54px;}
.main .txt-box .more-a:after {content: ""; height: 110%; display: inline-block; vertical-align: middle;}

.main #scr-box {position: absolute; left: 50%; margin-left: -14px; bottom: 25px;}
.main #scr-box > img {position: relative; top: 0; display: block; margin: 3px auto;}
.main #scr-box > img.nth-1 {margin-bottom: 8px;}
.main #scr-box > img.nth-2 {margin-bottom: 5px;
	-webkit-animation: scrAni-02 1.5s 1.1s infinite;
	animation: scrAni-02 1.5s 1.1s infinite;
}
.main #scr-box > img.nth-3 {
	-webkit-animation: scrAni-03 1.5s 1.2s infinite;
	animation: scrAni-03 1.5s 1.2s infinite;
}
@keyframes scrAni-02 {
	0% {opacity: 0;}
	50% {opacity: 0.5;}
	100% {opacity: 1;}
}
@keyframes scrAni-03 {
	0% {opacity: 0;}
	50% {opacity: 0.5;}
	100% {opacity: 1;}
}

.intro {position: relative; width: 100%; color: #fff;
	background: url(http://img.ocean2you.b.go.co.kr/intro_bg.jpg) no-repeat ; padding: 160px 0 90px;
}
.intro .container {position: relative;}
.intro [class*=colth-] {width: 50%; float: left;}
.intro .colth-1 {padding-left: 60px;}
.intro .colth-1 .mg- {position: relative; left: 5px; 
	width: 109px; height: 1px; background: #fff;}
.intro .colth-1 h2 {font-size: 65px; font-family: "Nanum gothic", sans-serif; 
	line-height: 1.4; margin-top: 10px;}
.intro .colth-1 .p0 {font-size: 19px; line-height: 1.6; margin-top: 20px;}
.intro .colth-1 .more-a {display: block; position: relative; 
	width: 140px; height: 70px; padding-left: 5px; margin: 30px 0 0 -60px;
	line-height: 69px; font-size: 16px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.intro .colth-1 .more-a .i-rArr {margin-left: 5px;}
.intro .colth-1 .more-a:hover {padding-left: 10px;}
.intro .colth-1 .more-a:after {position: absolute; right: 0; top: 0;
	content: ""; display: block;
	width: 70px; height: 70px; border: 8px solid rgb(255,255,255);
	box-sizing: border-box;
}

.intro .colth-2 {padding-left: 100px;}
.intro .colth-2 > div > * {float: left; letter-spacing: -0.5px;}
.intro .colth-2 > div > .p0 {font-size: 19px; line-height: 1.6; margin-top: -6px;}
.intro .colth-2 > div.nth-1 > .img-1 {margin-right: 20px;}
.intro .colth-2 > div.nth-2 > .img-1 {margin-right: 23px;}
.intro .colth-2 > div.nth-1 > .p0 {width: 240px;}
.intro .colth-2 > div.nth-2 {margin-top: 50px;}
.intro .colth-2 > div.nth-2 > .p0 {width: 280px;}
.intro .colth-2 > div > .more-a {font-size: 17px; width: 102px; height: 30px;
	display: block; text-align: center; border: 1px solid #fff;
	margin-top: 14px;
	-webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
}
.intro .colth-2 > div > .more-a:after {content: ""; height: 110%; display: inline-block; vertical-align: middle;}
.intro .colth-2 > div > .more-a:hover {color: #00c6ff; border-color: #00c6ff;}


.package {position: relative; width: 100%; padding: 110px 0 294px;}	
.package .in-bg {position: relative; width: 100%; height: 549px;
	background: url(http://img.ocean2you.b.go.co.kr/package_bg.jpg) no-repeat top center;
}
.package .container {padding-top: 120px;}
.package .in-tit {text-align: center;}
.package .in-tit .mg- {position: relative; width: 131px; height: 1px; background: #fff; margin: 0px auto 30px; background: #104c6a;}
.package .in-tit h2 {font-size: 64px; font-family: "Nanum Gothic", sans-serif; color: #104c6a;}
.package .in-tit .p0 {font-size: 19px; color: #282828; margin-top: 30px;}
.package .pkg-list {margin-top: 116px;}
.package .pkg-list > li {position: relative; float: left; color: #fff; width: 320px; height: 305px; margin-left: 50px;}
.package .pkg-list > li.nth-1 {margin-left: 0;}
.package .pkg-list > li.nth-2 {margin-top: 46px;}
.package .pkg-list > li.nth-3 {}
.package .pkg-list > li.nth-4 {}
.package .pkg-list > li .in-cont {position: absolute; top: 114px; left: 24px;}
.package .pkg-list .mg- {position: relative; width: 46px; height: 1px; background: #fff;}
.package .pkg-list h3 {font-size: 25px; font-family: "Nanum Gothic", sans-serif; margin-top: 10px;}
.package .pkg-list .p0 {font-size: 18px; margin-top: 25px; line-height: 1.3;}
.package .pkg-list .more-a {font-size: 17px; display: inline-block; padding: 0px 10px; height: 28px; border: 1px solid #fff; margin-top: 20px;
	-webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
}
.package .pkg-list .more-a:after {content: ""; height: 110%; display: inline-block; vertical-align: middle;}
.package .pkg-list .more-a:hover {color: #00c6ff; border-color: #00c6ff;}

.tourist {position: relative; padding: 84px 0 100px; background: #5ec1fe;}
.tourist .in-tit {text-align: center; color: #fff;}
.tourist .in-tit h2 {font-size: 37px; font-weight: 600;}
.tourist .in-tit .p0 {font-size: 22px; margin-top: 25px;}
.tourist .tour-list {position: relative; margin: 80px auto 0;}
.tourist .tour-list > li {position: relative; float: left; width: 358px; height: 281px; text-align: center; color: #fff;}
.tourist .tour-list > li a {position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block;}
.tourist .tour-list > li h3 {font-size: 25px; font-weight: 600; margin-top: 116px;}
.tourist .tour-list > li .mg- {position: relative; width: 46px; height: 1px; background: #fff; margin: 15px auto;}
.tourist .tour-list > li .p0 {display: none; font-size: 17px; font-weight: 600; line-height: 1.4; letter-spacing: -1px;}
.tourist .tour-list > li .p0 .s0 {display: block; margin-bottom: 14px;}
.tourist .tour-list > li:hover a {background: url(http://img.ocean2you.b.go.co.kr/bg_dim.png) repeat;}
.tourist .tour-list > li.lst:hover a {background: none;}
.tourist .tour-list > li:hover h3 {margin-top: 40px;}
.tourist .tour-list > li:hover .p0 {display: block;}


.facil {position: relative; padding: 90px 0;
	background: url(http://img.ocean2you.b.go.co.kr/facil_bg.jpg) no-repeat top center;
}
.facil .in-tit {text-align: center; color: #323232;}
.facil .in-tit h2 {font-size: 37px; font-weight: 600;}
.facil .in-tit .p0 {font-size: 22px; margin-top: 25px;}

.facil .bxList {margin-top: 9px;}
.facil .bxList .bxBox {margin-left: 9px; position: relative; float: left;}
.facil .bxList.nth-1 {margin-top: 66px;}
.facil .bxList.nth-1 .bxBox.nth-1 {width: 565px;}
.facil .bxList.nth-1 .bxBox.nth-2 {width: 858px; margin-left: 9px;}
.facil .bxList.nth-2 .bxBox.nth-2 {margin-left: 17px;}
.facil .bxList.nth-3 .bxBox {margin-left: 11px;}

.facil .bxList .bxBox.nth-1 {margin-left: 0px;}

.facil .bxList .bxBox .txt-box {position: absolute; bottom: 0; width: 100%; padding: 18px 22px 24px; color: #fff;
	background: url(http://img.ocean2you.b.go.co.kr/bg_dim.png) repeat;
}
.facil .bxList .bxBox .txt-box .p0 {font-size: 22px;}
.facil .bxList .bxBox .txt-box .more-a
, .facil .bxList .bxBox .in-txt .more-a {display: inline-block;font-size: 17px; margin-top: 12px; padding: 0px 10px; height: 30px; border: 1px solid #fff;
	-webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
}
.facil .bxList .bxBox .txt-box .more-a:after
, .facil .bxList .bxBox .in-txt .more-a:after {content: ""; height: 110%; display: inline-block; vertical-align: middle;}
.facil .bxList .bxBox .txt-box .more-a:hover
,.facil .bxList .bxBox .in-txt .more-a:hover {border: 1px solid #00c6ff; color: #00c6ff;}

.facil .bxList .bxBox .in-txt {position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: #fff; text-align: center;}
.facil .bxList .bxBox .in-txt .p0 {font-size: 22px; font-weight: 600; margin: 62px auto 8px;}
.facil .bxList .bxBox .in-txt .p1 {font-size: 17px; line-height: 1.3; margin-top: 10px;}
.facil .bxList .bxBox .in-txt .more-a {border: 1px solid #00c6ff; color: #00c6ff;}


.wayto {position: relative; padding: 90px 0 120px; background: #f1f1f1;}
.wayto .in-tit {text-align: center; color: #323232;}
.wayto .in-tit h2 {font-size: 37px; font-weight: 600;}
.wayto .in-tit .p0 {font-size: 22px; margin-top: 25px;}

.wayto .map-box {position: relative; margin-top: 62px; border: 1px solid #bdbdbd; background: #e6e6e6;}
.wayto .map-box > div {float: left; width: 50%; height: 517px;}
.wayto .map-box .map iframe {width: 100%; height: 100%;}
.wayto .map-box .mapExp {padding: 58px 30px 30px 40px;}
.wayto .map-box .mapExp > p {font-family: "Nanum gothic", sans-serif;}
.wayto .map-box .mapExp .p0 {font-size: 24px; margin-top: 50px; font-weight: 600;}
.wayto .map-box .mapExp .p0:first-child {margin-top: 0;}
.wayto .map-box .mapExp .p1 {position: relative; font-size: 20px; line-height: 1.6; margin-top: 14px; padding-left: 12px;}
.wayto .map-box .mapExp .p1:before {content: '-'; display: inline-block; position: absolute; left: 0;}