@media (max-width: 767px) {
	.vid-wrap {position: relative; width: 100%; height: 100%; background: url('../img/main_bg.jpg') no-repeat center center; background-size: cover;}

	.vid {position: absolute; width: 100%; height: 100%;}

	.main {position: relative;}
	.main:before {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/main_ptBg.png) repeat;}

	.ie8 .vid {display: none;}
	
	.main > * {position: relative;}
	
	.main .txt-box {position: absolute; display: block; width: 100%; text-align: center;
		top: 50%; margin-top: -200px;}
	.main .txt-box {color: #fff;}
	.main .txt-box .p0 {font-size: 20px; line-height: 1.5;}
	.main .txt-box .mg- {display: block; height: 1px; width: 78px; margin: 15px auto 0; background: #fff;}
	.main .txt-box .p1 {margin: 25px auto 35px;}
	.main .txt-box .p1 img {width: 400px;}
	.main .txt-box .more-a {display: block; margin: 0 auto; 
		font-size: 24px; border: 4px solid #fff; line-height: 45px;
		width: 208px; height: 54px;}
	
	.main #scr-box {position: absolute; left: 50%; margin-left: -23px; bottom: 25px;}
	.main #scr-box > img {position: relative; top: 0; display: block; margin: 3px auto;}
	.main #scr-box > img.nth-1 {margin-bottom: 8px;
		-webkit-animation: scrAni-01 2s infinite; /* Safari 4.0 - 8.0 */
    	animation: scrAni-01 3s infinite;}
	.main #scr-box > img.nth-2 {margin-bottom: 5px;
		-webkit-animation: scrAni-02 2s 0.5s infinite; /* Safari 4.0 - 8.0 */
    	animation: scrAni-02 3s 0.5s infinite;}
	.main #scr-box > img.nth-3 {
		-webkit-animation: scrAni-03 2s 0.6s infinite; /* Safari 4.0 - 8.0 */
    	animation: scrAni-03 3s 0.6s infinite;}
	@keyframes scrAni-01 {
		0% {top: 0;}
		50% {top: 3px;}
		100% {top: 0px;}
	}
	@keyframes scrAni-02 {
		0% {top: 0; opacity: 0;}
		50% {top: 4px; opacity: 1;}
		70% {top: 4px; opacity: 1;}
		100% {top: 0px; opacity: 0;}
	}
	@keyframes scrAni-03 {
		0% {top: 0; opacity: 0;}
		50% {top: 3px; opacity: 1;}
		70% {top: 3px; opacity: 1;}
		100% {top: 0px; opacity: 0;}
	}
	
	.vid {display: none;}
	.main .txt-box .p0 {font-size: 16px;}
	.main .txt-box .p1 img {width: 260px;}
	
	
	.intro {position: relative; width: 100%; color: #fff;
		background: url(../img/intro_bg.jpg) no-repeat ; padding: 50px 0;
		background-size: 100% 100%;
	}
	.intro .container {position: relative; width: 320px;}
	.intro [class*=colth-] {width: 100%; float: left;}
	.intro .colth-1 {padding-left: 25px;}
	.intro .colth-1 .mg- {position: relative; left: 5px; 
		width: 50px; height: 1px; background: #fff;}
	.intro .colth-1 h2 {font-size: 32px; font-family: "Nanum gothic", sans-serif; 
		line-height: 1.4; margin-top: 10px;}
	.intro .colth-1 .p0 {font-size: 16px; line-height: 1.4; margin-top: 10px; letter-spacing: -0.5px; word-break: keep-all;}
	.intro .colth-1 .more-a {display: block; position: relative; 
		width: 140px; height: 60px; padding-left: 5px; margin: 15px 0 0 -20px;
		line-height: 58px; font-size: 16px;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	.intro .colth-1 .more-a .i-rArr {margin-left: 5px;}
	.intro .colth-1 .more-a:hover {padding-left: 10px;}
	.intro .colth-1 .more-a:after {position: absolute; right: 0; top: 0;
		content: ""; display: block;
		width: 60px; height: 60px; border: 8px solid rgba(255,255,255,0.25);
		box-sizing: border-box;
	}
	
	.intro .colth-2 {padding-left: 25px; margin-top: 25px;}
	.intro .colth-2 > div > * {letter-spacing: -0.5px;}
	.intro .colth-2 > div > .p0 {font-size: 16px; line-height: 1.4; margin-top: 5px;}
	.intro .colth-2 > div.nth-1 > .img-1, .intro .colth-2 > div.nth-2 > .img-1 {width: 240px;}
	.intro .colth-2 > div.nth-1 > .p0 {width: 240px;}
	.intro .colth-2 > div.nth-2 {margin-top: 30px;}
	.intro .colth-2 > div.nth-2 > .p0 {width: 280px;}
	.intro .colth-2 > div > .more-a {font-size: 16px; width: 102px; height: 30px;
		display: block; text-align: center; line-height: 26px; border: 1px solid #fff;
		margin-top: 14px;
		-webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
	}
	.intro .colth-2 > div > .more-a:hover {color: #00c6ff; border-color: #00c6ff;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.vid-wrap {position: relative; width: 100%; height: 100%; background: url('../img/main_bg.jpg') no-repeat center center; background-size: cover;}

	.vid {position: absolute; width: 100%; height: 100%;}

	.main {position: relative;}
	.main:before {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/main_ptBg.png) repeat;}

	.ie8 .vid {display: none;}
	
	.main > * {position: relative;}
	
	.main .txt-box {position: absolute; display: block; width: 100%; text-align: center;
		top: 50%; margin-top: -228px;}
	.main .txt-box {color: #fff;}
	.main .txt-box .p0 {font-size: 20px; line-height: 1.5;}
	.main .txt-box .mg- {display: block; height: 1px; width: 78px; margin: 25px auto 0; background: #fff;}
	.main .txt-box .p1 {margin: 35px auto 50px;}
	.main .txt-box .p1 img {width: 400px;}
	.main .txt-box .more-a {display: block; margin: 0 auto; 
		font-size: 24px; border: 4px solid #fff; line-height: 45px;
		width: 208px; height: 54px;}
	
	.main #scr-box {position: absolute; left: 50%; margin-left: -23px; bottom: 25px;}
	.main #scr-box > img {position: relative; top: 0; display: block; margin: 3px auto;}
	.main #scr-box > img.nth-1 {margin-bottom: 8px;
		-webkit-animation: scrAni-01 2s infinite; /* Safari 4.0 - 8.0 */
    	animation: scrAni-01 3s infinite;}
	.main #scr-box > img.nth-2 {margin-bottom: 5px;
		-webkit-animation: scrAni-02 2s 0.5s infinite; /* Safari 4.0 - 8.0 */
    	animation: scrAni-02 3s 0.5s infinite;}
	.main #scr-box > img.nth-3 {
		-webkit-animation: scrAni-03 2s 0.6s infinite; /* Safari 4.0 - 8.0 */
    	animation: scrAni-03 3s 0.6s infinite;}
	@keyframes scrAni-01 {
		0% {top: 0;}
		50% {top: 3px;}
		100% {top: 0px;}
	}
	@keyframes scrAni-02 {
		0% {top: 0; opacity: 0;}
		50% {top: 4px; opacity: 1;}
		70% {top: 4px; opacity: 1;}
		100% {top: 0px; opacity: 0;}
	}
	@keyframes scrAni-03 {
		0% {top: 0; opacity: 0;}
		50% {top: 3px; opacity: 1;}
		70% {top: 3px; opacity: 1;}
		100% {top: 0px; opacity: 0;}
	}
	
	
	.intro {position: relative; width: 100%; color: #fff;
		background: url(../img/intro_bg.jpg) no-repeat ; padding: 100px 0 90px;
	}
	.intro .container {position: relative;}
	.intro [class*=colth-] {width: 50%; float: left;}
	.intro .colth-1 {width: 60%;}
	.intro .colth-2 {width: 40%;}
	.intro .colth-1 {padding-left: 60px;}
	.intro .colth-1 .mg- {position: relative; left: 5px; 
		width: 109px; height: 1px; background: #fff;}
	.intro .colth-1 h2 {font-size: 50px; font-family: "Nanum gothic", sans-serif; 
		line-height: 1.4; margin-top: 10px;}
	.intro .colth-1 .p0 {font-size: 17px; line-height: 1.6; margin-top: 20px; letter-spacing: -0.5px;}
	.intro .colth-1 .more-a {display: block; position: relative; 
		width: 140px; height: 70px; padding-left: 5px; margin: 30px 0 0 -60px;
		line-height: 69px; font-size: 16px;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	.intro .colth-1 .more-a .i-rArr {margin-left: 5px;}
	.intro .colth-1 .more-a:hover {padding-left: 10px;}
	.intro .colth-1 .more-a:after {position: absolute; right: 0; top: 0;
		content: ""; display: block;
		width: 70px; height: 70px; border: 8px solid rgba(255,255,255,0.25);
		box-sizing: border-box;
	}
	
	.intro .colth-2 {padding-left: 50px;}
	.intro .colth-2 > div > * {letter-spacing: -0.5px;}
	.intro .colth-2 > div > .p0 {font-size: 17px; line-height: 1.6; margin-top: 0px;}
	.intro .colth-2 > div.nth-1 > .img-1, .intro .colth-2 > div.nth-2 > .img-1 {width: 240px;}
	.intro .colth-2 > div.nth-1 > .p0 {width: 240px;}
	.intro .colth-2 > div.nth-2 {margin-top: 30px;}
	.intro .colth-2 > div.nth-2 > .p0 {width: 280px;}
	.intro .colth-2 > div > .more-a {font-size: 16px; width: 102px; height: 30px;
		display: block; text-align: center; line-height: 26px; border: 1px solid #fff;
		margin-top: 14px;
		-webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
	}
	.intro .colth-2 > div > .more-a:hover {color: #00c6ff; border-color: #00c6ff;}
	
}


@media (min-width: 992px) and (max-width: 1431px) {
	.vid-wrap {position: relative; width: 100%; height: 100%; background: url('../img/main_bg.jpg') no-repeat center center; background-size: cover;}

	.vid {position: absolute; width: 100%; height: 100%;}

	.main {position: relative;}
	.main:before {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/main_ptBg.png) repeat;}

	.ie8 .vid {display: none;}
	
	.main > * {position: relative;}
	
	.main .txt-box {position: absolute; display: block; width: 100%; text-align: center;
		top: 50%; margin-top: -168px;}
	.main .txt-box {color: #fff;}
	.main .txt-box .p0 {font-size: 26px; line-height: 1.5;}
	.main .txt-box .mg- {display: block; height: 1px; width: 98px; margin: 35px auto; background: #fff;}
	.main .txt-box .p1 {margin: 45px auto 50px;}
	.main .txt-box .more-a {display: block; margin: 0 auto; 
		font-size: 24px; border: 4px solid #fff; line-height: 45px;
		width: 208px; height: 54px;}
	
	.main #scr-box {position: absolute; left: 50%; margin-left: -23px; bottom: 25px;}
	.main #scr-box > img {position: relative; top: 0; display: block; margin: 3px auto;}
	.main #scr-box > img.nth-1 {margin-bottom: 8px;
		-webkit-animation: scrAni-01 2s infinite; /* Safari 4.0 - 8.0 */
    	animation: scrAni-01 3s infinite;}
	.main #scr-box > img.nth-2 {margin-bottom: 5px;
		-webkit-animation: scrAni-02 2s 0.5s infinite; /* Safari 4.0 - 8.0 */
    	animation: scrAni-02 3s 0.5s infinite;}
	.main #scr-box > img.nth-3 {
		-webkit-animation: scrAni-03 2s 0.6s infinite; /* Safari 4.0 - 8.0 */
    	animation: scrAni-03 3s 0.6s infinite;}
	@keyframes scrAni-01 {
		0% {top: 0;}
		50% {top: 3px;}
		100% {top: 0px;}
	}
	@keyframes scrAni-02 {
		0% {top: 0; opacity: 0;}
		50% {top: 4px; opacity: 1;}
		70% {top: 4px; opacity: 1;}
		100% {top: 0px; opacity: 0;}
	}
	@keyframes scrAni-03 {
		0% {top: 0; opacity: 0;}
		50% {top: 3px; opacity: 1;}
		70% {top: 3px; opacity: 1;}
		100% {top: 0px; opacity: 0;}
	}
	
	.intro {position: relative; width: 100%; color: #fff;
		background: url(../img/intro_bg.jpg) no-repeat ; padding: 100px 0 90px;
	}
	.intro .container {position: relative;}
	.intro [class*=colth-] {width: 50%; float: left;}
	.intro .colth-1 {padding-left: 60px;}
	.intro .colth-1 .mg- {position: relative; left: 5px; 
		width: 109px; height: 1px; background: #fff;}
	.intro .colth-1 h2 {font-size: 60px; font-family: "Nanum gothic", sans-serif; 
		line-height: 1.4; margin-top: 10px;}
	.intro .colth-1 .p0 {font-size: 17px; line-height: 1.6; margin-top: 20px; letter-spacing: -0.5px;}
	.intro .colth-1 .more-a {display: block; position: relative; 
		width: 140px; height: 70px; padding-left: 5px; margin: 30px 0 0 -60px;
		line-height: 69px; font-size: 16px;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	.intro .colth-1 .more-a .i-rArr {margin-left: 5px;}
	.intro .colth-1 .more-a:hover {padding-left: 10px;}
	.intro .colth-1 .more-a:after {position: absolute; right: 0; top: 0;
		content: ""; display: block;
		width: 70px; height: 70px; border: 8px solid rgba(255,255,255,0.25);
		box-sizing: border-box;
	}
	
	.intro .colth-2 {padding-left: 100px;}
	.intro .colth-2 > div > * {letter-spacing: -0.5px;}
	.intro .colth-2 > div > .p0 {font-size: 17px; line-height: 1.6; margin-top: 0px;}
	.intro .colth-2 > div.nth-1 > .img-1, .intro .colth-2 > div.nth-2 > .img-1 {width: 240px;}
	.intro .colth-2 > div.nth-1 > .p0 {width: 240px;}
	.intro .colth-2 > div.nth-2 {margin-top: 30px;}
	.intro .colth-2 > div.nth-2 > .p0 {width: 280px;}
	.intro .colth-2 > div > .more-a {font-size: 16px; width: 102px; height: 30px;
		display: block; text-align: center; line-height: 26px; border: 1px solid #fff;
		margin-top: 14px;
		-webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
	}
	.intro .colth-2 > div > .more-a:hover {color: #00c6ff; border-color: #00c6ff;}
	
}
@media (min-width: 1432px) {
	.vid-wrap {position: relative; width: 100%; height: 100%; background: url('../img/main_bg.jpg') no-repeat center center; background-size: cover;}

	.vid {position: absolute; width: 100%; height: 100%;}

	.main {position: relative;}
	.main:before {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/main_ptBg.png) repeat;}

	.ie8 .vid {display: none;}
	
	.main > * {position: relative;}
	
	.main .txt-box {position: absolute; display: block; width: 100%; text-align: center;
		top: 50%; margin-top: -168px;}
	.main .txt-box {color: #fff;}
	.main .txt-box .p0 {font-size: 26px; line-height: 1.5;}
	.main .txt-box .mg- {display: block; height: 1px; width: 98px; margin: 35px auto; background: #fff;}
	.main .txt-box .p1 {margin: 45px auto 50px;}
	.main .txt-box .more-a {display: block; margin: 0 auto; 
		font-size: 24px; border: 4px solid #fff; line-height: 45px;
		width: 208px; height: 54px;}
	
	.main #scr-box {position: absolute; left: 50%; margin-left: -23px; bottom: 25px;}
	.main #scr-box > img {position: relative; top: 0; display: block; margin: 3px auto;}
	.main #scr-box > img.nth-1 {margin-bottom: 8px;
		-webkit-animation: scrAni-01 2s infinite; /* Safari 4.0 - 8.0 */
    	animation: scrAni-01 3s infinite;}
	.main #scr-box > img.nth-2 {margin-bottom: 5px;
		-webkit-animation: scrAni-02 2s 0.5s infinite; /* Safari 4.0 - 8.0 */
    	animation: scrAni-02 3s 0.5s infinite;}
	.main #scr-box > img.nth-3 {
		-webkit-animation: scrAni-03 2s 0.6s infinite; /* Safari 4.0 - 8.0 */
    	animation: scrAni-03 3s 0.6s infinite;}
	@keyframes scrAni-01 {
		0% {top: 0;}
		50% {top: 3px;}
		100% {top: 0px;}
	}
	@keyframes scrAni-02 {
		0% {top: 0; opacity: 0;}
		50% {top: 4px; opacity: 1;}
		70% {top: 4px; opacity: 1;}
		100% {top: 0px; opacity: 0;}
	}
	@keyframes scrAni-03 {
		0% {top: 0; opacity: 0;}
		50% {top: 3px; opacity: 1;}
		70% {top: 3px; opacity: 1;}
		100% {top: 0px; opacity: 0;}
	}
	
	.intro {position: relative; width: 100%; color: #fff;
		background: url(../img/intro_bg.jpg) no-repeat ; padding: 160px 0 90px;
	}
	.intro .container {position: relative;}
	.intro [class*=colth-] {width: 50%; float: left;}
	.intro .colth-1 {padding-left: 60px;}
	.intro .colth-1 .mg- {position: relative; left: 5px; 
		width: 109px; height: 1px; background: #fff;}
	.intro .colth-1 h2 {font-size: 65px; font-family: "Nanum gothic", sans-serif; 
		line-height: 1.4; margin-top: 10px;}
	.intro .colth-1 .p0 {font-size: 19px; line-height: 1.6; margin-top: 20px;}
	.intro .colth-1 .more-a {display: block; position: relative; 
		width: 140px; height: 70px; padding-left: 5px; margin: 30px 0 0 -60px;
		line-height: 69px; font-size: 16px;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	.intro .colth-1 .more-a .i-rArr {margin-left: 5px;}
	.intro .colth-1 .more-a:hover {padding-left: 10px;}
	.intro .colth-1 .more-a:after {position: absolute; right: 0; top: 0;
		content: ""; display: block;
		width: 70px; height: 70px; border: 8px solid rgba(255,255,255,0.25);
		box-sizing: border-box;
	}
	
	.intro .colth-2 {padding-left: 100px;}
	.intro .colth-2 > div > * {float: left; letter-spacing: -0.5px;}
	.intro .colth-2 > div > .p0 {font-size: 19px; line-height: 1.6; margin-top: -6px;}
	.intro .colth-2 > div.nth-1 > .img-1 {margin-right: 20px;}
	.intro .colth-2 > div.nth-2 > .img-1 {margin-right: 23px;}
	.intro .colth-2 > div.nth-1 > .p0 {width: 240px;}
	.intro .colth-2 > div.nth-2 {margin-top: 50px;}
	.intro .colth-2 > div.nth-2 > .p0 {width: 280px;}
	.intro .colth-2 > div > .more-a {font-size: 17px; width: 102px; height: 30px;
		display: block; text-align: center; line-height: 26px; border: 1px solid #fff;
		margin-top: 14px;
		-webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
	}
	.intro .colth-2 > div > .more-a:hover {color: #00c6ff; border-color: #00c6ff;}
	
	
	.package {position: relative; width: 100%; padding: 110px 0 294px;}	
	.package .in-bg {position: relative; width: 100%; height: 549px;
		background: url(../img/package_bg.jpg) no-repeat;
	}
	.package .container {padding-top: 120px;}
	.package .in-tit {text-align: center;}
	.package .in-tit .mg- {position: relative; width: 131px; height: 1px; background: #fff; margin: 0px auto 30px; background: #104c6a;}
	.package .in-tit h2 {font-size: 64px; font-family: "Nanum Gothic", sans-serif; color: #104c6a;}
	.package .in-tit .p0 {font-size: 19px; color: #282828; margin-top: 30px;}
	.package .pkg-list {margin-top: 116px;}
	.package .pkg-list > li {float: left; color: #fff; width: 320px; height: 305px; margin-left: 50px; padding: 114px 0 0 24px;}
	.package .pkg-list > li.nth-1 {background: url(../img/package_01.jpg) no-repeat; margin-left: 0;}
	.package .pkg-list > li.nth-2 {background: url(../img/package_02.jpg) no-repeat; margin-top: 46px;}
	.package .pkg-list > li.nth-3 {background: url(../img/package_03.jpg) no-repeat;}
	.package .pkg-list > li.nth-4 {background: url(../img/package_04.jpg) no-repeat;}
	.package .pkg-list .mg- {position: relative; width: 46px; height: 1px; background: #fff;}
	.package .pkg-list h3 {font-size: 25px; font-family: "Nanum Gothic", sans-serif; margin-top: 10px;}
	.package .pkg-list .p0 {font-size: 18px; margin-top: 25px; line-height: 1.3;}
	.package .pkg-list .more-a {font-size: 17px; display: inline-block; padding: 3px 10px 6px; border: 1px solid #fff; margin-top: 20px;
		-webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
	}
	.package .pkg-list .more-a:hover {color: #00c6ff; border-color: #00c6ff;}
	
	.tourist {position: relative; padding: 84px 0 100px; background: #5ec1fe;}
	.tourist .in-tit {text-align: center; color: #fff;}
	.tourist .in-tit h2 {font-size: 37px; font-weight: 600;}
	.tourist .in-tit .p0 {font-size: 22px; margin-top: 25px;}
	.tourist .tour-list {position: relative; margin: 80px auto 0;}
	.tourist .tour-list > li {position: relative; float: left; width: 358px; height: 281px; text-align: center; color: #fff;}
	.tourist .tour-list > li.nth-1 {background: url(../img/tourist_01.jpg) no-repeat;}
	.tourist .tour-list > li.nth-2 {background: url(../img/tourist_02.jpg) no-repeat;}
	.tourist .tour-list > li.nth-3 {background: url(../img/tourist_03.jpg) no-repeat;}
	.tourist .tour-list > li.nth-4 {background: url(../img/tourist_04.jpg) no-repeat;}
	.tourist .tour-list > li.nth-5 {background: url(../img/tourist_05.jpg) no-repeat;}
	.tourist .tour-list > li.nth-6 {background: url(../img/tourist_06.jpg) no-repeat;}
	.tourist .tour-list > li.nth-7 {background: url(../img/tourist_07.jpg) no-repeat;}
	.tourist .tour-list > li.lst {background: url(../img/tourist_more.jpg) no-repeat;}
	.tourist .tour-list > li a {position: absolute; width: 100%; height: 100%; display: block;}
	.tourist .tour-list > li h3 {font-size: 25px; font-weight: 600; margin-top: 116px;}
	.tourist .tour-list > li .mg- {position: relative; width: 46px; height: 1px; background: #fff; margin: 15px auto;}
	.tourist .tour-list > li .p0 {display: none; font-size: 17px; font-weight: 600; line-height: 1.4;}
	.tourist .tour-list > li .p0 .s0 {display: block; margin-bottom: 14px;}
	.tourist .tour-list > li:hover a {background: url(../img/bg_dim.png) repeat;}
	.tourist .tour-list > li.lst:hover a {background: none;}
	.tourist .tour-list > li:hover h3 {margin-top: 40px;}
	.tourist .tour-list > li:hover .p0 {display: block;}
	
}