<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
	<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<title>오션투유리조트</title>
	
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유리조트">
	<meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="오션투유리조트">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta name="twitter:title" content="오션투유리조트">
	<!--<link rel="canonical" href="도메인">-->
	
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link href="https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css" rel="stylesheet" type="text/css">
	
	
	<link rel="stylesheet" href="../../src/css/reset_custom.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" href="../../src/css/common.css">
	<link rel="stylesheet" href="../../src/css/member/init.css">
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="../../src/js/jquery.easing.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="../../src/js/common_ocean.js"></script>
	
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="../../src/css/common_ie8.css">
		<link rel="stylesheet" href="../../src/css/member/init_ie8.css">
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>

	<h1 class="hidden">오션투유리조트</h1>
	<div id="wrap">

		
		<div class="vid-wrap">
			<header class="header" id="gnb-header">
				<div class="container">
					<a href="" class="logo-box">
						<img class="logo" src="http://img.ocean2you.co.kr/renew/logo.png" alt="오션투유리조트">
						<span class="mg-l"></span>
						<img class="gcLogo" src="http://img.ocean2you.co.kr/renew/oc2_gcLogo.png" alt="고코투어">
					</a>
					
					<button class="mNav-btn" id="mNav-btn" type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="nav-bar">
						<ul class="nav clr">
							<li class="fst"><a href="">오션투유소개</a></li>
							<li><a href="">패키지안내</a></li>
							<li><a href="">시설안내</a></li>
							<li><a href="">주변관광지</a></li>
							<li><a href="">오시는길</a></li>
							<li class="lst"><a href="">예약/예약조회</a></li>
						</ul>
					</nav>
				</div>
				<nav class="mNav-box" id="mNav-box">
					<h2><a href="">HOME</a></h2>
					<ul class="mNav">
						<li class="fst"><a href="">오션투유소개</a></li>
						<li><a href="">패키지안내</a></li>
						<li><a href="">시설안내</a></li>
						<li><a href="">주변관광지</a></li>
						<li><a href="">오시는길</a></li>
						<li class="lst"><a href="">예약/예약조회</a></li>
					</ul>
				</nav>
			</header>
			
			<section class="title">
			
				<div class="container tit-box">
					<h2>로그인</h2>
					<div class="mg-"></div>
					<div class="titTxt"><img src="../../src/img/member/login_title.png" alt="로그인"></div>
					<p class="p0"><span class="xs-block">내 소셜 아이디로 간편하게 오션투유리조트</span> 설악비치 호탤앤콘도 가입과 로그인이 가능합니다.</p>
					<p class="p0 under">신규가입시 2,000원 적립금 지급, 결제금액 1% 적립</p>
					
				</div>
								
			</section>
		</div>
		
		<section class="login" id="setTop">
			<div class="container">
				<h3>간단하게 로그인</h3>
				<div class="mg-"></div>
				
				<div class="lgn-box">
					<ul class="lgnBtn-list clr">
						<li class="f"><a href="" class="btn-a"><img class="i-logo" src="http://img.go.co.kr/mobile/f_logo.jpg" alt="페이스북">페이스북 아이디로 로그인</a></li>
						<li class="k"><a href="" class="btn-a"><img class="i-logo" src="http://img.go.co.kr/mobile/k_logo.jpg" alt="카카오톡">카카오톡 아이디로 로그인</a></li>
						<li class="n"><a href="" class="btn-a"><img class="i-logo" src="http://img.go.co.kr/mobile/n_logo.jpg" alt="네이버">네이버 아이디로 로그인</a></li>
						<li class="d"><a href="" class="btn-a"><img class="i-logo" src="http://img.go.co.kr/mobile/d_logo.jpg" alt="다음">다음 아이디로 로그인</a></li>
						<li class="g"><a href="" class="btn-a"><img class="i-logo" src="http://img.go.co.kr/mobile/g_logo.jpg" alt="구글">구글 아이디로 로그인</a></li>
					</ul>
					
					<p class="p0">
						로그인/회원가입 시 이용약관, 개인정보취급방침에 동의하게 됩니다.<br>
					    회원가입시 SMS/메일링 수신에 동의합니다.<br>
					    오션투유리조트 설악비치 호탤앤콘도 의 온라인 공식 대행 여행사 [고코투어]로 로그인됩니다. 
					</p>
				</div>
			</div>
		</section>


		<footer class="footer">
			<div class="container">
				<div class="flt-1 clr"><img class="f-logo" src="../../src/img/f_logo.png" alt="오션투유리조트"></div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							오션투유리조트 설악비치 호텔앤콘도<br>
							주소 : 강원 고성군 죽왕면 삼포해변길 9, 1<br>
							사업자등록번호 : 332-85-00016<br>
							통신판매업 : 제 2009-4290040-30-2-0033호
						</p>
						<p class="nth-2">
							Copyright 2016 OCEAN2YOU CONE. ALL RIGHTS RESERVED
						</p>
					</address>
				</div>
				<div class="flt-3 clr">
					<div class="d-1">
						<span class="s0"><img src="../../src/img/i_phone.png" alt="전화"></span>
						<span class="s1">고객상담</span>
						<span class="s2">1666-1243</span>
					</div>
					<div class="d-2">
						<span class="s0"><img src="../../src/img/i_mail.png" alt="이메일"></span>
						<span class="s1">E-mail 문의</span>
						<span class="s2">help@go.co.kr</span>
					</div>
				</div>
			</div>
		</footer>
		
		<a href="javascript:;" id="goTop"><img src="../../src/img/goTop.jpg" alt="위로"></a>
	</div>
</body>
</html>