@charset 'utf-8';


#wrap * {box-sizing: border-box;}
a {color: #2b2b2b;}
.vid-wrap {background: url(http://img.ocean2you.co.kr/renew/intro/intro_titBg.jpg) no-repeat top center; padding-top: 98px; position: relative; width: 100%; height: 286px; 
	-webkit-background-size: cover; background-size: cover;}

.rBn-box {position: fixed; top: 376px; left: 50%; margin-left: 626px;}
.rBn-box > a {display: block; width: 140px;}


.title {position: relative;}
.title .tit-box {text-align: center; padding-top: 46px; color: #fff;}
.title .tit-box h2 {font-size: 27px;}
.title .tit-box .mg- {display: block; height: 1px; width: 60px; margin: 18px auto 20px; background: #fff;}
.title .tit-box .p0 {font-size: 20px; margin-top: 10px;}

.group-wrap {padding: 84px 0 76px;}
.bx-wrapper, .bx-wrapper, .group-wrap .container {width: 1190px;}

hr {border: 0; border-top: 1px solid #dedede; margin: 56px auto;}

.intro-sec {position: relative;}
.intro-sec .d-row {position: relative;}
.intro-sec .d-map {width: 630px; position: absolute; right: 0; top: 6px;}
.intro-sec p {letter-spacing: 0;}
.intro-sec .p-1 {font-size: 29px; font-weight: 700; font-family: "Nanum Gothic", sans-serif; line-height: 1.3;}
.intro-sec .p-1 strong {font-size: 30px; color: #242424; margin-bottom: 4px; display: inline-block;}
.intro-sec .p-2 {font-size: 19px; color: #595959; line-height: 1.5; margin-top: 8px;}
.intro-sec .area-btn {margin-top: 30px;}
.intro-sec .area-btn > a {position: relative; display: inline-block; width: 272px; height: 57px; background: #319af6; color: #fff; font-size: 18px; text-align: center;}
.intro-sec .area-btn > a:after {content: ""; display: inline-block; height: 105%; vertical-align: middle;}
.intro-sec .area-btn > a .ic-rArrow:after {border-color: #fff; width: 9px; height: 9px; top: -1px; left: 40px;}

section[class*=-sec] h3 {font-size: 25px; color: #4c4c4c; text-align: center; font-weight: 700;}
section[class*=-sec] h3 + p {font-size: 18px; color: #454545; text-align: center; line-height: 1.3; margin-top: 15px;}
.room-sec {position: relative;}
.room-sec .ul-list {margin-top: 40px;}
.room-sec .ul-list .li-item {float: left; position: relative; width: 354px; margin-left: 60px;}
.room-sec .ul-list .li-item:first-child {margin-left: 0;}
.room-sec .ul-list .li-item figure {}
.room-sec .ul-list .li-item > div {position: relative;}
.room-sec .ul-list .li-item .d-row-1 {margin-top: 10px; height: 57px;}
.room-sec .ul-list .li-item .d-row-1 .s-name {font-size: 20px; color: #535353; font-weight: 700; line-height: 1.1; position: relative; top: 3px;}
.room-sec .ul-list .li-item .d-row-1 .a-btn {position: absolute; right: 0; top: 0; font-size: 14px; background: #01374f; color: #fff; display: inline-block; text-align: center; line-height: 1.3; letter-spacing: -0.5px; padding: 11px; z-index: 2;}
.room-sec .ul-list .li-item .d-row-2 {padding-left: 66px; line-height: 1.4; color: #636363; margin-top: -5px;}
.room-sec .ul-list .li-item .d-row-2:before {content: ""; display: inline-block; position: absolute; top: 11px; left: 0; width: 50px; height: 1px; background: #777;}
.room-sec .p-ps {position: relative; padding-left: 23px; font-size: 17px; color: #848484; margin-top: 40px; line-height: 1.4;}
.room-sec .p-ps:before {position: absolute; left: 0;  content: ""; display: inline-block; width: 17px; height: 17px; background: url(http://img.ocean2you.co.kr/renew/group/pic_i.png); top: 4px;}

.food-sec {position: relative;}
.food-sec .ul-list {margin-left: -28px; margin-top: 5px;}
.food-sec .ul-list .li-item {position: relative; float: left; margin-left: 28px; margin-top: 30px; width: 276px; height: 352px; border: 1px solid #d2d2d2; border-radius: 6px; overflow: hidden;}
.food-sec .ul-list .li-item figure {position: relative;}
.food-sec .ul-list .li-item figure > img {width: 100%;}
.food-sec .ul-list .li-item .d-cont {padding: 5px; padding-top: 14px; word-break: keep-all; line-height: 1.4;}
.food-sec .ul-list .li-item .d-cont .p-name {font-size: 19px; color: #4e4e4e; font-weight: 700;}
.food-sec .ul-list .li-item .d-cont .p-txt {font-size: 17px; color: #575757; letter-spacing: -1.5px; margin-top: 3px;}

.facil-sec {position: relative;}
.facil-sec .ul-list {margin-left: -28px; margin-top: 5px;}
.facil-sec .ul-list .li-item {position: relative; float: left; margin-left: 28px; margin-top: 30px; width: 276px; height: 247px;}
.facil-sec .ul-list .li-item figure {position: relative;}
.facil-sec .ul-list .li-item figure > img {width: 100%;}
.facil-sec .ul-list .li-item figure > figcaption
, .facil-sec .ul-list .li-item figure > .s-bg {display: block; width: 100%; position: absolute; bottom: 0; left: 0; height: 40px;}
.facil-sec .ul-list .li-item figure > figcaption {text-align: right; padding-right: 15px; color: #fff;}
.facil-sec .ul-list .li-item figure > figcaption:after {content: ""; display: inline-block; height: 105%; vertical-align: middle;}
.facil-sec .ul-list .li-item figure > .s-bg {background: #000; opacity: 0.42; filter: alpha(opacity=42);}
.facil-sec .p-ps {position: relative; padding-left: 23px; font-size: 17px; color: #848484; margin-top: 30px; line-height: 1.4; letter-spacing: -0.5px;}
.facil-sec .p-ps:before {position: absolute; left: 0;  content: ""; display: inline-block; width: 17px; height: 17px; background: url(http://img.ocean2you.co.kr/renew/group/pic_i.png); top: 4px;}

.etc-sec {position: relative; margin-bottom: 50px;}
.etc-sec .d-cm {position: relative; text-align: center; line-height: 1.3;}
.etc-sec .d-cm .p-0 {font-size: 40px; color: #00b2dd;}
.etc-sec .d-cm .p-1 {font-size: 18px; color: #636363; line-height: 1.5; margin-top: 10px;}
.etc-sec .d-cm .area-btn {font-size: 20px; margin-top: 26px;}
.etc-sec .d-cm .area-btn .a-btn {position: relative; display: inline-block; width: 356px; height: 70px; background: #00b2dd; color: #fff;}
.etc-sec .d-cm .area-btn .a-btn:after {content: ""; display: inline-block; height: 105%; vertical-align: middle;}
.etc-sec .d-cm .area-btn .a-btn .ic-rArrow:after {border-color: #fff; width: 10px; height: 10px; top: 0; left: 2px; margin-right: -15px;}
.etc-sec .d-box-2 .area-btn {margin-top: 20px;}
.etc-sec .d-box-2 .area-btn .a-btn {display: inline; font-size: 34px; font-weight: 700; color: #00b2dd; background: 0; cursor: default;}
.etc-sec .d-box-2 .area-btn .pic-call {position: relative; display: inline-block; width: 35px; height: 35px; background: url(http://img.ocean2you.co.kr/renew/group/pic_call.png); vertical-align: middle; top: -4px; margin-left: -20px; left: -4px;}

/* 시설안내 표 */
.facil-sec .facil-tb {margin-top: 15px;}
.facil-sec .facil-tb + p {margin-top: 10px;}
.facil-tb colgroup col.nth-1 {width: 30%;}
.facil-tb colgroup col.nth-2 {width: 30%;}
.facil-tb colgroup col.nth-3 {width: 40%;}
.facil-tb th, .facil-tb td {border: 1px solid #d6d6d6; font-size: 17px; color: #5c5c5c; text-align: center; padding: 10px 0; font-family: 'Nanum Gothic', sans-serif; vertical-align: middle;}
.facil-tb th {font-weight: 700; background: #f3f0f0;}