<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
	<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<title>오션투유리조트</title>
	
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유리조트">
	<meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="오션투유리조트">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta name="twitter:title" content="오션투유리조트">
	<!--<link rel="canonical" href="도메인">-->
	
	<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css">-->
	<link rel="stylesheet" href="../../src/fonts/nanumbarungothic/nanumbarungothic.css">
	<!--<link href="https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css" rel="stylesheet" type="text/css">-->
	
	
	<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">-->
	<link rel="stylesheet" href="../../src/css/reset_custom.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common.css">-->
	<link rel="stylesheet" href="../../src/css/common.css">
	<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/group/init.css">-->
	<link rel="stylesheet" href="../../src/css/group/init.css">
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/jquery.easing.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/common_ocean.js"></script>
	<!--<script src="http://static.ocean2you.co.kr/js/renew/facil/init.js"></script>-->
	
		<!--<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/group/init_ie8.css">-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common_ie8.css">
		<link rel="stylesheet" href="../../src/css/group/init_ie8.css">
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>

	<h1 class="hidden">오션투유리조트</h1>
	<div id="wrap">

		
		<div class="vid-wrap">
			<header class="header" id="gnb-header">
				<div class="container">
					<a href="" class="logo-box">
						<img class="logo" src="http://img.ocean2you.co.kr/renew/logo.png" alt="오션투유리조트">
					</a>
					
					<button class="mNav-btn" id="mNav-btn" type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="nav-bar">
						<div class="d1">
							<a class="faq-a" id="faq-a" href="#">고코투어 이벤트 당첨안내</a>
							<a class="mFaq-a" id="mFaq-a" href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
						</div>
						<ul class="nav clr">
							<li class="fst"><a href="">오션투유소개</a></li>
							<li><a href="">패키지안내</a></li>
							<li><a href="">시설안내</a></li>
							<!--171114 이벤트/축제 추가-->
							<li><a href="">이벤트/축제</a></li>
							<li><a href="">주변관광지</a></li>
							<li><a href="">오시는길</a></li>
							<li class="lst"><a href="">예약/예약조회</a></li>
						</ul>
					</nav>
				</div>
				<nav class="mNav-box" id="mNav-box">
					<h2><a href="">HOME</a></h2>
					<ul class="mNav">
						<li class="fst"><a href="">오션투유소개</a></li>
						<li><a href="">패키지안내</a></li>
						<li><a href="">시설안내</a></li>
						<!--171114 이벤트/축제 추가-->
						<li><a href="">이벤트/축제</a></li>
						<li><a href="">주변관광지</a></li>
						<li><a href="">오시는길</a></li>
						<li class="lst"><a href="">예약/예약조회</a></li>
					</ul>
				</nav>
			</header>
			
			<section class="title">
			
				<div class="container tit-box">
					<h2>오션투유리조트 단체 예약문의</h2>
					<div class="mg-"></div>
					<div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/group/group_title.png" alt="예약하기"></div>
				</div>
								
			</section>
		</div>
		
		
		<div class="group-wrap" id="setTop">
			<div class="container">
				
				<section class="intro-sec clr">
					<div class="d-row">
						<p class="p-1 thColor2-2">
							<strong>단체여행 및 행사를 계획하고있으신가요?</strong><br>
							모든것이 완벽한 오션투유<span class="hidden-xs"> 리조트</span>에서<span class="md-block"></span>
							아름다운 추억을 만들어보세요!
						</p>
						<div class="d-map">
							<img src="http://img.ocean2you.co.kr/renew/group/mapImg.jpg" alt="오션투유지도">
						</div>
						<p class="p-2">
							오션투유리조트 속초설악비치 호탤앤콘도는<br>
							천혜의 절경, 삼포해수욕장을 바로 눈앞에서 바라볼 수 있으며,<br>
							설악산, 속초 및 통일 전망대까지 30분 이내에 이동이<span class="md-block"></span>
							가능합니다. 
						</p>
						<p class="area-btn"><a href="javascript">단체 문의하기 <span class="ic-rArrow"></span></a></p>
					</div>
				</section>
				<hr>
				<section class="room-sec">
					<h3 class="h3-tit">객실 안내</h3>
					<p class="p0">삼포해변의 아름다운 뷰를 마음 껏 즐길 수 있는 오션투유 만의 편안한 분위기의 룸</p>
					<ul class="ul-list clr">
						<li class="li-item">
							<figure><img src="http://img.ocean2you.co.kr/renew/group/room_1.jpg" alt="리노베이션오션뷰호텔사진"></figure>
							<div class="d-row-1">
								<span class="s-name">리노베이션 오션뷰<span class="md-block"></span> 호텔</span>
								<a href="#" class="a-btn">자세히<br>보기</a>
							</div>
							<div class="d-row-2">
								편안하고 아늑한 분위기의<br>
								침실과 독립적 공간 활용이 매력적인 룸
							</div>
						</li>
						<li class="li-item">
							<figure><img src="http://img.ocean2you.co.kr/renew/group/room_2.jpg" alt="리노베이션오션뷰콘도사진"></figure>
							<div class="d-row-1">
								<span class="s-name">리노베이션 오션뷰<span class="md-block"></span> 콘도</span>
								<a href="#" class="a-btn">자세히<br>보기</a>
							</div>
							<div class="d-row-2">
								넓은 공간 활용이 매력적이며<br>
								취사가 가능한 콘도형 룸
							</div>
						</li>
						<li class="li-item">
							<figure><img src="http://img.ocean2you.co.kr/renew/group/room_3.jpg" alt="오션뷰콘도사진"></figure>
							<div class="d-row-1">
								<span class="s-name">오션뷰 콘도</span>
								<a href="#" class="a-btn">자세히<br>보기</a>
							</div>
							<div class="d-row-2">
								편안한 인테리어와 아름다운<br>
								삼포해변이 한눈에 보이는 콘도형 룸
							</div>
						</li>
					</ul>
					<p class="p-ps">모든 객실은 4인 기준이며, 최대 7인까지 이용 가능합니다.</p>
				</section>
				<hr>
				<section class="food-sec">
					<h3 class="h3-tit">음식 안내</h3>
					<p class="p0">오직 오션투유 리조트에서만 즐길 수 있는 스페셜한 맛!</p>
					<ul class="ul-list clr">
						<li class="li-item">
							<figure><img src="http://img.ocean2you.co.kr/renew/group/food_1.jpg" alt="음식"></figure>
							<div class="d-cont">
								<p class="p-name">아메리칸 조식 뷔페</p>
								<p class="p-txt">
									<span class="hide show-xs">
										특급호텔 30년 경력의 셰프
										가 신선하고 좋은제철 식재
										료로 최고의 맛을 자랑합니다.
									</span>
									<span class="hide show-sm-gte">
										특급호텔 30년 경력의 셰프들이 신선
										하면서도 질 좋은 제철 식재료를 선별
										하여 최고의 맛을 자랑합니다.
									</span>
								</p>
							</div>
						</li>
						<li class="li-item">
							<figure><img src="http://img.ocean2you.co.kr/renew/group/food_2.jpg" alt="음식"></figure>
							<div class="d-cont">
								<p class="p-name">시카고 바베큐 플레이츠</p>
								<p class="p-txt">
									<span class="hide show-xs">
										폭립, 삼겹살을 차콜 그릴에서
										사과나무로 훈연하여 만들어
										낸 전통 바베큐입니다
									</span>
									<span class="hide show-sm-gte">
										폭립, 삼겹살을 정통 차콜 그릴에서 
										약 2시간 동안, 사과나무로 훈연하여 
										만들어낸 전통 바베큐입니다.
									</span>
								</p>
							</div>
						</li>
						<li class="li-item">
							<figure><img src="http://img.ocean2you.co.kr/renew/group/food_3.jpg" alt="음식"></figure>
							<div class="d-cont">
								<p class="p-name">계절 모듬 회</p>
								<p class="p-txt">
									<span class="hide show-xs">
										직접 활어회를 공수하여 제공
										하는 회 메뉴로, 주문시에 
										손질 하여 더욱 신선합니다.
									</span>
									<span class="hide show-sm-gte">
										특급호텔 셰프들이 직접 활어회를 
										공수하여 제공하는 회 메뉴 입니다.
										주문시에 손질하여 더욱 신선합니다.
									</span>
								</p>
							</div>
						</li>
						<li class="li-item">
							<figure><img src="http://img.ocean2you.co.kr/renew/group/food_4.jpg" alt="음식"></figure>
							<div class="d-cont">
								<p class="p-name">계절 모듬 물회</p>
								<p class="p-txt">
									<span class="hide show-xs">
										계절별 최고의 식감을 낼 수 
										있는 어종으로 제공하여 신선
										하고 감칠 맛을 선사합니다.
									</span>
									<span class="hide show-sm-gte">
										각 계절별 최고의 식감을 낼 수 있는 
										어종으로 제공되며,  다른 곳에서 
										맛 볼 수 없는 감칠 맛을 선사합니다.
									</span>
								</p>
							</div>
						</li>
						<li class="li-item">
							<figure><img src="http://img.ocean2you.co.kr/renew/group/food_5.jpg" alt="음식"></figure>
							<div class="d-cont">
								<p class="p-name">통 바베큐</p>
								<p class="p-txt">
									<span class="hide show-xs">
										행사 목적에 따라, 고객님의 
										취향에 맞추기 위하여 부가적
										으로 준비되는 메뉴입니다.
									</span>
									<span class="hide show-sm-gte">
										단합대회 및 행사 목적에 따라, 그리고
										고객님의 취향에 맞추기 위하여 
										부가적으로 준비되는 메뉴입니다.
									</span>
								</p>
							</div>
						</li>
						<li class="li-item">
							<figure><img src="http://img.ocean2you.co.kr/renew/group/food_6.jpg" alt="음식"></figure>
							<div class="d-cont">
								<p class="p-name">출장뷔페</p>
								<p class="p-txt">
									<span class="s-txt">
										전무 연회팀과 협조하여 오랜 
										실무경험을 갖춘 인력으로 차
										별화된 리셉션<span class="hidden-xs"> 제공</span>이 가능합니다
									</span>
								</p>
							</div>
						</li>
						<li class="li-item">
							<figure><img src="http://img.ocean2you.co.kr/renew/group/food_7.jpg" alt="음식"></figure>
							<div class="d-cont">
								<p class="p-name">단품 메뉴</p>
								<p class="p-txt">
									<span class="hide show-xs">
										광어 미역국, 황태 해장국, 우
										거지 갈비탕 등 구수하고 정갈
										한 맛을 자랑합니다. 
									</span>
									<span class="hide show-sm-gte">
										광어 미역국, 황태 해장국, 우거지 
										갈비탕 등 셰프들이 정성 들여 
										준비하여 정갈한 맛을 자랑합니다. 
									</span>
								</p>
							</div>
						</li>
					</ul>
				</section>
				<hr>
				<section class="facil-sec">
					<h3 class="h3-tit">부대시설 안내</h3>
					<p class="p0">한 자리에서 모든 것을 할 수 있는 오션투유만의 특별한 부대시설 안내</p>
					<ul class="ul-list clr">
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/facil_1.jpg" alt="부대시설">
								<figcaption>대연회장</figcaption>
							</figure>
						</li>
						<!--(li.li-item>figure(img[src=http://img.ocean2you.co.kr/renew/group/facil_$@2.jpg alt=부대시설]+figcaption))*7-->
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/facil_2.jpg" alt="부대시설">
								<figcaption>세미나실</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/facil_3.jpg" alt="부대시설">
								<figcaption>바베큐장</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/facil_4.jpg" alt="부대시설">
								<figcaption>운동장</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/facil_5.jpg" alt="부대시설">
								<figcaption>편의점</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/facil_6.jpg" alt="부대시설">
								<figcaption>까페</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/facil_7.jpg" alt="부대시설">
								<figcaption><span class="s-bg"></span>한식당</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/facil_8.jpg" alt="부대시설">
								<figcaption>노래방</figcaption>
							</figure>
						</li>
					</ul>
					<p class="p-ps">
						몇 명 이용규모로 다양한 행사이용이 가능합니다.<br>
						대연회장 및 세미나은 빔프로젝트 이용이 가능합니다.<br>
						대연회장 및 세미나실에서 노래방기기 이용이 가능합니다.
					</p>
				</section>
				<hr>
				<section class="facil-sec program-sec">
					<h3 class="h3-tit">연계 프로그램 소개</h3>
					<p class="p0">다양한 프로그램으로 더욱 알찬 여행이 될 수 있도록 즐거움을 더해 드립니다.</p>
					<ul class="ul-list clr">
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/program_1.jpg" alt="연계프로그램">
								<figcaption>캠프파이어</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/program_2.jpg" alt="연계프로그램">
								<figcaption>전동바이크</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/program_3.jpg" alt="연계프로그램">
								<figcaption>레크레이션</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/program_4.jpg" alt="연계프로그램">
								<figcaption>바다낚시</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/program_5.jpg" alt="연계프로그램">
								<figcaption>산행(등산)</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/program_6.jpg" alt="연계프로그램">
								<figcaption>수상레포츠</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/program_7.jpg" alt="연계프로그램">
								<figcaption>서바이벌</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.ocean2you.co.kr/renew/group/program_8.jpg" alt="연계프로그램">
								<figcaption>불꽃놀이</figcaption>
							</figure>
						</li>
					</ul>
				</section>
				<hr>
				<section class="etc-sec">
					<div class="d-box-1 d-cm">
						<p class="p-0">오션투유 리조트가 <span class="f-bd">즐거움</span>을 <span class="f-bd">책임</span>집니다.</p>
						<p class="p-1">모든 것이 완벽한 오션투유 리조트에서 아름다운 추억을 만들어보세요!</p>
						<p class="area-btn"><a href="" class="a-btn">단체 문의하기 <span class="ic-rArrow"></span></a></p>
					</div>
					<hr>
					<div class="d-box-2 d-cm">
						<p class="p-0"><span class="hidden-xs">단체 행사 문의에 대한</span> <span class="f-bd">빠른 상담이 필요</span>하신가요?</p>
						<p class="p-1">단체 예약 전용 번호로 연락 주시면 담당자가 빠르게 안내해 드리겠습니다. </p>
						<p class="area-btn"><a href="tel:010-8844-0409" class="a-btn"><span class="pic-call"></span> 010-8844-0409</a></p>
					</div>
				</section>
				
			</div>
		
		</div>


		<footer class="footer">
			<div class="container">
				
				<div class="flt-1 clr">
					<img class="f-logo" src="http://img.ocean2you.co.kr/renew/f_logo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							오션투유리조트 설악비치 호텔앤콘도<br>
							주소 : 강원 고성군 죽왕면 삼포해변길 9<span class="i-l"></span>TEL. 070-7688-2438<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호						
						</p>
					</address>
					<!-- 171127 예약문의 변경 -->
					<div class="cf-box">
						<p class="p-0">&lt;고객센터 안내&gt;</p>
						<div class="cf-in">
							<div class="callFor cf0">
								<span class="f-bd">고객센터 안내</span>
								문의에 따라 해당 고객센터로<br>
								전화주시면,문의사항을<br>
								해결해 드리겠습니다.
							</div>
							<a class="callFor cf1" href="tel:1666-1243">
								<span class="s1">예약문의</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">&#40;</span>확정, 변경, 취소<span class="xs-hidden">&#41;</span><span class="xs-block"></span>/이벤트 문의</span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 1666-1243</span>
								<span class="s1-2">연결가능시간 09:00~18:00</span>
							</a>
							<a class="callFor cf2" href="tel:010-8844-0409">
								<span class="s1">프론트</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">&#40;</span>체크인, 체크아웃<span class="xs-block"></span>시설이용문의<span class="xs-hidden">&#41;</span></span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 033-631-3811</span>
								<span class="s1-2">연결가능시간 06:00~02:00</span>
							</a>
							<a class="callFor cf3" href="tel:010-8844-0409">
								<span class="s1">단체문의</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">&#40;</span>워크샵, 학생단체,<span class="xs-block"></span> 산업단체 등<span class="xs-hidden">&#41;</span></span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 010-8844-0409</span>
								<span class="s1-2">연결가능시간 09:00~18:00</span>
							</a>
						</div>
					</div>
					
					
				</div>
				
				<div class="clr"></div>
				<div class="flt-1 clr">
					<img class="f-gcLogo" src="http://img.ocean2you.co.kr/renew/f_gcLogo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1 mt">
							(주)바로네트웍스<br>
							주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호<br>
							여행업등록번호 : 제2015-02호<span class="i-l"></span>여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
						</p>
						* 바로네트웍스는 오션투유리조트의 공식 온라인 총판사 입니다. 
						<br><br>
						<p class="nth-2">
							Copyright 2016 OCEAN2YOU CONE. ALL RIGHTS RESERVED
						</p>

					</address>
				</div>
			</div>
		</footer>
		
		<a href="javascript:;" id="goTop"><img src="http://img.ocean2you.co.kr/renew/goTop.jpg" alt="위로"></a>
	</div>
	
</body>
</html>