@charset "utf-8";
@import url(http://static.ocean2you.co.kr/css/m/reset.css);
body {font-family: "Noto Sans KR", "Nanum Gothic", "MalgunGothic", sans-serif; letter-spacing: -0.7px; color: #303030;}
a {color: #303030;}
/*h1,h2,h3,h4 {font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;}*/

/*전체영역 및 공통*/
#wrap {position: relative; width: 100%; min-width: 320px;}
.header, .container, .footer {position: relative; width: 100%; margin-left: auto; margin-right: auto;} 
.wd-300, .container > section, .footer-box {position: relative; width: 300px; margin-left: auto; margin-right: auto;}

/*폰트컬러*/
.c-blue {color: #076ca0;}
.c-white {color: #fff;}
.bg-blue {background-color: #076ca0;}
/*정렬*/
.align-center {text-align: center;}

#wrap {padding-top: 106px;}
/*헤더영역*/
.header {position: fixed; top: 0; background: #195381; z-index: 11;}
.header h2 {height: 50px; color: #fff; line-height: 2.2em; font-size: 22px; text-align: center;}
.nav {height: 36px; background: #1a3d59;}
.nav ul {text-align: center;}
.nav ul li {display: inline-block; vertical-align: text-top; margin-left: 45px;}
.nav ul li:first-child {margin-left: 0;}
.nav ul li.on a {border-bottom: 2px solid #fff;}
.nav ul li a {display: inline-block; color: #fff; line-height: 2.45em; font-size: 14px; height: 28px;}

/*푸터영역*/
.footer {margin-top: 30px; padding-top: 20px; background: #f7f7f7; border-top: 1px solid #e5e5e5; height: 75px;}
.footer-box .f-logo, .footer-box address {float: left;}
.footer-box .f-logo {position: relative; top: 7px; width: 48px; margin-right: 8px;}
.footer-box .f-logo img {width: 100%;}
.footer-box address {width: 244px; font-size: 12px; line-height: 1.2em; color: #656161;}
.footer-box address small {font-size: 10px;}