<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
	<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<title>오션투유리조트</title>
	
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유리조트">
	<meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="오션투유리조트">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta name="twitter:title" content="오션투유리조트">
	<!--<link rel="canonical" href="도메인">-->
	
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link href="https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css" rel="stylesheet" type="text/css">
	
	
	<link rel="stylesheet" href="../src/css/reset_custom.css">
	<link rel="stylesheet" href="../src/css/jquery.mb.YTPlayer.css">
	<link rel="stylesheet" href="../src/css/common.css">
	<link rel="stylesheet" href="../src/css/index.css">
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="../src/js/index.js"></script>
	<!--[if gte IE 9]><!--> 
		<script src="../src/js/jquery.mb.YTPlayer.min.js"></script>
		<script src="../src/js/index_player.js"></script>
	<!--<![endif]-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="../src/css/index_ie8.css">
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>

	<h1 class="hidden">오션투유리조트 설악비치 호탤앤콘도</h1>
	<div id="wrap">


		<div class="vid-wrap">
			<section class="vid" data-property="{videoURL:'3sUzvwZXH-8',containment:'self', showControls:false, autoPlay:true, loop:false, mute:true, startAt:0, opacity:1, addRaster:true, quality:'default'}">
			</section>
			
			<header class="header">
				<div class="container">
					<div class="logo-box">
						<img class="logo" src="../src/img/logo.png" alt="오션투유리조트">
						<span class="mg-l"></span>
						<img class="gcLogo" src="../src/img/oc2_gcLogo.png" alt="고코투어">
					</div>
					
					<button class="mNav-btn" id="mNav-btn" type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="nav-bar">
						<ul class="nav clr">
							<li class="fst"><a href="">오션투유소개</a></li>
							<li><a href="">패키지안내</a></li>
							<li><a href="">시설안내</a></li>
							<li><a href="">주변관광지</a></li>
							<li><a href="">오시는길</a></li>
							<li class="lst"><a href="">예약/예약조회</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<nav class="mNav-box" id="mNav-box">
				<h2><a href="">HOME</a></h2>
				<ul class="mNav">
					<li class="fst"><a href="">오션투유소개</a></li>
					<li><a href="">패키지안내</a></li>
					<li><a href="">시설안내</a></li>
					<li><a href="">주변관광지</a></li>
					<li><a href="">오시는길</a></li>
					<li class="lst"><a href="">예약/예약조회</a></li>
				</ul>
			</nav>
			
			<section class="main">
				
				<div class="txt-box" id="txt-box">
					<p class="p0">
						천혜의 절경이 펼쳐진<br>
						강원도 설악, 속초, 고성에 위치한
					</p>
					<div class="mg-"></div>
					<p class="p1"><img src="../src/img/main_tit.png" alt="오션투유리조트"></p>
					<a href="" class="more-a">자세히보기</a>
				</div>
				
				<div id="scr-box">
					<img src="../src/img/i_mouse.png" alt="아래로스크롤하세요" class="nth-1">
					<img src="../src/img/i_dArr.png" alt="아래로" class="nth-2">
					<img src="../src/img/i_dArr.png" alt="아래로" class="nth-3">
				</div>
				
			</section>
		</div>

		<section class="intro">
			<div class="container clr">
				<div class="colth-1">
					<div class="mg-"></div>
					<h2>
						<span class="f-bd">별빛이 쏟아지는</span><br>
						오션투유 리조트
					</h2>
					<p class="p0">
						반짝이는 하얀 백사장 위로 매일 밤<br>
						쏟아지는 별빛을 볼 수 있는 오션투유 리조트 콘도
					</p>
					<a href="" class="more-a">자세히보기<img src="../src/img/i_rArr.png" alt="더보기" class="i-rArr"></a>
				</div>
				<div class="colth-2 clr">
					<div class="nth-1 clr">
						<img src="../src/img/intro_01.jpg" alt="하얀백사장에보물같은조개" class="img-1">
						<p class="p0">
							반짝거리는 하얀 백사장에서<br>
							만날수 있는 보물같은 조개
						</p>
						<a href="" class="more-a">자세히보기</a>
					</div>
					<div class="nth-2 clr">
						<img src="../src/img/intro_02.jpg" alt="탁트인해안선과환상적인뷰" class="img-1">
						<p class="p0">
							탁트인 해안선과<br>
							별빛이 쏟아지는 환상적인 뷰
						</p>
						<a href="" class="more-a">자세히보기</a>
					</div>
				</div>
			</div>
		</section>

		<section class="package">
			<div class="in-bg">
				<div class="container clr">
					<div class="in-tit">
						<div class="mg-"></div>
						<h2>OCEAN2YOU <span class="f-bd">PACKAGE</span></h2>
						<p class="p0">가족, 친구, 연인과 함께 할 수 다양한 패키지로 즐기는 오션투유 리조트</p>
					</div>
					
					<ul class="pkg-list clr">
						<li class="nth-1">
							<img src="../src/img/package_01.jpg" alt="조개잡기" class="bgImg">
							<div class="in-cont">
								<div class="mg-"></div>
								<h3>조개잡기</h3>
								<p class="p0">
									은빛 해변에서 즐기는 보물찾기<br>
									조개잡기 패키지
								</p>
								<a href="" class="more-a">자세히보기</a>
							</div>
						</li>
						<li class="nth-2">
							<img src="../src/img/package_02.jpg" alt="바베큐" class="bgImg">
							<div class="in-cont">
								<div class="mg-"></div>
								<h3>바베큐</h3>
								<p class="p0">
									바다를 바라보며 시원하게 즐기는<br>
									바베큐 패키지
								</p>
								<a href="" class="more-a">자세히보기</a>
							</div>
						</li>
						<li class="nth-3">
							<img src="../src/img/package_03.jpg" alt="전동 스쿠터" class="bgImg">
							<div class="in-cont">
								<div class="mg-"></div>
								<h3>전동 스쿠터</h3>
								<p class="p0">
									시원하게 탁트인 해안가를 달리는<br>
									전동스쿠터 패키지
								</p>
								<a href="" class="more-a">자세히보기</a>
							</div>
						</li>
						<li class="nth-4">
							<img src="../src/img/package_04.jpg" alt="조식뷔페 다연" class="bgImg">
							<div class="in-cont">
								<div class="mg-"></div>
								<h3>조식뷔페 다연</h3>
								<p class="p0">
									다채로운 요리와 디저트가 가득한<br>
									다연 조식 패키지
								</p>
								<a href="" class="more-a">자세히보기</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="tourist">
			<div class="container">
				<div class="in-tit">
					<h2>주변관광지</h2>
					<p class="p0">강원도 설악, 속초, 고성에 위치한 오션투유 리조트 주변 관광지안내</p>
				</div>
				
				<ul class="tour-list clr">
					<li class="nth-1">
						<img src="../src/img/tourist_01.jpg" alt="건봉사" class="bgImg">
						<a href="">
							<h3>건봉사</h3>
							<div class="mg-"></div>
							<p class="p0"></p>
						</a>
					</li>
					<li class="nth-2">
						<img src="../src/img/tourist_02.jpg" alt="삼포해수욕장" class="bgImg">
						<a href="">
							<h3>삼포해수욕장</h3>
							<div class="mg-"></div>
							<p class="p0"></p>
						</a>
					</li>
					<li class="nth-3">
						<img src="../src/img/tourist_03.jpg" alt="화암사" class="bgImg">
						<a href="">
							<h3>화암사</h3>
							<div class="mg-"></div>
							<p class="p0"></p>
						</a>
					</li>
					<li class="nth-4">
						<img src="../src/img/tourist_04.jpg" alt="송지호" class="bgImg">
						<a href="">
							<h3>송지호</h3>
							<div class="mg-"></div>
							<p class="p0"></p>
						</a>
					</li>
					<li class="nth-5">
						<img src="../src/img/tourist_05.jpg" alt="청초호" class="bgImg">
						<a href="">
							<h3>청초호</h3>
							<div class="mg-"></div>
							<p class="p0">
								<span class="s0">속초시 야경이 아름다운 청초호</span>
								강원도 속초시는 석호인 청초호를 중심으로<br>
								형성되어 있으며, 속초시내와 설악산이<br>
								한눈에 펼쳐져 수려한 속초의 풍경을<br>
								감상하시기 좋습니다.
							</p>
						</a>
					</li>
					<li class="nth-6">
						<img src="../src/img/tourist_06.jpg" alt="천학정" class="bgImg">
						<a href="">
							<h3>천학정</h3>
							<div class="mg-"></div>
							<p class="p0"></p>
						</a>
					</li>
					<li class="nth-7">
						<img src="../src/img/tourist_07.jpg" alt="설악산" class="bgImg">
						<a href="">
							<h3>설악산</h3>
							<div class="mg-"></div>
							<p class="p0"></p>
						</a>
					</li>
					<li class="lst">
						<img src="../src/img/tourist_more.jpg" alt="더보기" class="bgImg">
						<a href="">
							<h3 class="hidden">더보기</h3>
						</a>
					</li>
					
				</ul>
			</div>
		</section>

		<section class="facilities"></section>

		<sectioin class="waytocome"></sectioin>

		<footer class="footer"></footer>
	</div>
	
	
</body>
</html>