<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
	<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<title>오션투유리조트</title>
	
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유리조트">
	<meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="오션투유리조트">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta name="twitter:title" content="오션투유리조트">
	<!--<link rel="canonical" href="도메인">-->
	
	<!-- <link href="https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css" rel="stylesheet" type="text/css"> -->
	<link rel="stylesheet" href="../src/fonts/nanumbarungothic/nanumbarungothic.css">
	<!-- <link rel="stylesheet" href="http://static.ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css"> -->
	
	
	<link rel="stylesheet" href="../src/css/reset_custom.css">
	<link rel="stylesheet" href="../src/css/jquery.mb.YTPlayer.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" href="../src/css/common.css">
	<link rel="stylesheet" href="../src/css/index.css">
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="../src/js/jquery.easing.min.js"></script>
	<script src="../src/js/common.js"></script>
	<script src="../src/js/index.js"></script>
	<!--[if gte IE 9]><!--> 
		<script src="../src/js/jquery.mb.YTPlayer.min.js"></script>
		<script src="../src/js/index_player.js"></script>
	<!--<![endif]-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="../src/css/common_ie8.css">
		<link rel="stylesheet" href="../src/css/index_ie8.css">
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>

	<h1 class="hidden">오션투유리조트 설악비치 호텔앤콘도</h1>
	<div id="wrap">


		<div class="vid-wrap">
			<section class="vid" data-property="{videoURL:'3sUzvwZXH-8',containment:'self', showControls:false, autoPlay:true, loop:false, mute:true, startAt:0, opacity:1, addRaster:true, quality:'default'}">
			</section>
			
			<header class="header" id="gnb-header">
				<div class="container">
					<a href="" class="logo-box">
						<img class="logo" src="http://img.ocean2you.co.kr/renewal/logo.png" alt="오션투유리조트">
						<span class="mg-l"></span>
						<img class="gcLogo" src="http://img.ocean2you.co.kr/renewal/oc2_gcLogo.png" alt="고코투어">
					</a>
					
					<button class="mNav-btn" id="mNav-btn" type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="nav-bar">
						<ul class="nav clr">
							<li class="fst"><a href="">오션투유소개</a></li>
							<li><a href="">패키지안내</a></li>
							<li><a href="">시설안내</a></li>
							<li><a href="">주변관광지</a></li>
							<li><a href="">오시는길</a></li>
							<li class="lst"><a href="">예약/예약조회</a></li>
						</ul>
					</nav>
				</div>
				<nav class="mNav-box" id="mNav-box">
					<h2><a href="">HOME</a></h2>
					<ul class="mNav">
						<li class="fst"><a href="">오션투유소개</a></li>
						<li><a href="">패키지안내</a></li>
						<li><a href="">시설안내</a></li>
						<li><a href="">주변관광지</a></li>
						<li><a href="">오시는길</a></li>
						<li class="lst"><a href="">예약/예약조회</a></li>
					</ul>
				</nav>
			</header>
			
			<section class="main" id="main">
				
				<div class="txt-box" id="txt-box">
					<p class="p0">
						천혜의 절경이 펼쳐진<br>
						강원도 설악, 속초, 고성에 위치한
					</p>
					<div class="mg-"></div>
					<p class="p1"><img src="../src/img/main_tit.png" alt="오션투유리조트"></p>
					<a href="javascript:;" class="more-a">자세히보기</a>
				</div>
				
				<div id="scr-box">
					<img src="../src/img/i_mouse.png" alt="아래로스크롤하세요" class="nth-1">
					<img src="../src/img/i_dArr.png" alt="아래로" class="nth-2">
					<img src="../src/img/i_dArr.png" alt="아래로" class="nth-3">
				</div>
				
			</section>
		</div>

		<section class="intro" id="setTop">
			<div class="container">
				<div class="colth-1">
					<div class="mg-"></div>
					<h2>
						<span class="f-bd">별빛이 쏟아지는</span><br>
						오션투유 리조트
					</h2>
					<p class="p0">
						반짝이는 하얀 백사장 위로 매일 밤<br>
						쏟아지는 별빛을 볼 수 있는 오션투유 리조트 콘도
					</p>
					<a href="" class="more-a">자세히보기<img src="../src/img/i_rArr.png" alt="더보기" class="i-rArr"></a>
				</div>
				<div class="colth-2 clr">
					<div class="nth-1 clr">
						<img src="../src/img/intro_01.jpg" alt="하얀백사장에보물같은조개" class="img-1">
						<p class="p0">
							반짝거리는 하얀 백사장에서<br>
							만날수 있는 보물같은 조개
						</p>
						<a href="" class="more-a">자세히보기</a>
					</div>
					<div class="nth-2 clr">
						<img src="../src/img/intro_02.jpg" alt="탁트인해안선과환상적인뷰" class="img-1">
						<p class="p0">
							탁트인 해안선과<br>
							별빛이 쏟아지는 환상적인 뷰
						</p>
						<a href="" class="more-a">자세히보기</a>
					</div>
				</div>
			</div>
		</section>

		<section class="package">
			<div class="in-bg">
				<div class="container">
					<div class="in-tit">
						<div class="mg-"></div>
						<h2>OCEAN2YOU <span class="f-bd">PACKAGE</span></h2>
						<p class="p0">가족, 친구, 연인과 함께 할 수 다양한 패키지로 즐기는 오션투유 리조트</p>
					</div>
					
					<ul class="pkg-list clr">
						<li class="nth-1">
							<img src="../src/img/package_01.jpg" alt="조개잡기" class="bgImg">
							<div class="in-cont">
								<div class="mg-"></div>
								<h3>조개잡기</h3>
								<p class="p0">
									은빛 해변에서 즐기는 보물찾기<br>
									조개잡기 패키지
								</p>
								<a href="" class="more-a">자세히보기</a>
							</div>
						</li>
						<li class="nth-2">
							<img src="../src/img/package_02.jpg" alt="바베큐" class="bgImg">
							<div class="in-cont">
								<div class="mg-"></div>
								<h3>바베큐</h3>
								<p class="p0">
									바다를 바라보며 시원하게 즐기는<br>
									바베큐 패키지
								</p>
								<a href="" class="more-a">자세히보기</a>
							</div>
						</li>
						<li class="nth-3">
							<img src="../src/img/package_03.jpg" alt="전동 바이크" class="bgImg">
							<div class="in-cont">
								<div class="mg-"></div>
								<h3>전동 바이크</h3>
								<p class="p0">
									시원하게 탁트인 해안가를 달리는<br>
									전동스쿠터 패키지
								</p>
								<a href="" class="more-a">자세히보기</a>
							</div>
						</li>
						<li class="nth-4">
							<img src="../src/img/package_04.jpg" alt="조식뷔페 다연" class="bgImg">
							<div class="in-cont">
								<div class="mg-"></div>
								<h3>조식뷔페 다연</h3>
								<p class="p0">
									다채로운 요리와 디저트가 가득한<br>
									다연 조식 패키지
								</p>
								<a href="" class="more-a">자세히보기</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="tourist">
			<div class="container">
				<div class="in-tit">
					<h2>주변관광지</h2>
					<p class="p0">강원도 설악, 속초, 고성에 위치한 오션투유 리조트 주변 관광지안내</p>
				</div>
				
				<ul class="tour-list clr">
					<li class="nth-1">
						<img src="../src/img/tourist_01.jpg" alt="건봉사" class="bgImg">
						<a href="javascript:;">
							<h3>건봉사</h3>
							<div class="mg-"></div>
							<p class="p0">
								<span class="s0">
									 부처님 진신치아사리 모셔진,<br>
									호국불교의 본산
								</span>
								설악산 신흥사, 백담사등 9개 말사(末寺)를<br>
								거느렸던 전국 4대 사찰 중 한곳으로<br>
								신라 법흥왕(서기520년)때 지어진<br>
								오랜 사찰입니다
							</p>
						</a>
					</li>
					<li class="nth-2">
						<img src="../src/img/tourist_02.jpg" alt="삼포해수욕장" class="bgImg">
						<a href="javascript:;">
							<h3>삼포해수욕장</h3>
							<div class="mg-"></div>
							<p class="p0">
								<span class="s0">은빛 백사장이 아름다운 해수욕장</span>
								강원도고성군에 위치한 삼포 해수욕장은<br>
								깨끗한 백사장, 울창한 송림을 지닌<br>
								국민관광지로 유명한 곳입니다
							</p>
						</a>
					</li>
					<li class="nth-3">
						<img src="../src/img/tourist_03.jpg" alt="화암사" class="bgImg">
						<a href="javascript:;">
							<h3>화암사</h3>
							<div class="mg-"></div>
							<p class="p0">
								<span class="s0">신선봉 아래, 벼에 관한 전설 얽힌 화암사</span>
								미시령의 울산바위, 수바위 신선봉이<br>
								어우러져 빚어내는 화암사 주변의<br>
								가을단풍은 아름다움의 극치를 이룹니다
							</p>
						</a>
					</li>
					<li class="nth-4">
						<img src="../src/img/tourist_04.jpg" alt="송지호" class="bgImg">
						<a href="javascript:;">
							<h3>송지호</h3>
							<div class="mg-"></div>
							<p class="p0">
								<span class="s0">둘레길 따라 걸으며 호수의 여유를 만끽!</span>
								둘레가 4km에 약 20만평 넓이의<br>
								대자연호수로 울창한 송림과 함께 물빛이<br>
								청명하고 수심이 일정하며 많은 어족들이<br>
								서식하기에 적합한 곳으로 유명합니다.
							</p>
						</a>
					</li>
					<li class="nth-5">
						<img src="../src/img/tourist_05.jpg" alt="청초호" class="bgImg">
						<a href="javascript:;">
							<h3>청초호</h3>
							<div class="mg-"></div>
							<p class="p0">
								<span class="s0">속초시 야경이 아름다운 청초호</span>
								강원도 속초시는 석호인 청초호를 중심으로<br>
								형성되어 있으며, 속초시내와 설악산이<br>
								한눈에 펼쳐져 수려한 속초의 풍경을<br>
								감상하시기 좋습니다.
							</p>
						</a>
					</li>
					<li class="nth-6">
						<img src="../src/img/tourist_06.jpg" alt="천학정" class="bgImg">
						<a href="javascript:;">
							<h3>천학정</h3>
							<div class="mg-"></div>
							<p class="p0">
								<span class="s0">노송과 깍아지른 듯한 해안절벽위의 선경</span>
								동해바다의 신비를 고스란히 간직하고 있는<br>
								천혜의 기암괴석과 깍아지른 듯한 해안 절벽위에<br>
								건립되어 경치가 아름다운 곳입니다
							</p>
						</a>
					</li>
					<li class="nth-7">
						<img src="../src/img/tourist_07.jpg" alt="설악산" class="bgImg">
						<a href="javascript:;">
							<h3>설악산 비선대</h3>
							<div class="mg-"></div>
							<p class="p0">
								<span class="s0">
									선녀가 하늘로 올라갔다는 비선대에서<br>
									바라보는 금강굴 절경
								</span>
								비선대코스는 선녀가 하늘로 올라갔다하여<br>
								그만큼 아름다운 전경을 탐방할 수 있는<br>
								약 3.0km 구간으로 시간은<br>
								편도 약 1시간 정도 소요됩니다.
							</p>
						</a>
					</li>
					<li class="lst">
						<img src="../src/img/tourist_more.jpg" alt="더보기" class="bgImg">
						<a href="">
							<h3 class="hidden">더보기</h3>
						</a>
					</li>
					
				</ul>
			</div>
		</section>

		<section class="facil">
			<div class="container">
				<div class="in-tit">
					<h2>시설안내</h2>
					<p class="p0">강원도 설악, 속초, 고성에 위치한 오션투유 리조트 시설안내</p>
				</div>
				
				<div class="bxList nth-1 clr" id="bxList-1">
					<div class="bxBox nth-1">
						<ul class="bxS-1">
							<li><img src="../src/img/facil_01.jpg" alt="오션투유 콘도" /></li>
							<li><img src="../src/img/facil_01.jpg" alt="오션투유 콘도" /></li>
						</ul>
						<div class="txt-box">
							<p class="p0">오션투유 콘도</p>
							<a href="" class="more-a">자세히보기</a>
						</div>
					</div>
					<div class="bxBox nth-2">
						<ul class="bxS-2">
							<li><img src="../src/img/facil_02.jpg" alt="오션투유 리노베이션 콘도/호텔" /></li>
							<li><img src="../src/img/facil_02.jpg" alt="오션투유 리노베이션 콘도/호텔" /></li>
						</ul>
						<div class="txt-box">
							<p class="p0">오션투유 콘도</p>
							<a href="" class="more-a">자세히보기</a>
						</div>
					</div>
				</div>
				
				<div class="bxList nth-2 clr">
					<div class="bxBox nth-1">
						<img class="bgImg" src="../src/img/facil_03.jpg" alt="오션투유 콘도" />
						<div class="txt-box">
							<p class="p0">레스토랑 다연</p>
							<a href="" class="more-a">자세히보기</a>
						</div>
					</div>
					<div class="bxBox nth-2">
						<img class="bgImg" src="../src/img/facil_04.jpg" alt="오션투유 콘도" />
						<div class="txt-box">
							<p class="p0">카페 라바짜</p>
							<a href="" class="more-a">자세히보기</a>
						</div>
					</div>
				</div>
				<div class="bxList nth-3 clr">
					<div class="bxBox nth-1">
						<img class="bgImg" src="../src/img/facil_05.jpg" alt="오션투유 콘도" />
						<div class="txt-box">
							<p class="p0">편의점</p>
							<a href="" class="more-a">자세히보기</a>
						</div>
					</div>
					<div class="bxBox nth-2">
						<img class="bgImg" src="../src/img/facil_06.jpg" alt="오션투유 콘도" />
						<div class="txt-box">
							<p class="p0">바베큐장</p>
							<a href="" class="more-a">자세히보기</a>
						</div>
					</div>
					<div class="bxBox nth-3">
						<img class="bgImg" src="../src/img/facil_07.jpg" alt="오션투유 콘도" />
						<div class="txt-box">
							<p class="p0">연회장</p>
							<a href="" class="more-a">자세히보기</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="wayto">
			<div class="container">
				<div class="in-tit">
					<h2>오시는길</h2>
					<p class="p0">강원도 설악, 속초, 고성에 위치한 오션투유 리조트 위치안내</p>
				</div>
				
				<div class="map-box clr">
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3130.3620469800658!2d128.52880931560614!3d38.31744607966428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5fd894b74d5ee2c3%3A0xf978c9441b2a53bd!2z7Jik7IWYIO2IrOycoCDrpqzsobDtirgg7ISk7JWF67mE7LmYIO2YuO2FlCDslaQg7L2Y64-E!5e0!3m2!1sko!2skr!4v1503997101294" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
					<div class="mapExp">
						<p class="p0">자가 차량 이용시</p>
						<p class="p1">네비게이션 주소 또는 오션투유 리조트 입력</p>
						<p class="p0">대중교통 이용시</p>
						<p class="p1"><span class="f-bd">간성시외버스터미널 하차시</span> - 신안리 정류장에서 1번, 1-1 버스 승차, 오호 초등학교에서 하차</p>
						<p class="p1"><span class="f-bd">속초시외버스터미널 하차시</span> - 속초고속버스터미널 정류장에서 1번, 1-1번 버스 승차, 오호 초등학교 하차</p>
						<p class="p1"><span class="f-bd">속초시외버스터미널 하차시</span> - 수복탑 정류장에서 1번. 1-1번 버스 승차, 오호 초등학교 하차</p>
					</div>
				</div>
			</div>
		</section>

		<div class="clr"></div>
		<footer class="footer">
			<div class="container">
				<div class="flt-1 clr"><img class="f-logo" src="../src/img/f_logo.png" alt="오션투유리조트"></div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							오션투유리조트 설악비치 호텔앤콘도<br>
							주소 : 강원 고성군 죽왕면 삼포해변길 9, 1<br>
							사업자등록번호 : 332-85-00016<br>
							통신판매업 : 제 2009-4290040-30-2-0033호
						</p>
						<p class="nth-2">
							Copyright 2016 OCEAN2YOU CONE. ALL RIGHTS RESERVED
						</p>
					</address>
				</div>
				<div class="flt-3 clr">
					<div class="d-1">
						<span class="s0"><img src="../src/img/i_phone.png" alt="전화"></span>
						<span class="s1">고객상담</span>
						<span class="s2">1666-1243</span>
					</div>
					<div class="d-2">
						<span class="s0"><img src="../src/img/i_mail.png" alt="이메일"></span>
						<span class="s1">E-mail 문의</span>
						<span class="s2">help@go.co.kr</span>
					</div>
				</div>
			</div>
		</footer>
		
		<a href="javascript:;" id="goTop"><img src="../src/img/goTop.jpg" alt="위로"></a>
	</div>
	
	
</body>
</html>