<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<style>
		body {font: ; color: ;}
		a {color: inherit;}
		
		.wrapper {background: #f7f7f7; padding-top: 10px;}
		
		/* section공통 */
		.section {position: relative; width: 100%;}
		.section > .content {position: relative; width: 1200px; margin: 0 auto; color: red;}
		
		/* section 1 */
		.section1 {background: url();}
		.section1 > .content {background: url();}
		
		
		
	</style>
</head>
<body>
	
	<div class="wrapper">
		<header class="header"></header>
	
		<div class="main">
			<section class="section section1">
				<div class="content">
					<a href="">링크</a>
					<div class="box-1">
						
					</div>
					<div class="box-2">
						
					</div>
				</div>
			</section>
			<section class="section section2">
				<div class="content"></div>
			</section>
			<section class="section section3">
				<div class="content"></div>
			</section>
			<section class="section section4">
				<div class="content"></div>
			</section>
		</div>
		
		<footer class="footer">
			
		</footer>
	</div>
	
</body>
</html>